Repository sumup-oss/circuit-ui, pull requests merged in 2021-07, with the labels that each got.

#1014 Ensure heading components use semantic elements
  .changeset/strange-buckets-teach.md
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
Labels: ♿ accessibility, 🗂 circuit-ui

#1013 Improve Popover API
  .changeset/brave-toes-eat.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/Popover/index.tsx
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1010 Support defaultValue prop in Select
  .changeset/gorgeous-chicken-smile.md
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.tsx
Labels: 🗂 circuit-ui

#1020 Fix Popover z-index issue
  .changeset/orange-yaks-unite.md
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
Labels: 🗂 circuit-ui

#1022 Show focus styles only when needed
  .changeset/real-dolphins-build.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Anchor/__snapshots__/Anchor.spec.tsx.snap
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/Calendar/__snapshots__/RangePicker.spec.js.snap
  packages/circuit-ui/components/Calendar/__snapshots__/SingleDayPicker.spec.js.snap
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.js
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/__snapshots__/CalendarWrapper.spec.js.snap
  packages/circuit-ui/components/CalendarTag/__snapshots__/CalendarTag.spec.js.snap
  packages/circuit-ui/components/CalendarTagTwoStep/__snapshots__/CalendarTagTwoStep.spec.js.snap
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Buttons/__snapshots__/Buttons.spec.js.snap
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
  packages/circuit-ui/components/Hamburger/__snapshots__/Hamburger.spec.tsx.snap
  packages/circuit-ui/components/IconButton/__snapshots__/IconButton.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/LoadingButton/__snapshots__/LoadingButton.spec.tsx.snap
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageList/__snapshots__/PageList.spec.tsx.snap
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/Selector/Selector.stories.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.js.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.js.snap
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Table/components/TableRow/__snapshots__/TableRow.spec.tsx.snap
  packages/circuit-ui/components/Tabs/__snapshots__/Tabs.spec.js.snap
  packages/circuit-ui/components/Tabs/components/Tab/Tab.js
  packages/circuit-ui/components/Tabs/components/Tab/__snapshots__/Tab.spec.js.snap
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
  packages/circuit-ui/components/Toggle/components/Switch/__snapshots__/Switch.spec.tsx.snap
  packages/circuit-ui/index.ts
  packages/circuit-ui/styles/style-mixins.docs.mdx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#1023 Add hooks for focus management
  .changeset/five-tigers-double.md
  .storybook/preview.js
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Sidebar/Sidebar.js
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Sidebar/components/NavItem/NavItem.js
  packages/circuit-ui/components/Step/hooks/useStep.js
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
  packages/circuit-ui/hooks/useClickEvent/index.ts
  packages/circuit-ui/hooks/useClickEvent/useClickEvent.spec.ts
  packages/circuit-ui/hooks/useClickEvent/useClickEvent.ts
  packages/circuit-ui/hooks/useClickOutside/index.ts
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.docs.mdx
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.spec.tsx
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.stories.tsx
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.ts
  packages/circuit-ui/hooks/useComponentSize/index.js
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.js
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.spec.js
  packages/circuit-ui/hooks/useEscapeKey/index.ts
  packages/circuit-ui/hooks/useEscapeKey/useEscapeKey.docs.mdx
  packages/circuit-ui/hooks/useEscapeKey/useEscapeKey.spec.ts
  packages/circuit-ui/hooks/useEscapeKey/useEscapeKey.stories.tsx
  packages/circuit-ui/hooks/useEscapeKey/useEscapeKey.ts
  packages/circuit-ui/hooks/useFocusList/index.ts
  packages/circuit-ui/hooks/useFocusList/useFocusList.docs.mdx
  packages/circuit-ui/hooks/useFocusList/useFocusList.spec.tsx
  packages/circuit-ui/hooks/useFocusList/useFocusList.stories.tsx
  packages/circuit-ui/hooks/useFocusList/useFocusList.ts
  packages/circuit-ui/hooks/useStack/index.ts
  packages/circuit-ui/hooks/useStack/useStack.spec.ts
  packages/circuit-ui/hooks/useStack/useStack.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/util/key-codes.js
  packages/circuit-ui/util/key-codes.spec.js
  packages/circuit-ui/util/key-codes.spec.tsx
  packages/circuit-ui/util/key-codes.ts
  yarn.lock
Labels: ♿ accessibility, 🗂 circuit-ui

#1032 Add support for style objects to the cx style mixin
  .changeset/pretty-carpets-count.md
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.ts
  yarn.lock
Labels: 🗂 circuit-ui

#1034 Add shadow style mixin
  .changeset/pretty-scissors-press.md
  packages/circuit-ui/index.ts
  packages/circuit-ui/styles/style-helpers.ts
  packages/circuit-ui/styles/style-mixins.docs.mdx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#1036 Reduce the thickness of the Hr component
  .changeset/seven-radios-help.md
  packages/circuit-ui/components/Hr/Hr.docs.mdx
  packages/circuit-ui/components/Hr/Hr.tsx
  packages/circuit-ui/components/Hr/__snapshots__/Hr.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/components/Separator/__snapshots__/Separator.spec.js.snap
Labels: 🗂 circuit-ui

#1037 Document and export the inputOutline style mixin
  .changeset/cold-beds-sort.md
  packages/circuit-ui/index.ts
  packages/circuit-ui/styles/style-mixins.docs.mdx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#1038 Extend CardProps interface
  .changeset/early-cherries-yawn.md
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/components/Modal/components/ModalWrapper/ModalWrapper.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1035 Revert noMargin breaking change
  .storybook/components/Swatch.js
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Anchor/__snapshots__/Anchor.spec.tsx.snap
  packages/circuit-ui/components/Body/Body.spec.tsx
  packages/circuit-ui/components/Body/Body.stories.tsx
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Body/__snapshots__/Body.spec.tsx.snap
  packages/circuit-ui/components/Card/Card.stories.tsx
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Status/__snapshots__/Status.spec.js.snap
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.stories.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.stories.tsx
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
  packages/circuit-ui/components/Headline/Headline.spec.tsx
  packages/circuit-ui/components/Headline/Headline.stories.tsx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/Headline/__snapshots__/Headline.spec.tsx.snap
  packages/circuit-ui/components/InlineMessage/InlineMessage.spec.tsx
  packages/circuit-ui/components/InlineMessage/InlineMessage.stories.tsx
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/InlineMessage/__snapshots__/InlineMessage.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.spec.tsx
  packages/circuit-ui/components/Input/Input.stories.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/List/List.spec.tsx
  packages/circuit-ui/components/List/List.stories.tsx
  packages/circuit-ui/components/List/List.tsx
  packages/circuit-ui/components/List/__snapshots__/List.spec.tsx.snap
  packages/circuit-ui/components/Notification/Notification.stories.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.stories.tsx
  packages/circuit-ui/components/NotificationList/NotificationList.stories.tsx
  packages/circuit-ui/components/Pagination/components/PageSelect/PageSelect.tsx
  packages/circuit-ui/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.stories.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/Selector/Selector.spec.tsx
  packages/circuit-ui/components/Selector/Selector.stories.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
  packages/circuit-ui/components/Step/examples/MultiStepForm.js
  packages/circuit-ui/components/SubHeadline/SubHeadline.spec.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.stories.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/SubHeadline/__snapshots__/SubHeadline.spec.tsx.snap
  packages/circuit-ui/components/TextArea/TextArea.spec.tsx
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/Toggle/Toggle.spec.tsx
  packages/circuit-ui/components/Toggle/Toggle.stories.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
Labels: 🗂 circuit-ui

#1039 Change all breakpoints to strings
  .changeset/happy-ladybugs-protect.md
  .changeset/modern-candles-burn.md
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/types/index.ts
  packages/design-tokens/utils/media-queries.spec.ts
  packages/design-tokens/utils/media-queries.ts
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 design-tokens

#1046 Only control focus when toggling Popover
  .changeset/soft-pumas-cry.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/package.json
  packages/circuit-ui/util/test-utils.tsx
  yarn.lock
Labels: ♿ accessibility, 🐞 bug, 🗂 circuit-ui

#1047 Improve the ImageInput for custom components
  .changeset/eighty-snails-vanish.md
  .changeset/good-buttons-wonder.md
  .changeset/rotten-balloons-allow.md
  .storybook/components/Teaser.js
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
  packages/circuit-ui/components/ValidationHint/__snapshots__/ValidationHint.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1045 Minus Icon
  .changeset/heavy-toys-thank.md
  packages/icons/web/v1/minus_small.svg
Labels: 🗂 icons

#1049 Add minus icon to manifest
  .changeset/witty-gorillas-rule.md
  packages/icons/manifest.json
Labels: 🐞 bug, 🗂 icons

#1051 Update Card component interface
  .changeset/nice-camels-boil.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
Labels: 🗂 circuit-ui

#1053 Add support for drag'n'drop and paste to ImageInput
  .changeset/dull-worms-exist.md
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/util/test-utils.tsx
Labels: 🗂 circuit-ui

#1055 Fixes on the Popover component
  .changeset/shiny-rabbits-report.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
Labels: 🗂 circuit-ui

#1059 Render the Popover in a React Portal
  .changeset/fuzzy-drinks-attack.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/Portal/Portal.js
  packages/circuit-ui/components/Portal/Portal.spec.tsx
  packages/circuit-ui/components/Portal/Portal.ts
  packages/circuit-ui/components/Portal/index.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1061 Removed the Modal's min-height
  .changeset/gentle-pillows-build.md
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
Labels: 🗂 circuit-ui

#1062 Add jsxImportSource to the Circuit UI tsconfig.json
  .changeset/rare-news-check.md
  packages/circuit-ui/tsconfig.json
Labels: 🗂 circuit-ui

#1063 Fix the Plus icon's fill to inherit the currentColor
  .changeset/beige-lies-mix.md
  packages/icons/web/v1/plus_large.svg
  packages/icons/web/v1/plus_small.svg
Labels: 🗂 icons

#1065 Ensure proper stacking order for Popover inside Modal
  .changeset/selfish-buses-switch.md
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/StackContext/StackContext.tsx
  packages/circuit-ui/components/StackContext/index.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1067 Fix overflow scrolling in Modal
  .changeset/giant-cows-beg.md
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1068 Fixed the contextual modal heights to match content height
  .changeset/wise-lions-dream.md
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
Labels: 🗂 circuit-ui

#1070 Fixes in the Modal
  .changeset/kind-bears-jump.md
  .changeset/nasty-walls-trade.md
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1075 Fix the typography sizes codemod warnings
  packages/circuit-ui/cli/migrate/typography-sizes.ts
Labels: 🗂 circuit-ui

#1074 Persist the Button active state
  .changeset/ninety-moons-listen.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Buttons/__snapshots__/Buttons.spec.js.snap
  packages/circuit-ui/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
  packages/circuit-ui/components/Hamburger/__snapshots__/Hamburger.spec.tsx.snap
  packages/circuit-ui/components/IconButton/__snapshots__/IconButton.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/LoadingButton/__snapshots__/LoadingButton.spec.tsx.snap
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageList/__snapshots__/PageList.spec.tsx.snap
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.js.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.js.snap
  packages/circuit-ui/components/Tag/__snapshots__/Tag.spec.tsx.snap
Labels: 🗂 circuit-ui

#1073 Improve semantics of the SelectorGroup
  .changeset/silent-ladybugs-scream.md
  .changeset/three-moons-kick.md
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.spec.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
Labels: ♿ accessibility, 🗂 circuit-ui

#1072 Fix useClickOutside when the target element is removed
  .changeset/spicy-knives-trade.md
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.spec.tsx
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1077 Allow overflow in Modals and update Calendar styles
  .changeset/shaggy-chicken-hang.md
  .changeset/two-bats-call.md
  packages/circuit-ui/components/Calendar/__snapshots__/RangePicker.spec.js.snap
  packages/circuit-ui/components/Calendar/__snapshots__/SingleDayPicker.spec.js.snap
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarImportedStyles.js
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.js
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.spec.js
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/__snapshots__/CalendarWrapper.spec.js.snap
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
Labels: ♿ accessibility, 🐞 bug, 🗂 circuit-ui

#1078 CurrencyInput hotfix for Chile
  .changeset/popular-dodos-type.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
Labels: 🗂 circuit-ui
