Repository sumup-oss/circuit-ui, pull requests merged in 2021-12, with the labels that each got.

#1294 Add accessibility documentation for heading components
  packages/circuit-ui/components/Headline/Headline.docs.mdx
  packages/circuit-ui/components/SubHeadline/SubHeadline.docs.mdx
  packages/circuit-ui/components/Title/Title.docs.mdx
Labels: 🗂 circuit-ui

#1296 Add size 32 Pix card scheme icon
  .changeset/sixty-weeks-cry.md
  packages/icons/manifest.json
  packages/icons/web/v2/pix_32.svg
Labels: 🗂 icons

#1303 Upgrade to Storybook 6.4
  .storybook/.babelrc
  .storybook/main.js
  babel.config.json
  package.json
  packages/circuit-ui/.babelrc.json
  packages/circuit-ui/cli/index.ts
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.js
  packages/circuit-ui/components/Card/components/Header/Header.tsx
  packages/circuit-ui/components/Col/utils.js
  packages/circuit-ui/components/ComponentsContext/ComponentsContext.ts
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.spec.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/utils.ts
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
  packages/circuit-ui/hooks/useClickEvent/useClickEvent.ts
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.spec.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/util/regex.js
  packages/circuit-ui/util/shared-prop-types.js
  packages/create-sumup-next-app/template/babel.config.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 create-sumup-next-app

#1304 NotificationBanner bugfix
  .changeset/four-lies-itch.md
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
Labels: 🗂 circuit-ui

#1306 Rerender the Table when rows change
  .changeset/cuddly-brooms-sip.md
  packages/circuit-ui/components/Table/Table.tsx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1308 Initialise Table rows on first render
  .changeset/happy-needles-end.md
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.tsx
  packages/circuit-ui/components/Table/components/SortArrow/__snapshots__/SortArrow.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHead/__snapshots__/TableHead.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHeader/__snapshots__/TableHeader.spec.tsx.snap
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1310 Convert Tooltip to TypeScript
  .changeset/green-ghosts-walk.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/Tooltip/Tooltip.spec.tsx
  packages/circuit-ui/components/Tooltip/Tooltip.stories.tsx
  packages/circuit-ui/components/Tooltip/Tooltip.tsx
  packages/circuit-ui/components/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
  packages/circuit-ui/components/Tooltip/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1318 Add accessibility section for text
  packages/circuit-ui/components/Body/Body.docs.mdx
  packages/circuit-ui/components/BodyLarge/BodyLarge.docs.mdx
  packages/circuit-ui/components/Headline/Headline.docs.mdx
Labels: 🗂 circuit-ui

#1325 chore: add missing packages to getting started commands
  docs/introduction/getting-started.stories.mdx
Labels: 🚢 ready to merge

#1326 Add accessibility docs for the List component
  packages/circuit-ui/components/Body/Body.docs.mdx
  packages/circuit-ui/components/BodyLarge/BodyLarge.docs.mdx
  packages/circuit-ui/components/Headline/Headline.docs.mdx
  packages/circuit-ui/components/List/List.docs.mdx
  packages/circuit-ui/components/List/List.stories.tsx
  packages/circuit-ui/components/List/List.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.docs.mdx
  packages/circuit-ui/components/Title/Title.docs.mdx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1328 Remove Popover event listeners when it's closed
  .changeset/four-toes-kick.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1295 Add notification toast
  .changeset/curly-buttons-compete.md
  packages/circuit-ui/components/NotificationToast/NotificationToast.docs.mdx
  packages/circuit-ui/components/NotificationToast/NotificationToast.spec.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.stories.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/index.tsx
  packages/circuit-ui/components/ToastContext/ToastContext.spec.tsx
  packages/circuit-ui/components/ToastContext/ToastContext.tsx
  packages/circuit-ui/components/ToastContext/createUseToast.spec.tsx
  packages/circuit-ui/components/ToastContext/createUseToast.ts
  packages/circuit-ui/components/ToastContext/index.ts
  packages/circuit-ui/components/ToastContext/types.ts
  packages/circuit-ui/hooks/useStack/useStack.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui
