Repository sumup-oss/circuit-ui, pull requests merged in 2021-04, with the labels that each got.

#883 Fix accessibility of flag icons
  .changeset/chatty-planes-juggle.md
  .changeset/cuddly-apes-remain.md
  .storybook/public/images/logo-name.svg
  lint-staged.config.js
  package.json
  packages/create-sumup-next-app/template/public/safari-pinned-tab.svg
  packages/create-sumup-react-app/template/src/assets/logo.svg
  packages/icons/package.json
  packages/icons/web/v1/bank_small.svg
  packages/icons/web/v1/circle_checkmark_small.svg
  packages/icons/web/v1/circle_cross_small.svg
  packages/icons/web/v1/circle_help_small.svg
  packages/icons/web/v1/circle_info_small.svg
  packages/icons/web/v1/circle_plus_small.svg
  packages/icons/web/v1/circle_warning_small.svg
  packages/icons/web/v1/download_small.svg
  packages/icons/web/v1/flag_at_small.svg
  packages/icons/web/v1/flag_be_small.svg
  packages/icons/web/v1/flag_bg_small.svg
  packages/icons/web/v1/flag_br_small.svg
  packages/icons/web/v1/flag_ch_small.svg
  packages/icons/web/v1/flag_cl_small.svg
  packages/icons/web/v1/flag_cy_small.svg
  packages/icons/web/v1/flag_cz_small.svg
  packages/icons/web/v1/flag_de_small.svg
  packages/icons/web/v1/flag_dk_small.svg
  packages/icons/web/v1/flag_ee_small.svg
  packages/icons/web/v1/flag_es_small.svg
  packages/icons/web/v1/flag_fi_small.svg
  packages/icons/web/v1/flag_fr_small.svg
  packages/icons/web/v1/flag_gb_small.svg
  packages/icons/web/v1/flag_gr_small.svg
  packages/icons/web/v1/flag_hu_small.svg
  packages/icons/web/v1/flag_ie_small.svg
  packages/icons/web/v1/flag_it_small.svg
  packages/icons/web/v1/flag_lt_small.svg
  packages/icons/web/v1/flag_lu_small.svg
  packages/icons/web/v1/flag_lv_small.svg
  packages/icons/web/v1/flag_mt_small.svg
  packages/icons/web/v1/flag_nl_small.svg
  packages/icons/web/v1/flag_no_small.svg
  packages/icons/web/v1/flag_pl_small.svg
  packages/icons/web/v1/flag_pt_small.svg
  packages/icons/web/v1/flag_se_small.svg
  packages/icons/web/v1/flag_sk_small.svg
  packages/icons/web/v1/flag_sl_small.svg
  packages/icons/web/v1/flag_us_small.svg
  packages/icons/web/v1/refresh_small.svg
  packages/icons/web/v1/share_small.svg
  svgo.config.js
Labels: accessibility, bug

#852 Migrate Table to TypeScript
  .changeset/shaggy-news-report.md
  .changeset/tender-poets-enjoy.md
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/Table.stories.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.spec.tsx
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.tsx
  packages/circuit-ui/components/Table/components/SortArrow/__snapshots__/SortArrow.spec.tsx.snap
  packages/circuit-ui/components/Table/components/SortArrow/index.ts
  packages/circuit-ui/components/Table/components/TableBody/TableBody.spec.tsx
  packages/circuit-ui/components/Table/components/TableBody/TableBody.tsx
  packages/circuit-ui/components/Table/components/TableBody/__snapshots__/TableBody.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableBody/index.ts
  packages/circuit-ui/components/Table/components/TableCell/TableCell.spec.tsx
  packages/circuit-ui/components/Table/components/TableCell/TableCell.stories.tsx
  packages/circuit-ui/components/Table/components/TableCell/TableCell.ts
  packages/circuit-ui/components/Table/components/TableCell/__snapshots__/TableCell.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableCell/index.ts
  packages/circuit-ui/components/Table/components/TableHead/TableHead.spec.tsx
  packages/circuit-ui/components/Table/components/TableHead/TableHead.tsx
  packages/circuit-ui/components/Table/components/TableHead/__snapshots__/TableHead.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHead/index.ts
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.spec.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.stories.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/components/TableHeader/__snapshots__/TableHeader.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHeader/index.ts
  packages/circuit-ui/components/Table/components/TableRow/TableRow.spec.tsx
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Table/components/TableRow/__snapshots__/TableRow.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableRow/index.ts
  packages/circuit-ui/components/Table/constants.ts
  packages/circuit-ui/components/Table/index.ts
  packages/circuit-ui/components/Table/types.ts
  packages/circuit-ui/components/Table/utils.js
  packages/circuit-ui/components/Table/utils.spec.ts
  packages/circuit-ui/components/Table/utils.ts
Labels: accessibility

#898 Fix accessibility of more flag icons
  .changeset/funny-ghosts-care.md
  packages/icons/web/v1/flag_sk_small.svg
  packages/icons/web/v1/flag_sl_small.svg
Labels: ♿ accessibility, 🐞 bug, 🗂 icons

#900 Upgrade dependencies
  .storybook/main.js
  packages/circuit-ui/components/BaseStyles/BaseStylesService.ts
  packages/circuit-ui/components/BaseStyles/__snapshots__/BaseStylesService.spec.ts.snap
  packages/circuit-ui/components/Card/components/Footer/Footer.tsx
  packages/circuit-ui/components/List/List.docs.mdx
  packages/circuit-ui/components/Step/examples/YesOrNoSlider.js
  packages/circuit-ui/components/Tooltip/Tooltip.stories.js
  packages/circuit-ui/package.json
  packages/circuit-ui/styles/style-mixins.stories.tsx
  yarn.lock
Labels: 📦 dependencies, 🗂 circuit-ui

#901 Load favicons from static.sumup.com
  packages/create-sumup-next-app/template/next.config.js
  packages/create-sumup-next-app/template/pages/_document.tsx
  packages/create-sumup-next-app/template/public/android-chrome-192x192.png
  packages/create-sumup-next-app/template/public/android-chrome-512x512.png
  packages/create-sumup-next-app/template/public/apple-touch-icon.png
  packages/create-sumup-next-app/template/public/browserconfig.xml
  packages/create-sumup-next-app/template/public/favicon-16x16.png
  packages/create-sumup-next-app/template/public/favicon-32x32.png
  packages/create-sumup-next-app/template/public/favicon.ico
  packages/create-sumup-next-app/template/public/mstile-144x144.png
  packages/create-sumup-next-app/template/public/mstile-150x150.png
  packages/create-sumup-next-app/template/public/mstile-310x150.png
  packages/create-sumup-next-app/template/public/mstile-310x310.png
  packages/create-sumup-next-app/template/public/mstile-70x70.png
  packages/create-sumup-next-app/template/public/safari-pinned-tab.svg
  packages/create-sumup-next-app/template/public/site.webmanifest
  packages/create-sumup-next-app/template/setupTests.tsx
Labels: 🗂 create-sumup-next-app

#908 Don't render empty children in Sidebar Aggregator
  .changeset/serious-spies-itch.md
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
Labels: 🐞 bug, 🗂 circuit-ui
