Repository sumup-oss/circuit-ui, pull requests merged in 2021-06, with the labels that each got.

#922 Add Avatar and ImageInput components
  .changeset/cuddly-bats-buy.md
  .changeset/sharp-mugs-marry.md
  packages/circuit-ui/components/Avatar/Avatar.docs.mdx
  packages/circuit-ui/components/Avatar/Avatar.spec.tsx
  packages/circuit-ui/components/Avatar/Avatar.stories.tsx
  packages/circuit-ui/components/Avatar/Avatar.tsx
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/circuit-ui/components/Avatar/index.ts
  packages/circuit-ui/components/ImageInput/ImageInput.docs.mdx
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.stories.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#961 Add Plus icons to @sumup/icons
  .changeset/orange-seahorses-complain.md
  packages/icons/manifest.json
  packages/icons/web/v1/plus_large.svg
  packages/icons/web/v1/plus_small.svg
Labels: 🗂 icons

#962 Add a new peta borderRadius size to @sumup/design-tokens
  .changeset/smart-boats-camp.md
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/types/index.ts
Labels: 🗂 design-tokens

#890 Change background color to white
  .changeset/chilled-numbers-occur.md
  .changeset/witty-adults-taste.md
  packages/circuit-ui/components/BaseStyles/__snapshots__/BaseStylesService.spec.ts.snap
  packages/circuit-ui/components/Card/Card.docs.mdx
  packages/circuit-ui/components/Card/Card.spec.tsx
  packages/circuit-ui/components/Card/Card.stories.tsx
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/components/Card/__snapshots__/Card.spec.tsx.snap
  packages/circuit-ui/components/CardList/CardList.js
  packages/circuit-ui/components/CardList/__snapshots__/CardList.spec.js.snap
  packages/circuit-ui/components/CardList/components/Item/Item.js
  packages/circuit-ui/components/CardList/components/Item/__snapshots__/Item.spec.js.snap
  packages/circuit-ui/components/Modal/components/ModalWrapper/ModalWrapper.tsx
  packages/circuit-ui/components/Modal/components/ModalWrapper/__snapshots__/ModalWrapper.spec.tsx.snap
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationBanner/__snapshots__/NotificationBanner.spec.tsx.snap
  packages/circuit-ui/components/NotificationList/NotificationList.tsx
  packages/circuit-ui/components/NotificationList/__snapshots__/NotificationList.spec.tsx.snap
  packages/circuit-ui/components/Selector/Selector.stories.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.ts
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/light.ts
Labels: ♿ accessibility, 🎨 design, 🗂 circuit-ui, 🗂 design-tokens

#971 Fix Popover story
  packages/circuit-ui/components/Popover/Popover.stories.js
Labels: 🗂 circuit-ui

#960 Improve Table component API
  .changeset/clean-tomatoes-repeat.md
  .changeset/flat-crabs-hear.md
  .changeset/giant-doors-remember.md
  .changeset/heavy-queens-bathe.md
  .changeset/polite-mugs-visit.md
  .changeset/real-nails-grow.md
  .changeset/silent-nails-hide.md
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Table/Table.docs.mdx
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/Table.stories.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.spec.tsx
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.tsx
  packages/circuit-ui/components/Table/components/TableBody/TableBody.spec.tsx
  packages/circuit-ui/components/Table/components/TableBody/TableBody.tsx
  packages/circuit-ui/components/Table/components/TableBody/__snapshots__/TableBody.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableCell/TableCell.spec.tsx
  packages/circuit-ui/components/Table/components/TableCell/TableCell.ts
  packages/circuit-ui/components/Table/components/TableCell/__snapshots__/TableCell.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHead/TableHead.spec.tsx
  packages/circuit-ui/components/Table/components/TableHead/TableHead.tsx
  packages/circuit-ui/components/Table/components/TableHead/__snapshots__/TableHead.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.spec.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/components/TableHeader/__snapshots__/TableHeader.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableRow/TableRow.spec.tsx
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Table/components/TableRow/__snapshots__/TableRow.spec.tsx.snap
  packages/circuit-ui/components/Table/constants.ts
  packages/circuit-ui/components/Table/index.ts
  packages/circuit-ui/components/Table/types.ts
  packages/circuit-ui/components/Table/utils.spec.ts
  packages/circuit-ui/components/Table/utils.ts
  packages/circuit-ui/index.ts
Labels: ♿ accessibility, 🗂 circuit-ui

#978 Replace Avatar identity variant picture to fix unstable stories
  packages/circuit-ui/components/Avatar/Avatar.spec.tsx
  packages/circuit-ui/components/Avatar/Avatar.stories.tsx
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#979 Rename NotificationBanner component
  .changeset/eleven-parrots-hope.md
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v3.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v3.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/component-names-v3.ts
  packages/circuit-ui/components/Notification/Notification.docs.mdx
  packages/circuit-ui/components/Notification/Notification.stories.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.spec.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.stories.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.tsx
  packages/circuit-ui/components/NotificationCard/__snapshots__/NotificationCard.spec.tsx.snap
  packages/circuit-ui/components/NotificationCard/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#980 Update border-radii design tokens
  .changeset/dirty-bottles-reflect.md
  .changeset/eleven-parrots-hope.md
  .changeset/funny-scissors-know.md
  .changeset/healthy-stingrays-count.md
  .changeset/six-berries-admire.md
  .storybook/components/BorderWidth.js
  .storybook/components/IconSize.js
  .storybook/components/Spacing.js
  .storybook/components/Swatch.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-typography.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-typography.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v3.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v3.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/theme-border-radius.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/theme-border-radius.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/component-names-v3.ts
  packages/circuit-ui/cli/migrate/theme-border-radius.ts
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Anchor/__snapshots__/Anchor.spec.tsx.snap
  packages/circuit-ui/components/Avatar/Avatar.tsx
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.js
  packages/circuit-ui/components/CalendarTag/__snapshots__/CalendarTag.spec.js.snap
  packages/circuit-ui/components/CalendarTagTwoStep/__snapshots__/CalendarTagTwoStep.spec.js.snap
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/components/CardList/CardList.js
  packages/circuit-ui/components/CardList/components/Item/Item.js
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/InlineMessage/__snapshots__/InlineMessage.spec.tsx.snap
  packages/circuit-ui/components/NotificationCard/NotificationCard.tsx
  packages/circuit-ui/components/NotificationList/NotificationList.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/components/SubNavList/SubNavList.js
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/circuit-ui/components/Tooltip/Tooltip.js
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/types/index.ts
  packages/design-tokens/utils/theme-prop-type.ts
  packages/icons/web/v1/plus_large.svg
  packages/icons/web/v1/plus_small.svg
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons

#981 Merge main into next
  package.json
  packages/circuit-ui/components/Avatar/Avatar.spec.tsx
  packages/circuit-ui/components/Avatar/Avatar.stories.tsx
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  yarn.lock
Labels: 🗂 circuit-ui

#943 Add Selector size variations and switch SelectorGroup to horizontal orientation
  .changeset/hot-cheetahs-press.md
  packages/circuit-ui/components/Selector/Selector.docs.mdx
  packages/circuit-ui/components/Selector/Selector.stories.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.spec.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
Labels: ⚛️ component, 🗂 circuit-ui, 🗂 design-tokens

#944 Add Popover menu component
  .changeset/tame-mayflies-move.md
  packages/circuit-ui/components/Popover/Popover.docs.mdx
  packages/circuit-ui/components/Popover/Popover.js
  packages/circuit-ui/components/Popover/Popover.spec.js
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.js
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/PopoverService.js
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.js.snap
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/Popover/index.js
  packages/circuit-ui/components/Popover/index.tsx
  packages/circuit-ui/jest.setup.js
  packages/circuit-ui/package.json
  packages/circuit-ui/styles/style-mixins.ts
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens

#982 Extend the borderRadius update codemod
  packages/circuit-ui/cli/migrate/__testfixtures__/theme-border-radius.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/theme-border-radius.output.js
  packages/circuit-ui/cli/migrate/theme-border-radius.ts
Labels: 🗂 circuit-ui

#983 Remove static style extraction feature
  .eslintignore
  docs/features/static-css.stories.mdx
  docs/features/theme.stories.mdx
  packages/circuit-ui/.babelrc.json
  packages/circuit-ui/.eslintignore
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/package.json
  packages/create-sumup-next-app/.eslintignore
  packages/create-sumup-react-app/.eslintignore
  packages/design-tokens/.eslintignore
  packages/icons/.eslintignore
  scripts/static-styles/__fixtures__/functional-component.js
  scripts/static-styles/__fixtures__/index.js
  scripts/static-styles/__fixtures__/styled-component.js
  scripts/static-styles/__snapshots__/component-styles.spec.js.snap
  scripts/static-styles/cli.js
  scripts/static-styles/component-styles.js
  scripts/static-styles/component-styles.spec.js
  scripts/static-styles/config.js
  scripts/static-styles/custom-properties.js
  scripts/static-styles/custom-properties.spec.js
  scripts/static-styles/global-styles.js
  scripts/static-styles/global-styles.spec.js
  scripts/static-styles/index.js
  scripts/static-styles/render.js
  scripts/static-styles/render.spec.js
Labels: 🗂 circuit-ui, 🗂 create-sumup-next-app, 🗂 create-sumup-react-app, 🗂 design-tokens, 🗂 icons

#984 Update default component heights
  .changeset/few-tomatoes-march.md
  .changeset/heavy-dolphins-juggle.md
  .changeset/rotten-hornets-peel.md
  .changeset/shy-games-poke.md
  packages/circuit-ui/cli/migrate/__testfixtures__/button-default-size.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/button-default-size.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/button-default-size.ts
  packages/circuit-ui/components/Button/Button.spec.tsx
  packages/circuit-ui/components/Button/Button.stories.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/CalendarTag/__snapshots__/CalendarTag.spec.js.snap
  packages/circuit-ui/components/CalendarTagTwoStep/__snapshots__/CalendarTagTwoStep.spec.js.snap
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Buttons/__snapshots__/Buttons.spec.js.snap
  packages/circuit-ui/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/Hamburger/__snapshots__/Hamburger.spec.tsx.snap
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/IconButton/__snapshots__/IconButton.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/LoadingButton/LoadingButton.tsx
  packages/circuit-ui/components/LoadingButton/__snapshots__/LoadingButton.spec.tsx.snap
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageList/__snapshots__/PageList.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageSelect/__snapshots__/PageSelect.spec.tsx.snap
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.js.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.js.snap
  packages/circuit-ui/components/Spinner/Spinner.spec.tsx
  packages/circuit-ui/components/Spinner/Spinner.stories.tsx
  packages/circuit-ui/components/Spinner/Spinner.tsx
  packages/circuit-ui/components/Spinner/__snapshots__/Spinner.spec.tsx.snap
  packages/circuit-ui/components/Spinner/index.ts
  packages/circuit-ui/components/Tabs/__snapshots__/Tabs.spec.js.snap
  packages/circuit-ui/components/Tabs/components/TabList/TabList.js
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/index.ts
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/types/index.ts
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#993 Update List component sizes
  .changeset/healthy-stingrays-count.md
  packages/circuit-ui/cli/migrate/__testfixtures__/typography-sizes.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/typography-sizes.output.js
  packages/circuit-ui/cli/migrate/typography-sizes.ts
  packages/circuit-ui/components/List/List.spec.tsx
  packages/circuit-ui/components/List/List.stories.tsx
  packages/circuit-ui/components/List/List.tsx
  packages/circuit-ui/components/List/__snapshots__/List.spec.tsx.snap
Labels: 🗂 circuit-ui

#949 Consolidate and simplify the modal API
  .changeset/stupid-lemons-cough.md
  docs/introduction/getting-started.stories.mdx
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Carousel/Carousel.js
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Modal/Modal.docs.mdx
  packages/circuit-ui/components/Modal/Modal.embed.stories.tsx
  packages/circuit-ui/components/Modal/Modal.spec.tsx
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/ModalContext.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/Modal/components/ModalFooter/ModalFooter.spec.tsx
  packages/circuit-ui/components/Modal/components/ModalFooter/ModalFooter.tsx
  packages/circuit-ui/components/Modal/components/ModalFooter/__snapshots__/ModalFooter.spec.tsx.snap
  packages/circuit-ui/components/Modal/components/ModalHeader/ModalHeader.tsx
  packages/circuit-ui/components/Modal/components/ModalHeader/__snapshots__/ModalHeader.spec.tsx.snap
  packages/circuit-ui/components/Modal/components/ModalWrapper/ModalWrapper.spec.tsx
  packages/circuit-ui/components/Modal/components/ModalWrapper/ModalWrapper.tsx
  packages/circuit-ui/components/Modal/components/ModalWrapper/__snapshots__/ModalWrapper.spec.tsx.snap
  packages/circuit-ui/components/Modal/components/index.ts
  packages/circuit-ui/components/Modal/index.ts
  packages/circuit-ui/components/Modal/useModal.ts
  packages/circuit-ui/components/ModalContext/ModalContext.spec.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/ModalContext/index.ts
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Sidebar/Sidebar.js
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Sidebar/components/NavItem/NavItem.js
  packages/circuit-ui/components/Step/Step.js
  packages/circuit-ui/components/Step/Step.spec.js
  packages/circuit-ui/components/Step/hooks/useStep.js
  packages/circuit-ui/components/Step/hooks/useStep.spec.js
  packages/circuit-ui/components/Step/index.js
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
  packages/circuit-ui/hooks/useClickHandler.spec.ts
  packages/circuit-ui/hooks/useClickHandler.ts
  packages/circuit-ui/hooks/useComponentSize.js
  packages/circuit-ui/hooks/useComponentSize.spec.js
  packages/circuit-ui/hooks/useStack.spec.ts
  packages/circuit-ui/hooks/useStack.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.json
  packages/circuit-ui/util/test-utils.tsx
  yarn.lock
Labels: feature, ♿ accessibility, 📋 documentation, 🗂 circuit-ui

#996 Introduce a simple logger
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/package.json
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/util/deprecate.ts
  packages/circuit-ui/util/logger.ts
  yarn.lock
Labels: 🗂 circuit-ui

#997 Export the typography, inputOutline and shadow mixins from Circuit
  .changeset/gentle-olives-listen.md
  packages/circuit-ui/index.ts
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#998 Extend the typography-sizes changeset to transform Anchors
  .changeset/nice-kids-punch.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/cli/migrate/__testfixtures__/body-variant-highlight.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/body-variant-highlight.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/typography-sizes.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/typography-sizes.output.js
  packages/circuit-ui/cli/migrate/body-variant-highlight.ts
  packages/circuit-ui/cli/migrate/typography-sizes.ts
  packages/create-sumup-next-app/CHANGELOG.md
Labels: 🗂 circuit-ui, 🗂 create-sumup-next-app

#1000 Improve Popover interface and accessibility
  .changeset/friendly-birds-fail.md
  .changeset/wise-yaks-try.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/Button.spec.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/CloseButton/CloseButton.spec.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Popover/Popover.docs.mdx
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/util/key-codes.js
Labels: ♿ accessibility, ⚛️ component, 🗂 circuit-ui

#1007 Consistently track modal events
  .changeset/blue-hounds-notice.md
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.spec.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/ModalContext/createUseModal.spec.tsx
  packages/circuit-ui/components/ModalContext/createUseModal.ts
  packages/circuit-ui/components/ModalContext/index.ts
  packages/circuit-ui/components/ModalContext/types.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1008 Require the `as` prop in heading components
  .changeset/cuddly-taxis-behave.md
  packages/circuit-ui/components/Headline/Headline.docs.mdx
  packages/circuit-ui/components/Headline/Headline.spec.tsx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.docs.mdx
  packages/circuit-ui/components/SubHeadline/SubHeadline.spec.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
Labels: ♿ accessibility, 🗂 circuit-ui
