Repository sumup-oss/circuit-ui, pull requests merged in 2021-05, with the labels that each got.

#923 Add destructive button variant
  .changeset/short-bikes-live.md
  packages/circuit-ui/components/Button/Button.docs.mdx
  packages/circuit-ui/components/Button/Button.stories.tsx
  packages/circuit-ui/components/Button/Button.tsx
Labels: 🎨 design, 🗂 circuit-ui

#932 Add optional label to Input components
  .changeset/light-seas-kick.md
  packages/circuit-ui/components/Input/Input.docs.mdx
  packages/circuit-ui/components/Input/Input.stories.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Select/Select.stories.tsx
  packages/circuit-ui/components/Select/Select.tsx
Labels: 🗂 circuit-ui

#924 Support null/undefined table cells
  .changeset/gentle-moles-collect.md
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/components/Table/types.ts
  packages/circuit-ui/components/Table/utils.ts
Labels: 🗂 circuit-ui

#933 Fix typos in the theme prop type
  .changeset/pretty-crews-own.md
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🐞 bug, 🗂 design-tokens

#936 Fix alignment of multiline RadioButton labels
  .changeset/ninety-jeans-drive.md
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#935 Add support for the new JSX transform
  .changeset/popular-keys-fetch.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Card/Card.stories.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CloseButton/CloseButton.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.stories.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/InlineElements/InlineElements.stories.tsx
  packages/circuit-ui/components/Input/Input.stories.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/LoadingButton/LoadingButton.tsx
  packages/circuit-ui/components/Modal/Modal.embed.stories.tsx
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Notification/Notification.stories.tsx
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/ProgressBar/ProgressBar.stories.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/Sidebar/Sidebar.stories.js
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Sidebar/components/NavItem/NavItem.js
  packages/circuit-ui/components/Sidebar/components/Separator/Separator.js
  packages/circuit-ui/components/Spinner/Spinner.stories.tsx
  packages/circuit-ui/components/Step/examples/MultiStepForm.js
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.tsx
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Tabs/components/TabList/TabList.js
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
Labels: feature, 🗂 circuit-ui

#937 Continously test starter templates
  .changeset/few-ducks-move.md
  .changeset/gentle-moles-collect.md
  .changeset/ninety-jeans-drive.md
  .changeset/shy-files-fix.md
  .github/workflows/cna.yml
  .github/workflows/cra.yml
  packages/create-sumup-next-app/template/package.json
  packages/create-sumup-react-app/template.json
  scripts/verify-template.js
Labels: 🗂 create-sumup-next-app, 🗂 create-sumup-react-app

#946 Add method to close a modal
  .changeset/metal-bananas-drive.md
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/ModalContext.tsx
Labels: feature, 🗂 circuit-ui

#945 Add inset option to focusOutline style mixin
  .changeset/thick-parents-wave.md
  packages/circuit-ui/styles/style-mixins.docs.mdx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
  packages/circuit-ui/styles/style-mixins.ts
Labels: feature, 🗂 circuit-ui
