Repository sumup-oss/circuit-ui, pull requests merged in 2021-08, with the labels that each got.

#1082 Update Hamburger design
  .changeset/fluffy-ravens-know.md
  .changeset/silly-laws-tap.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/circuit-ui/components/Hamburger/Hamburger.spec.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.stories.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/Hamburger/__snapshots__/Hamburger.spec.tsx.snap
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageList/__snapshots__/PageList.spec.tsx.snap
Labels: 🗂 circuit-ui

#1083 Add an escape hatch for a11y errors
  .changeset/green-moons-clean.md
  .storybook/main.js
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/LoadingButton/LoadingButton.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
Labels: 🗂 circuit-ui

#1085 Pass a label to the ImageInput's presentational AddButton to prevent it from throwing
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
Labels: 🗂 circuit-ui

#1087 Improve immersive Modal display on iOS
  .changeset/thick-cougars-heal.md
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1089 Add useCollapsible hook
  .changeset/beige-ads-shave.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Card/components/Header/Header.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ModalContext/types.ts
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/hooks/useAnimation/index.ts
  packages/circuit-ui/hooks/useAnimation/useAnimation.spec.ts
  packages/circuit-ui/hooks/useAnimation/useAnimation.ts
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.docs.mdx
  packages/circuit-ui/hooks/useCollapsible/index.ts
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.docs.mdx
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.spec.ts
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.stories.tsx
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.ts
  packages/circuit-ui/hooks/useEscapeKey/useEscapeKey.docs.mdx
  packages/circuit-ui/hooks/useFocusList/useFocusList.docs.mdx
  packages/circuit-ui/index.ts
  packages/circuit-ui/types/events.ts
Labels: ♿ accessibility, 🗂 circuit-ui

#1095 Stabilize the context value of the ModalProvider
  packages/circuit-ui/components/ModalContext/ModalContext.spec.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/ModalContext/createUseModal.spec.tsx
  packages/circuit-ui/components/ModalContext/createUseModal.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1107 Fix modal stories
  packages/circuit-ui/components/Modal/Modal.stories.tsx
Labels: 🗂 circuit-ui

#1109 Upgrade Storybook dependencies
  package.json
  yarn.lock
Labels: 📦 dependencies

#1108 Tweak the design of the new navigation components
  .changeset/wicked-items-cover.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/__snapshots__/PrimaryLink.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
Labels: 🗂 circuit-ui

#1114 Fixes to the navigation components
  .changeset/bright-emus-impress.md
  .changeset/cool-ladybugs-teach.md
  .changeset/five-peaches-perform.md
  .changeset/pink-rocks-dream.md
  .changeset/strong-cooks-repair.md
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/index.ts
  packages/circuit-ui/components/SideNavigation/types.ts
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.spec.ts
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.ts
  packages/circuit-ui/index.ts
  packages/icons/scripts/web.ts
Labels: 🐞 bug, 🗂 circuit-ui, 🗂 icons

#1117 Add skeleton loading state to navigation components
  .changeset/grumpy-elephants-look.md
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/__snapshots__/PrimaryLink.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/Skeleton/Skeleton.spec.tsx
  packages/circuit-ui/components/Skeleton/Skeleton.tsx
  packages/circuit-ui/components/Skeleton/__snapshots__/Skeleton.spec.tsx.snap
  packages/circuit-ui/components/Skeleton/index.ts
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/__snapshots__/UtilityLinks.spec.tsx.snap
Labels: 🎨 design, 🗂 circuit-ui

#1124 Close the Popover when an item is clicked
  .changeset/eight-papayas-complain.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🗂 circuit-ui

#1126 Add badge to secondary nav items
  .changeset/perfect-seas-rule.md
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/__snapshots__/PrimaryLink.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: 🗂 circuit-ui

#1128 Close the Popover also when a PopoverItem doesn't have an onClick
  .changeset/early-zebras-hammer.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1130 Fixes to the TopNavigation
  .changeset/afraid-lions-raise.md
  .changeset/gorgeous-eyes-shave.md
  .changeset/thick-mice-obey.md
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/Hamburger/__snapshots__/Hamburger.spec.tsx.snap
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/__snapshots__/PrimaryLink.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/Skeleton/Skeleton.tsx
  packages/circuit-ui/components/Skeleton/__snapshots__/Skeleton.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/__snapshots__/UtilityLinks.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1132 Add tracking to the navigation components
  .changeset/weak-penguins-thank.md
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/constants.ts
  packages/circuit-ui/components/SideNavigation/types.ts
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/constants.ts
  packages/circuit-ui/package.json
  yarn.lock
Labels: 🗂 circuit-ui

#1134 Tweak the navigation's border color
  .changeset/late-flowers-develop.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/__snapshots__/PrimaryLink.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/__snapshots__/UtilityLinks.spec.tsx.snap
Labels: 🗂 circuit-ui

#1136 Fix nav tracking by passing a defaut noop as onClick
  .changeset/purple-berries-deliver.md
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/circuit-ui/hooks/useClickEvent/useClickEvent.ts
Labels: 🗂 circuit-ui

#1138 Fix useMedia for Safari <14
  .changeset/long-teachers-pay.md
  packages/circuit-ui/hooks/useMedia/useMedia.ts
Labels: 🗂 circuit-ui
