Repository sumup-oss/circuit-ui, pull requests merged in 2021-11, with the labels that each got.

#994 Add notification modal
  .changeset/bright-jobs-hide.md
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.docs.mdx
  packages/circuit-ui/components/NotificationModal/NotificationModal.spec.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.stories.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/NotificationModal/index.ts
  packages/circuit-ui/components/NotificationModal/useNotificationModal.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1182 Add ListItem and ListItemGroup components
  .changeset/friendly-points-heal.md
  packages/circuit-ui/components/CardList/CardList.docs.mdx
  packages/circuit-ui/components/CardList/CardList.js
  packages/circuit-ui/components/ListItem/ListItem.docs.mdx
  packages/circuit-ui/components/ListItem/ListItem.spec.tsx
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/ListItem/__snapshots__/ListItem.spec.tsx.snap
  packages/circuit-ui/components/ListItem/index.ts
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.docs.mdx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.spec.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.stories.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
  packages/circuit-ui/components/ListItemGroup/__snapshots__/ListItemGroup.spec.tsx.snap
  packages/circuit-ui/components/ListItemGroup/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1247 Add missing flags to icons manifest
  .changeset/poor-monkeys-buy.md
  packages/icons/manifest.json
Labels: 🐞 bug, 🗂 icons, 🚢 ready to merge

#1243 Add card scheme and other sales-related icons
  .changeset/proud-cows-jog.md
  .storybook/components/Icons.js
  packages/icons/README.md
  packages/icons/manifest.json
  packages/icons/scripts/web.ts
  packages/icons/web/v2/american_express_24.svg
  packages/icons/web/v2/american_express_32.svg
  packages/icons/web/v2/apm_32.svg
  packages/icons/web/v2/card_unknown_32.svg
  packages/icons/web/v2/diners_club_24.svg
  packages/icons/web/v2/diners_club_32.svg
  packages/icons/web/v2/discover_32.svg
  packages/icons/web/v2/elo_32.svg
  packages/icons/web/v2/elv_32.svg
  packages/icons/web/v2/hipercard_32.svg
  packages/icons/web/v2/jcb_24.svg
  packages/icons/web/v2/jcb_32.svg
  packages/icons/web/v2/maestro_24.svg
  packages/icons/web/v2/maestro_32.svg
  packages/icons/web/v2/mastercard_24.svg
  packages/icons/web/v2/mastercard_32.svg
  packages/icons/web/v2/notify_circle_16.svg
  packages/icons/web/v2/notify_circle_24.svg
  packages/icons/web/v2/paid_out_16.svg
  packages/icons/web/v2/paid_out_24.svg
  packages/icons/web/v2/pix_24.svg
  packages/icons/web/v2/refunded_16.svg
  packages/icons/web/v2/refunded_24.svg
  packages/icons/web/v2/union_pay_24.svg
  packages/icons/web/v2/union_pay_32.svg
  packages/icons/web/v2/visa_24.svg
  packages/icons/web/v2/visa_32.svg
  packages/icons/web/v2/visa_electron_24.svg
  packages/icons/web/v2/visa_electron_32.svg
  packages/icons/web/v2/vpay_24.svg
  packages/icons/web/v2/vpay_32.svg
Labels: 🗂 circuit-ui, 🗂 icons

#1263 Remove optional chaining from NotificationModal
  .changeset/wicked-snails-explode.md
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
Labels: 🗂 circuit-ui

#1262 Update themePropType
  .changeset/tidy-otters-promise.md
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 design-tokens, 🚢 ready to merge

#1271 Import IconProps from @sumup/icons
  .changeset/nine-items-reply.md
  packages/circuit-ui/components/IconButton/IconButton.tsx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1260 Size prop added to ImageInput component
  .changeset/nice-toys-reply.md
  .changeset/purple-months-float.md
  docs/features/theme.stories.mdx
  packages/circuit-ui/components/Avatar/Avatar.tsx
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.stories.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
Labels: 🗂 circuit-ui

#1275 Clarify the NotificationFullscreen-with-h1-headline use case in Storybook
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.docs.mdx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.stories.tsx
Labels: 📋 documentation, 🗂 circuit-ui

#1276 Upgrade axe and address accessibility issues
  .changeset/wicked-planets-eat.md
  .changeset/yellow-boats-jog.md
  package.json
  packages/circuit-ui/components/Carousel/Carousel.js
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/ProgressBar/__snapshots__/ProgressBar.spec.tsx.snap
  packages/circuit-ui/package.json
  yarn.lock
Labels: ♿ accessibility, 🗂 circuit-ui

#1283 Add noMargin to the NotificationFullscreen to fix deprecation warning
  .changeset/itchy-bees-smoke.md
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.tsx
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1285 Center the NotificationFullscreen headline
  .changeset/chatty-teachers-change.md
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.tsx
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
Labels: 🗂 circuit-ui, 🚢 ready to merge
