Repository sumup-oss/circuit-ui, pull requests merged in 2022-10, with the labels that each got.

#1779 Fix a z-index issue with the SidePanel header
  .changeset/late-deers-explain.md
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanelContext.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/components/Header/Header.tsx
  packages/circuit-ui/components/SidePanel/components/Header/__snapshots__/Header.spec.tsx.snap
Labels: 🗂 circuit-ui

#1780 Version Packages
  .changeset/late-deers-explain.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1781 Upgrade to react-number-format v5
  .changeset/young-grapes-work.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.spec.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/package.json
  yarn.lock
Labels: 📦 dependencies, 🗂 circuit-ui

#1782 Fix Storybook Icons page labels
  .storybook/components/Icons.js
Labels: 🚢 ready to merge

#1785 Add new Copy icon
  .changeset/long-items-tap.md
  packages/icons/manifest.json
  packages/icons/web/v2/copy_24.svg
Labels: 🗂 icons

#1787 Version Packages
  .changeset/long-items-tap.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons, 🚢 ready to merge

#1786 Add support for initials to the Avatar component
  .changeset/nervous-mice-check.md
  packages/circuit-ui/components/Avatar/Avatar.spec.tsx
  packages/circuit-ui/components/Avatar/Avatar.stories.tsx
  packages/circuit-ui/components/Avatar/Avatar.tsx
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
Labels: 🗂 circuit-ui

#1788 Version Packages
  .changeset/nervous-mice-check.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1789 Move the Checkbox validationHint outside of a tooltip
  .changeset/pretty-waves-sit.md
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.stories.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Select/Select.tsx
Labels: 🎨 design, ♿ accessibility, ⚛️ component, 🗂 circuit-ui

#1795 Handle input validationHints as input descriptions or status messages
  .changeset/plenty-jars-relax.md
  .changeset/quiet-cobras-remain.md
  .changeset/shy-wombats-melt.md
  .changeset/strong-pans-shout.md
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
  packages/circuit-ui/components/FieldAtoms/FieldLabelText.tsx
  packages/circuit-ui/components/FieldAtoms/FieldValidationHint.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.spec.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageSelect/__snapshots__/PageSelect.spec.tsx.snap
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.spec.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/TextArea/TextArea.tsx
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/package.json
  yarn.lock
Labels: ♿ accessibility, 🗂 circuit-ui, 🚢 ready to merge

#1783 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1808 Remove the patch for event.code in the SidePanel spec
  packages/circuit-ui/components/SidePanel/SidePanel.spec.tsx
Labels: 🗂 circuit-ui

#1810 Silence act warnings in the Popover component
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
Labels: 🗂 circuit-ui

#1811 Hide decorative Select chevrons from assistive technology
  .changeset/tame-rules-shout.md
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageSelect/__snapshots__/PageSelect.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.stories.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#1809 Mark invalid radio buttons as invalid using aria-invalid
  .changeset/neat-sloths-confess.md
  .changeset/wise-candles-allow.md
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.spec.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.tsx
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#1813 Allow passing custom aria-describedby values to form components
  .changeset/dirty-camels-boil.md
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.spec.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.spec.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.tsx
Labels: 🐞 bug, ♿ accessibility, ⚛️ component, 🗂 circuit-ui

#1814 Add currency symbol id to the CurrencyInput description
  .changeset/sweet-cheetahs-smell.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.spec.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
Labels: 🐞 bug, ♿ accessibility, ⚛️ component, 🗂 circuit-ui

#1812 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
