Repository sumup-oss/circuit-ui, pull requests merged in 2022-05, with the labels that each got.

#1555 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#1559 Accept an as prop in the Button component
  .changeset/twelve-cougars-sniff.md
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/BodyLarge/BodyLarge.tsx
  packages/circuit-ui/components/Button/Button.spec.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/Sidebar/components/NavItem/NavItem.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/circuit-ui/types/prop-types.ts
Labels: 🗂 circuit-ui

#1560 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1569 Upgrade dependencies to latest minor
  package.json
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/icons/package.json
  yarn.lock
Labels: 📦 dependencies, 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons

#1571 Upgrade to Foundry v5
  .browserslistrc
  .changeset/big-turtles-rush.md
  .eslintignore
  .eslintrc.js
  lint-staged.config.js
  package.json
  packages/circuit-ui/.eslintignore
  packages/circuit-ui/cli/index.ts
  packages/circuit-ui/cli/migrate/theme-grid-tera.ts
  packages/circuit-ui/cli/migrate/utils/index.ts
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/BodyLarge/BodyLarge.tsx
  packages/circuit-ui/components/CalendarTag/CalendarTag.js
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.js
  packages/circuit-ui/components/DateInput/index.ts
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.stories.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.stories.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.spec.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.tsx
  packages/circuit-ui/components/Table/Table.stories.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/utils.ts
  packages/circuit-ui/components/Tabs/components/TabList/TabList.js
  packages/circuit-ui/components/Tabs/components/TabList/index.js
  packages/circuit-ui/components/Tabs/components/TabPanel/TabPanel.js
  packages/circuit-ui/components/Tabs/components/TabPanel/index.js
  packages/circuit-ui/components/Tabs/components/TabPanels/TabPanels.js
  packages/circuit-ui/components/Tabs/components/TabPanels/index.js
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.spec.tsx
  packages/circuit-ui/package.json
  packages/circuit-ui/plopfile.js
  packages/circuit-ui/types/prop-types.ts
  packages/circuit-ui/util/test-utils.tsx
  packages/cna-template/README.md
  packages/cna-template/template/components/Link/Link.spec.tsx
  packages/cna-template/template/components/Meta/Meta.spec.tsx
  packages/cna-template/template/package.json
  packages/cna-template/template/pages/index.tsx
  packages/design-tokens/.eslintignore
  packages/icons/.eslintignore
  yarn.lock
Labels: 📦 dependencies, 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template

#1577 Version Packages
  .changeset/big-turtles-rush.md
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
Labels: 🗂 cna-template

#1578 Fix SidePanel snapshot timing
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
Labels: 🗂 circuit-ui

#1579 Add Gauge, Calendar and FlashOn icons
  .changeset/eighty-trainers-allow.md
  .storybook/components/Icons.js
  packages/icons/manifest.json
  packages/icons/web/v2/calendar_24.svg
  packages/icons/web/v2/flash_on_24.svg
  packages/icons/web/v2/gauge_24.svg
Labels: 🗂 icons

#1570 Allow IconButton to receive loading props
  .changeset/long-buttons-burn.md
  packages/circuit-ui/components/IconButton/IconButton.tsx
Labels: 🗂 circuit-ui

#1585 Add support for Docusaurus
  .changeset/wet-turtles-wonder.md
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
Labels: 🗂 circuit-ui
