Repository sumup-oss/circuit-ui, pull requests merged in 2022-11, with the labels that each got.

#1827 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1846 Update the confirm, notify and alert brand colors
  .changeset/cool-rocks-check.md
  packages/circuit-ui/components/Body/__snapshots__/Body.spec.tsx.snap
  packages/circuit-ui/components/BodyLarge/__snapshots__/BodyLarge.spec.tsx.snap
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/ValidationHint/__snapshots__/ValidationHint.spec.tsx.snap
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/light.ts
Labels: 🗂 design-tokens

#1847 Version Packages
  .changeset/cool-rocks-check.md
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens, 🚢 ready to merge

#1845 Add new payment method icon for Postfinance
  .changeset/nice-laws-fold.md
  packages/icons/manifest.json
  packages/icons/web/v2/post_finance_24.svg
Labels: 🗂 icons

#1848 Version Packages
  .changeset/nice-laws-fold.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#1856 Release Circuit UI v6
  .changeset/angry-boats-sing.md
  .changeset/dirty-camels-boil.md
  .changeset/dull-papayas-explain.md
  .changeset/eleven-rings-tickle.md
  .changeset/gorgeous-cheetahs-shave.md
  .changeset/happy-geese-wash.md
  .changeset/hot-schools-attack.md
  .changeset/little-lemons-battle.md
  .changeset/long-spoons-end.md
  .changeset/neat-sloths-confess.md
  .changeset/old-cats-turn.md
  .changeset/plenty-jars-relax.md
  .changeset/pre.json
  .changeset/pretty-waves-sit.md
  .changeset/quick-ladybugs-ring.md
  .changeset/quiet-cobras-remain.md
  .changeset/shiny-onions-serve.md
  .changeset/shy-wombats-melt.md
  .changeset/slow-planets-behave.md
  .changeset/strong-pans-shout.md
  .changeset/sweet-cheetahs-smell.md
  .changeset/tame-rules-shout.md
  .changeset/tough-rice-hear.md
  .changeset/wet-wasps-kneel.md
  .changeset/wise-candles-allow.md
  .changeset/young-grapes-work.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🚢 ready to merge
