Repository sumup-oss/circuit-ui, pull requests merged in 2022-07, with the labels that each got.

#1646 Version Packages
  .changeset/shaggy-cobras-wonder.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1647 Refresh Anchor spec
  packages/circuit-ui/components/Anchor/Anchor.spec.tsx
  packages/circuit-ui/components/Anchor/__snapshots__/Anchor.spec.tsx.snap
  packages/circuit-ui/util/test-utils.tsx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1649 Version Packages
  .changeset/beige-guests-type.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#1653 increased left padding on TableCell and TableHeader for condensedStyl…
  .changeset/red-wolves-greet.md
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableCell/TableCell.ts
  packages/circuit-ui/components/Table/components/TableCell/__snapshots__/TableCell.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/components/TableHeader/__snapshots__/TableHeader.spec.tsx.snap
Labels: 🗂 circuit-ui

#1662 Fix table types
  .changeset/eight-papayas-scream.md
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/Table.stories.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/components/TableHead/TableHead.spec.tsx
  packages/circuit-ui/components/Table/components/TableHead/TableHead.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/index.ts
  packages/circuit-ui/components/Table/types.ts
  packages/circuit-ui/components/Table/utils.spec.ts
  packages/circuit-ui/components/Table/utils.ts
  packages/circuit-ui/index.ts
Labels: 🐞 bug, 🗂 circuit-ui, 🚢 ready to merge

#1652 Version Packages
  .changeset/eight-papayas-scream.md
  .changeset/happy-bananas-marry.md
  .changeset/red-wolves-greet.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1661 Migrate the Popover component to Floating UI
  .changeset/hot-schools-attack.md
  packages/circuit-ui/components/Popover/Popover.docs.mdx
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/package.json
  yarn.lock
Labels: 🗂 circuit-ui

#1672 Update next from main
  package.json
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/icons/package.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons

#1673 Upgrade Popover to Floating UI v1
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/package.json
  yarn.lock
Labels: 📦 dependencies, 🗂 circuit-ui, 🚢 ready to merge

#1682 Export additional types
  .changeset/metal-days-cry.md
  packages/circuit-ui/components/Card/components/Header/Header.tsx
  packages/circuit-ui/components/Popover/index.tsx
  packages/circuit-ui/components/Sidebar/SidebarService.tsx
  packages/circuit-ui/components/Table/index.ts
  packages/circuit-ui/components/Table/types.ts
  packages/circuit-ui/components/Table/utils.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/util/type-check.ts
Labels: 🗂 circuit-ui

#1683 Version Packages
  .changeset/metal-days-cry.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1690 Fix spacing in imageless NotificationModal
  .changeset/empty-bats-tan.md
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1691 Version Packages
  .changeset/empty-bats-tan.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1692 Prevent overlap in the NotificationModal
  .changeset/light-camels-retire.md
  packages/circuit-ui/components/NotificationModal/NotificationModal.spec.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1693 Version Packages
  .changeset/light-camels-retire.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
