Repository sumup-oss/circuit-ui, pull requests merged in 2022-01, with the labels that each got.

#1346 Fix CurrencyInput typings
  .changeset/silent-kiwis-attack.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  yarn.lock
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1331 Add accessibility docs for the Anchor component
  packages/circuit-ui/components/Anchor/Anchor.docs.mdx
Labels: 🗂 circuit-ui

#1347 Switch Storybook preview mode to docs-first
  .storybook/preview.js
  docs/introduction/welcome.stories.mdx
  package.json
  yarn.lock
Labels: 🚢 ready to merge

#1355 Fix the NotificationToast transition issues
  .changeset/cool-apes-live.md
  packages/circuit-ui/components/LoadingButton/LoadingButton.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.spec.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/ModalContext/createUseModal.spec.tsx
  packages/circuit-ui/components/ModalContext/types.ts
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.spec.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/ToastContext/ToastContext.spec.tsx
  packages/circuit-ui/components/ToastContext/ToastContext.tsx
  packages/circuit-ui/components/ToastContext/createUseToast.spec.tsx
  packages/circuit-ui/components/ToastContext/types.ts
  packages/circuit-ui/hooks/useStack/useStack.spec.ts
  packages/circuit-ui/hooks/useStack/useStack.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1359 Add z-index to Notification Toast ListWrapper
  .changeset/smart-yaks-walk.md
  .changeset/tame-pigs-worry.md
  packages/circuit-ui/components/ToastContext/ToastContext.tsx
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/types/index.ts
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#1379 feat: add initial sort direction and initial sorted row to table props
  .changeset/stupid-birds-cry.md
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/Table.tsx
Labels: 🗂 circuit-ui

#1382 Fix Badge colors
  packages/circuit-ui/components/Badge/Badge.tsx
  packages/circuit-ui/components/Badge/__snapshots__/Badge.spec.tsx.snap
  packages/circuit-ui/components/ListItem/__snapshots__/ListItem.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
Labels: 🗂 circuit-ui

#1384 Clean up Checkbox styles
  .changeset/lazy-zoos-tell.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1387 Export NotificationInline component
  .changeset/selfish-students-march.md
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1389 Add Pix full logo
  .changeset/full-pix-24.md
  packages/icons/manifest.json
  packages/icons/web/v2/pix_full_24.svg
Labels: 🗂 icons

#1391 Webpack 5
  .storybook/main.js
  package.json
  yarn.lock
Labels: 📦 dependencies

#1392 Address deprecation warnings in Storybook components
  .storybook/components/BorderRadius.js
  .storybook/components/BorderWidth.js
  .storybook/components/IconSize.js
  .storybook/components/Icons.js
  .storybook/components/Intro.tsx
  .storybook/components/Link.js
  .storybook/components/Spacing.js
  .storybook/components/Statuses.js
  .storybook/components/Swatch.tsx
  .storybook/components/Teaser.js
  .storybook/components/Type.js
  .storybook/components/index.js
  docs/features/icons.stories.mdx
Labels: 🚢 ready to merge

#1399 Handle rendering the Storybook Intro component as a div
  .storybook/components/Intro.tsx
  docs/features/icons.stories.mdx
  docs/features/theme.stories.mdx
Labels: 🚢 ready to merge

#1319 feat: adds auto expand functionality to `<TextArea>`
  .changeset/perfect-jeans-lick.md
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/TextArea/TextArea.spec.tsx
  packages/circuit-ui/components/TextArea/TextArea.stories.tsx
  packages/circuit-ui/components/TextArea/TextArea.tsx
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/TextArea/useAutoExpand.spec.tsx
  packages/circuit-ui/components/TextArea/useAutoExpand.ts
  packages/circuit-ui/util/multiRefs.spec.tsx
  packages/circuit-ui/util/multiRefs.tsx
Labels: 🗂 circuit-ui
