Repository sumup-oss/circuit-ui, pull requests merged in 2022-06, with the labels that each got.

#1584 Version Packages
  .changeset/long-buttons-burn.md
  .changeset/wet-turtles-wonder.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1586 Add Boleto and VR icons
  .changeset/nfc-payment-icon.md
  .changeset/vr-and-boleto-icons.md
  packages/icons/manifest.json
  packages/icons/web/v2/boleto_24.svg
  packages/icons/web/v2/nfc_payment_32.svg
  packages/icons/web/v2/vr_24.svg
Labels: 🗂 icons

#1589 Version Packages
  .changeset/nfc-payment-icon.md
  .changeset/vr-and-boleto-icons.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#1596 Migrate useComponentSize to TypeScript
  packages/circuit-ui/components/TextArea/useAutoExpand.ts
  packages/circuit-ui/hooks/useComponentSize/index.ts
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.spec.js
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.spec.ts
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.ts
Labels: 🗂 circuit-ui

#1593 Add viewbox attribute to Boleto and VR icons
  .changeset/healthy-carrots-beg.md
  .changeset/viewbox-icons.md
  packages/icons/CHANGELOG.md
  packages/icons/manifest.json
  packages/icons/web/v2/boleto_24.svg
  packages/icons/web/v2/nfc_payment_24.svg
  packages/icons/web/v2/nfc_payment_32.svg
  packages/icons/web/v2/vr_24.svg
Labels: 🗂 icons

#1601 Remove yarn resolutions to use React 18 types
  package.json
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/components/Sidebar/components/SubNavList/SubNavList.tsx
  packages/circuit-ui/package.json
  packages/cna-template/template/package.json
  yarn.lock
Labels: 📦 dependencies, 🗂 circuit-ui, 🗂 cna-template

#1604 Upgrade Jest to v28
  jest.config.base.js
  package.json
  packages/circuit-ui/cli/index.ts
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/jest.config.js
  packages/circuit-ui/util/test-utils.tsx
  packages/cna-template/template/package.json
  packages/design-tokens/jest.config.js
  packages/design-tokens/package.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 cna-template

#1607 Fix width of the NotificationToast on narrow viewports
  .changeset/thick-starfishes-flash.md
  packages/circuit-ui/components/ToastContext/ToastContext.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1608 Version Packages
  .changeset/thick-starfishes-flash.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1614 Fix inconsistencies in components
  .changeset/few-birds-marry.md
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.js
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.js
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.js
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
Labels: 🗂 circuit-ui

#1616 Version Packages
  .changeset/few-birds-marry.md
  .changeset/fresh-wolves-beam.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1619 Added Globe, Hospitality, Cafe, SumUpLogomark icons
  .changeset/six-shrimps-build.md
  packages/icons/manifest.json
  packages/icons/web/v2/cafe_24.svg
  packages/icons/web/v2/globe_24.svg
  packages/icons/web/v2/hospitality_24.svg
  packages/icons/web/v2/sum_up_logomark_24.svg
Labels: 🗂 icons

#1626 Version Packages
  .changeset/six-shrimps-build.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge

#1627 Add component stack traces to warning messages
  .changeset/chilled-tomatoes-melt.md
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/Headline/Headline.spec.tsx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/List/List.tsx
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Step/Step.spec.tsx
  packages/circuit-ui/components/Step/Step.ts
  packages/circuit-ui/components/Step/hooks/useStep.ts
  packages/circuit-ui/components/SubHeadline/SubHeadline.spec.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/TextArea/TextArea.spec.tsx
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
  packages/circuit-ui/util/errors.ts
  packages/circuit-ui/util/helpers.ts
  packages/circuit-ui/util/logger.ts
  packages/circuit-ui/util/logger.tsx
Labels: 🗂 circuit-ui

#1629 Version Packages
  .changeset/chilled-tomatoes-melt.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1635 Fix Pagination component return type
  .changeset/swift-mails-cross.md
  packages/circuit-ui/components/Pagination/Pagination.tsx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1636 Version Packages
  .changeset/swift-mails-cross.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1637 Icons - add new size 24 'Drag' icon
  .changeset/tender-chefs-thank.md
  packages/icons/manifest.json
  packages/icons/web/v2/drag_24.svg
Labels: 🗂 icons

#1638 Version Packages
  .changeset/tender-chefs-thank.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons
