Repository sumup-oss/circuit-ui, pull requests merged in 2022-02, with the labels that each got.

#1402 Fix loading button stories and docs
  packages/circuit-ui/components/Button/Button.docs.mdx
  packages/circuit-ui/components/Button/Button.stories.tsx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1386 Change Notify icon to NotifyCircle
  .changeset/three-walls-drum.md
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
  packages/circuit-ui/components/ValidationHint/__snapshots__/ValidationHint.spec.tsx.snap
Labels: ♿ accessibility, 🗂 circuit-ui

#1406 Rename Input component type and export from Circuit
  .changeset/dirty-pumas-flash.md
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/index.ts
  packages/circuit-ui/components/TextArea/TextArea.tsx
  packages/circuit-ui/components/TextArea/useAutoExpand.spec.tsx
  packages/circuit-ui/components/TextArea/useAutoExpand.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1408 chore(deps): upgrade react-number-format version
  .changeset/ninety-meals-lick.md
  .github/dependabot.yml
  packages/circuit-ui/package.json
Labels: 📦 dependencies, 🗂 circuit-ui

#1421 Only pass aria-pressed to elements with role=button
  .changeset/new-zebras-build.md
  packages/circuit-ui/components/CardList/__snapshots__/CardList.spec.js.snap
  packages/circuit-ui/components/CardList/components/Item/Item.js
  packages/circuit-ui/components/CardList/components/Item/__snapshots__/Item.spec.js.snap
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
  packages/circuit-ui/components/ListItemGroup/__snapshots__/ListItemGroup.spec.tsx.snap
  packages/circuit-ui/package.json
  yarn.lock
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#1423 Added Filter and Download icons
  .changeset/download-16.md
  .changeset/download-24.md
  .changeset/filter-16.md
  .changeset/filter-24.md
  .changeset/upload-16.md
  .changeset/upload-24.md
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/icons/manifest.json
  packages/icons/web/v2/download_16.svg
  packages/icons/web/v2/download_24.svg
  packages/icons/web/v2/filter_16.svg
  packages/icons/web/v2/filter_24.svg
  packages/icons/web/v2/upload_16.svg
  packages/icons/web/v2/upload_24.svg
Labels: 🗂 circuit-ui, 🗂 icons

#1425 Fix and optimize new icons
  .changeset/mean-spiders-fetch.md
  packages/icons/web/v2/download_16.svg
  packages/icons/web/v2/filter_16.svg
  packages/icons/web/v2/upload_16.svg
  packages/icons/web/v2/upload_24.svg
Labels: 🗂 icons

#1432 Allow custom heading levels in NotificationInline
  .changeset/neat-starfishes-ring.md
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.spec.tsx
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
  packages/circuit-ui/components/NotificationInline/NotificationInline.docs.mdx
  packages/circuit-ui/components/NotificationInline/NotificationInline.spec.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/NotificationToast.docs.mdx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
Labels: 🗂 circuit-ui

#1431 Use new semantic color names (info, confirm, notify and alert)
  .changeset/seven-books-tan.md
  .changeset/wicked-timers-bake.md
  packages/circuit-ui/components/Badge/Badge.tsx
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/BodyLarge/BodyLarge.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
  packages/circuit-ui/components/ValidationHint/__snapshots__/ValidationHint.spec.tsx.snap
  packages/circuit-ui/styles/style-mixins.ts
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/light.ts
  packages/design-tokens/types/index.ts
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#1435 Remove modern syntax in NotificationInline
  .changeset/ten-ghosts-move.md
  package.json
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/package.json
Labels: 🐞 bug, 🗂 circuit-ui, 🚢 ready to merge

#1437 Deprecate InlineMessage and old Notification components
  .changeset/honest-taxis-wave.md
  MIGRATION.md
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.tsx
  packages/circuit-ui/components/NotificationList/NotificationList.tsx
Labels: 🗂 circuit-ui

#1440 Add new semantic variant names to the Badge and Body components
  .changeset/weak-geckos-sell.md
  MIGRATION.md
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-color-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-color-names.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-variant-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-variant-names.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/semantic-color-names.ts
  packages/circuit-ui/cli/migrate/semantic-variant-names.ts
  packages/circuit-ui/components/Badge/Badge.spec.tsx
  packages/circuit-ui/components/Badge/Badge.stories.tsx
  packages/circuit-ui/components/Badge/Badge.tsx
  packages/circuit-ui/components/Badge/__snapshots__/Badge.spec.tsx.snap
  packages/circuit-ui/components/Body/Body.docs.mdx
  packages/circuit-ui/components/Body/Body.spec.tsx
  packages/circuit-ui/components/Body/Body.stories.tsx
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Body/__snapshots__/Body.spec.tsx.snap
  packages/circuit-ui/components/BodyLarge/BodyLarge.docs.mdx
  packages/circuit-ui/components/BodyLarge/BodyLarge.spec.tsx
  packages/circuit-ui/components/BodyLarge/BodyLarge.stories.tsx
  packages/circuit-ui/components/BodyLarge/BodyLarge.tsx
  packages/circuit-ui/components/BodyLarge/__snapshots__/BodyLarge.spec.tsx.snap
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.docs.mdx
  packages/circuit-ui/components/NotificationCard/NotificationCard.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.docs.mdx
  packages/circuit-ui/components/NotificationList/NotificationList.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.docs.mdx
Labels: ♿ accessibility, 🗂 circuit-ui

#1446 Add missing closeButtonLabel to the NotificationModal story
  packages/circuit-ui/components/NotificationModal/NotificationModal.stories.tsx
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1448 Add alignment for NotificationBanner image
  .changeset/poor-houses-collect.md
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.spec.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationBanner/__snapshots__/NotificationBanner.spec.tsx.snap
Labels: 🗂 circuit-ui

#1450 Fix prop types of the InlineMessage component
  .changeset/giant-bees-accept.md
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.tsx
  packages/circuit-ui/components/NotificationList/NotificationList.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1459 Remove direct dependency on chalk
  packages/circuit-ui/cli/migrate/icons-v2.ts
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge
