Repository sumup-oss/circuit-ui, pull requests merged in 2022-09, with the labels that each got.

#1737 Upgrade to Jest 29
  package.json
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/circuit-ui/components/BaseStyles/__snapshots__/BaseStylesService.spec.ts.snap
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/util/__snapshots__/regex.spec.ts.snap
  packages/cna-template/template/package.json
  packages/design-tokens/jest.config.js
  packages/design-tokens/package.json
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 cna-template

#1738 Remove unnecessary passive option from scroll event listener
  .changeset/tough-rice-hear.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🗂 circuit-ui

#1720 Support SVGs as images in notification components
  .changeset/dull-wombats-remain.md
  .storybook/public/images/illustration-update-browser.svg
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.spec.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.stories.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.tsx
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
  packages/circuit-ui/components/NotificationModal/NotificationModal.spec.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.stories.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/SidePanel.spec.tsx
  packages/circuit-ui/components/SidePanel/components/DesktopSidePanel/DesktopSidePanel.spec.tsx
  packages/circuit-ui/components/SidePanel/components/MobileSidePanel/MobileSidePanel.spec.tsx
Labels: 🗂 circuit-ui

#1747 Fix TS errors in test and story files
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.stories.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.stories.tsx
  packages/circuit-ui/components/ToastContext/createUseToast.spec.tsx
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.cjs.json
  packages/circuit-ui/tsconfig.es.json
  packages/circuit-ui/tsconfig.json
  packages/circuit-ui/types/events.ts
  packages/circuit-ui/util/errors.ts
  packages/circuit-ui/util/key-codes.ts
  packages/icons/scripts/web.ts
  tsconfig.json
Labels: 🗂 circuit-ui, 🗂 icons

#1745 Version Packages
  .changeset/dull-wombats-remain.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1651 Make all Selectors in a SelectorGroup the same height
  .changeset/tall-carrots-know.md
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.spec.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
Labels: 🗂 circuit-ui

#1749 Add SelectorGroup documentation
  packages/circuit-ui/components/Headline/Headline.docs.mdx
  packages/circuit-ui/components/Selector/Selector.docs.mdx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.docs.mdx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
Labels: ♿ accessibility, 📋 documentation, 🗂 circuit-ui

#1756 [SA-63263] Add payment method icons
  .changeset/rare-games-develop.md
  packages/icons/manifest.json
  packages/icons/web/v2/alelo_24.svg
  packages/icons/web/v2/sodexo_24.svg
  packages/icons/web/v2/ticket_24.svg
Labels: 🗂 icons

#1664 Refactor form components for consistency
  .changeset/angry-boats-sing.md
  .changeset/dull-papayas-explain.md
  .changeset/gorgeous-cheetahs-shave.md
  .changeset/little-lemons-battle.md
  .changeset/long-spoons-end.md
  .changeset/shiny-onions-serve.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.stories.tsx
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
  packages/circuit-ui/components/DateInput/DateInput.stories.tsx
  packages/circuit-ui/components/FieldAtoms/FieldLabel.tsx
  packages/circuit-ui/components/FieldAtoms/FieldLabelText.tsx
  packages/circuit-ui/components/FieldAtoms/FieldValidationHint.tsx
  packages/circuit-ui/components/FieldAtoms/FieldWrapper.tsx
  packages/circuit-ui/components/FieldAtoms/index.ts
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.spec.tsx
  packages/circuit-ui/components/Input/Input.stories.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/Label/Label.docs.mdx
  packages/circuit-ui/components/Label/Label.spec.tsx
  packages/circuit-ui/components/Label/Label.tsx
  packages/circuit-ui/components/Label/__snapshots__/Label.spec.tsx.snap
  packages/circuit-ui/components/Label/index.ts
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageSelect/__snapshots__/PageSelect.spec.tsx.snap
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/TextArea/TextArea.spec.tsx
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
  packages/circuit-ui/components/ValidationHint/ValidationHint.spec.tsx
  packages/circuit-ui/components/ValidationHint/__snapshots__/ValidationHint.spec.tsx.snap
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1757 Version Packages
  .changeset/rare-games-develop.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge

#1671 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🚢 ready to merge
