Repository sumup-oss/circuit-ui, pull requests merged in 2022-04, with the labels that each got.

#1498 Fix SidePanel and Modal issues on Safari
  .changeset/popular-frogs-explode.md
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/package.json
  yarn.lock
Labels: 🗂 circuit-ui

#1505 Migrate useStep and Step to TypeScript
  .changeset/gold-geckos-stare.md
  .changeset/poor-turkeys-jump.md
  packages/circuit-ui/components/Carousel/Carousel.js
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Step/Step.spec.tsx
  packages/circuit-ui/components/Step/Step.stories.tsx
  packages/circuit-ui/components/Step/Step.ts
  packages/circuit-ui/components/Step/StepService.js
  packages/circuit-ui/components/Step/StepService.spec.ts
  packages/circuit-ui/components/Step/StepService.ts
  packages/circuit-ui/components/Step/examples/CarouselSlider.js
  packages/circuit-ui/components/Step/examples/CarouselSlider.tsx
  packages/circuit-ui/components/Step/examples/MultiStepForm.tsx
  packages/circuit-ui/components/Step/examples/YesOrNoSlider.tsx
  packages/circuit-ui/components/Step/hooks/useStep.spec.ts
  packages/circuit-ui/components/Step/hooks/useStep.ts
  packages/circuit-ui/components/Step/index.ts
  packages/circuit-ui/components/Step/types.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/util/helpers.spec.ts
  packages/circuit-ui/util/helpers.ts
  packages/circuit-ui/util/type-check.spec.ts
  packages/circuit-ui/util/type-check.ts
Labels: 🗂 circuit-ui

#1504 Migrate grid components to TypeScript
  .changeset/thin-mugs-admire.md
  packages/circuit-ui/components/Col/Col.js
  packages/circuit-ui/components/Col/index.ts
  packages/circuit-ui/components/Col/utils.js
  packages/circuit-ui/components/Col/utils.spec.js
  packages/circuit-ui/components/Grid/Col/Col.spec.tsx
  packages/circuit-ui/components/Grid/Col/Col.stories.tsx
  packages/circuit-ui/components/Grid/Col/Col.ts
  packages/circuit-ui/components/Grid/Col/__snapshots__/Col.spec.tsx.snap
  packages/circuit-ui/components/Grid/Grid.docs.mdx
  packages/circuit-ui/components/Grid/Grid.js
  packages/circuit-ui/components/Grid/Grid/Grid.spec.tsx
  packages/circuit-ui/components/Grid/Grid/Grid.stories.tsx
  packages/circuit-ui/components/Grid/Grid/Grid.ts
  packages/circuit-ui/components/Grid/Grid/__snapshots__/Grid.spec.tsx.snap
  packages/circuit-ui/components/Grid/Row/Row.spec.tsx
  packages/circuit-ui/components/Grid/Row/Row.stories.tsx
  packages/circuit-ui/components/Grid/Row/Row.ts
  packages/circuit-ui/components/Grid/Row/__snapshots__/Row.spec.tsx.snap
  packages/circuit-ui/components/Grid/constants.ts
  packages/circuit-ui/components/Grid/index.ts
  packages/circuit-ui/components/Grid/types.ts
  packages/circuit-ui/components/Grid/utils.spec.ts
  packages/circuit-ui/components/Grid/utils.ts
  packages/circuit-ui/components/Row/Row.js
  packages/circuit-ui/index.ts
  packages/circuit-ui/util/helpers.spec.ts
  packages/circuit-ui/util/helpers.ts
  packages/circuit-ui/util/type-check.spec.ts
  packages/circuit-ui/util/type-check.ts
Labels: 🗂 circuit-ui

#1507 Remove lodash as a dependency
  .changeset/eleven-wasps-thank.md
  .storybook/.babelrc
  .storybook/components/Icons.js
  .storybook/util/story-helpers.js
  babel.config.json
  package.json
  packages/circuit-ui/.babelrc.json
  packages/circuit-ui/cli/migrate/component-static-properties.ts
  packages/circuit-ui/components/CardList/CardList.stories.js
  packages/circuit-ui/components/Grid/utils.ts
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.spec.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/Sidebar/SidebarService.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Tabs/Tabs.js
  packages/circuit-ui/components/TextArea/TextArea.tsx
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.js
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.spec.js
  packages/circuit-ui/package.json
  packages/circuit-ui/util/__snapshots__/regex.spec.ts.snap
  packages/circuit-ui/util/helpers.spec.ts
  packages/circuit-ui/util/helpers.ts
  packages/circuit-ui/util/multiRefs.tsx
  packages/circuit-ui/util/refs.spec.tsx
  packages/circuit-ui/util/refs.ts
  packages/circuit-ui/util/regex.spec.ts
  packages/circuit-ui/util/regex.ts
  packages/circuit-ui/util/type-check.spec.ts
  packages/circuit-ui/util/type-check.ts
  packages/create-sumup-next-app/template/babel.config.json
  packages/create-sumup-next-app/template/package.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 create-sumup-next-app

#1510 Remove the deprecated shadow style mixins
  .changeset/pink-maps-do.md
  MIGRATION.md
  packages/circuit-ui/components/Tabs/__snapshots__/Tabs.spec.js.snap
  packages/circuit-ui/components/Tabs/components/TabList/TabList.js
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#1512 Remove the deprecated RadioButton children prop
  .changeset/mean-olives-watch.md
  .changeset/thin-trainers-occur.md
  MIGRATION.md
  packages/circuit-ui/components/RadioButton/RadioButton.stories.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.spec.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
Labels: 🗂 circuit-ui

#1515 Add VR Benefícios card scheme icon
  .changeset/afraid-carrots-smile.md
  packages/icons/manifest.json
  packages/icons/web/v2/vr_32.svg
Labels: 🗂 icons

#1513 Remove a11y env variable
  .changeset/dirty-keys-arrive.md
  .storybook/main.js
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
Labels: 🗂 circuit-ui

#1511 Throw dev-time error for noMargin prop
  .changeset/dull-lions-shave.md
  .storybook/main.js
  MIGRATION.md
  packages/circuit-ui/components/Anchor/__snapshots__/Anchor.spec.tsx.snap
  packages/circuit-ui/components/Body/Body.spec.tsx
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Body/__snapshots__/Body.spec.tsx.snap
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Status/Status.js
  packages/circuit-ui/components/Carousel/components/Status/__snapshots__/Status.spec.js.snap
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/Headline/Headline.spec.tsx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/Headline/__snapshots__/Headline.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/List/List.spec.tsx
  packages/circuit-ui/components/List/List.tsx
  packages/circuit-ui/components/List/__snapshots__/List.spec.tsx.snap
  packages/circuit-ui/components/ListItem/__snapshots__/ListItem.spec.tsx.snap
  packages/circuit-ui/components/ListItemGroup/__snapshots__/ListItemGroup.spec.tsx.snap
  packages/circuit-ui/components/NotificationBanner/__snapshots__/NotificationBanner.spec.tsx.snap
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.spec.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/__snapshots__/PrimaryLink.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanelContext.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/components/Header/__snapshots__/Header.spec.tsx.snap
  packages/circuit-ui/components/SubHeadline/SubHeadline.spec.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/SubHeadline/__snapshots__/SubHeadline.spec.tsx.snap
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/__snapshots__/UtilityLinks.spec.tsx.snap
Labels: 🗂 circuit-ui, 🗂 design-tokens

#1518 Remove deprecated notification components
  .changeset/pretty-scissors-play.md
  packages/circuit-ui/components/InlineMessage/InlineMessage.docs.mdx
  packages/circuit-ui/components/InlineMessage/InlineMessage.spec.tsx
  packages/circuit-ui/components/InlineMessage/InlineMessage.stories.tsx
  packages/circuit-ui/components/InlineMessage/InlineMessage.tsx
  packages/circuit-ui/components/InlineMessage/__snapshots__/InlineMessage.spec.tsx.snap
  packages/circuit-ui/components/InlineMessage/index.ts
  packages/circuit-ui/components/Notification/Notification.docs.mdx
  packages/circuit-ui/components/Notification/Notification.spec.tsx
  packages/circuit-ui/components/Notification/Notification.stories.tsx
  packages/circuit-ui/components/Notification/Notification.tsx
  packages/circuit-ui/components/Notification/__snapshots__/Notification.spec.tsx.snap
  packages/circuit-ui/components/Notification/index.ts
  packages/circuit-ui/components/NotificationCard/NotificationCard.spec.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.stories.tsx
  packages/circuit-ui/components/NotificationCard/NotificationCard.tsx
  packages/circuit-ui/components/NotificationCard/__snapshots__/NotificationCard.spec.tsx.snap
  packages/circuit-ui/components/NotificationCard/index.ts
  packages/circuit-ui/components/NotificationList/NotificationList.spec.tsx
  packages/circuit-ui/components/NotificationList/NotificationList.stories.tsx
  packages/circuit-ui/components/NotificationList/NotificationList.tsx
  packages/circuit-ui/components/NotificationList/__snapshots__/NotificationList.spec.tsx.snap
  packages/circuit-ui/components/NotificationList/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1526 Remove deprecated legacy color names
  .changeset/dull-rats-fry.md
  .changeset/olive-pears-sniff.md
  packages/circuit-ui/components/Badge/Badge.spec.tsx
  packages/circuit-ui/components/Badge/Badge.tsx
  packages/circuit-ui/components/Badge/__snapshots__/Badge.spec.tsx.snap
  packages/circuit-ui/components/Body/Body.spec.tsx
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Body/__snapshots__/Body.spec.tsx.snap
  packages/circuit-ui/components/BodyLarge/BodyLarge.spec.tsx
  packages/circuit-ui/components/BodyLarge/BodyLarge.tsx
  packages/circuit-ui/components/BodyLarge/__snapshots__/BodyLarge.spec.tsx.snap
  packages/circuit-ui/components/ListItem/ListItem.spec.tsx
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.stories.tsx
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/light.ts
  packages/design-tokens/types/index.ts
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#1529 Remove the showValid option from the inputOutline style mixin
  .changeset/five-pianos-taste.md
  MIGRATION.md
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#1531 Remove the deprecated LoadingButton component
  .changeset/chilled-clocks-remain.md
  MIGRATION.md
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v5.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v5.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/component-names-v5.ts
  packages/circuit-ui/components/LoadingButton/LoadingButton.tsx
  packages/circuit-ui/components/LoadingButton/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1533 Rename ListItem leading and trailing element props
  .changeset/strange-seas-beam.md
  MIGRATION.md
  packages/circuit-ui/cli/migrate/__testfixtures__/label-prop-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/label-prop-names.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/listitem-prop-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/listitem-prop-names.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/listitem-prop-names.ts
  packages/circuit-ui/components/ListItem/ListItem.docs.mdx
  packages/circuit-ui/components/ListItem/ListItem.spec.tsx
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/ListItem/__snapshots__/ListItem.spec.tsx.snap
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.docs.mdx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.stories.tsx
Labels: 🗂 circuit-ui

#1534 Remove the CardList component
  .changeset/breezy-cougars-applaud.md
  MIGRATION.md
  packages/circuit-ui/components/CardList/CardList.docs.mdx
  packages/circuit-ui/components/CardList/CardList.js
  packages/circuit-ui/components/CardList/CardList.spec.js
  packages/circuit-ui/components/CardList/CardList.stories.js
  packages/circuit-ui/components/CardList/__snapshots__/CardList.spec.js.snap
  packages/circuit-ui/components/CardList/components/Item/Item.js
  packages/circuit-ui/components/CardList/components/Item/Item.spec.js
  packages/circuit-ui/components/CardList/components/Item/__snapshots__/Item.spec.js.snap
  packages/circuit-ui/components/CardList/components/Item/index.js
  packages/circuit-ui/components/CardList/index.js
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1540 Add alignment support for ButtonGroup actions api
  .changeset/small-pugs-train.md
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.tsx
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/Card/Card.stories.tsx
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/Step/examples/MultiStepForm.tsx
  packages/circuit-ui/components/Step/examples/YesOrNoSlider.tsx
Labels: 🗂 circuit-ui

#1541 Version Packages
  .changeset/small-pugs-train.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1543 Merge main into canary
  .changeset/big-swans-smoke.md
  package.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.tsx
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/Card/Card.stories.tsx
  packages/circuit-ui/components/NotificationFullscreen/__snapshots__/NotificationFullscreen.spec.tsx.snap
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/Step/examples/MultiStepForm.tsx
  packages/circuit-ui/components/Step/examples/YesOrNoSlider.tsx
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 icons

#1545 Export NotificationBanner from Circuit
  .changeset/beige-swans-applaud.md
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1546 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1542 Optimize for modern browsers and document support policy
  .changeset/flat-terms-join.md
  .storybook/components/Icons.js
  .storybook/preview.js
  MIGRATION.md
  docs/contributing/browser-support-for-contributors.stories.mdx
  docs/features/theme.stories.mdx
  docs/introduction/browser-support.stories.mdx
  docs/introduction/getting-started.stories.mdx
  docs/introduction/welcome.stories.mdx
  packages/circuit-ui/components/Carousel/Carousel.docs.mdx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.docs.mdx
  packages/circuit-ui/components/Grid/Col/Col.ts
  packages/circuit-ui/components/Grid/Grid.docs.mdx
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.cjs.json
  packages/circuit-ui/tsconfig.json
  packages/circuit-ui/util/key-codes.ts
  packages/circuit-ui/util/shared-prop-types.js
  packages/design-tokens/tsconfig.cjs.json
  packages/design-tokens/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens

#1551 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1552 Remove the deprecated ButtonGroup children
  .changeset/honest-pugs-return.md
  MIGRATION.md
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.docs.mdx
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.spec.tsx
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.tsx
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.tsx
Labels: 🗂 circuit-ui

#1554 React 18
  .changeset/chilled-geese-argue.md
  package.json
  packages/circuit-ui/components/Card/Card.tsx
  packages/circuit-ui/components/Card/components/Footer/Footer.tsx
  packages/circuit-ui/components/Card/components/Header/Header.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.spec.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.stories.tsx
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/ModalContext/ModalContext.spec.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/SearchInput/SearchInput.spec.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.stories.tsx
  packages/circuit-ui/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.stories.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.spec.tsx
  packages/circuit-ui/components/SidePanel/components/DesktopSidePanel/DesktopSidePanel.spec.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Title/Title.tsx
  packages/circuit-ui/components/ToastContext/ToastContext.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.cjs.json
  packages/circuit-ui/tsconfig.json
  packages/circuit-ui/util/test-utils.tsx
  packages/design-tokens/tsconfig.cjs.json
  packages/design-tokens/tsconfig.json
  packages/icons/package.json
  tsconfig.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons

#1556 Upgrade to Node 16
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/cna.yml
  .github/workflows/codeql-analysis.yml
  .nvmrc
  CONTRIBUTING.md
  packages/create-sumup-next-app/README.md
Labels: 🗂 create-sumup-next-app, 🚢 ready to merge
