Repository sumup-oss/circuit-ui, pull requests merged in 2022-08, with the labels that each got.

#1644 ImageInput accessibility improvements
  .changeset/violet-rats-reflect.md
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/ValidationHint/ValidationHint.tsx
Labels: 🗂 circuit-ui

#1708 Add new card scheme icons: Alelo, Sodexo and Ticket
  .changeset/hot-penguins-begin.md
  packages/icons/manifest.json
  packages/icons/web/v2/alelo_32.svg
  packages/icons/web/v2/sodexo_32.svg
  packages/icons/web/v2/ticket_32.svg
Labels: 🗂 icons

#1709 Version Packages
  .changeset/hot-penguins-begin.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#1711 Add contributing icons docs
  .storybook/public/images/component-addition-flowchart.png
  .storybook/public/images/contributing-icons-export.png
  .storybook/public/images/contributing-icons-off-grid.png
  .storybook/public/images/contributing-icons-on-grid.png
  assets/create-component.gif
  docs/contributing/browser-support-for-contributors.stories.mdx
  docs/contributing/contributing-icons.stories.mdx
Labels: 📋 documentation

#1719 Fix spacing in NotificationInline with an action
  .changeset/slimy-ears-repair.md
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1726 Version Packages
  .changeset/slimy-ears-repair.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
