Repository sumup-oss/circuit-ui, pull requests merged in 2023-05, with the labels that each got.

#2080 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2077 Add HEIF image upload documentation
  packages/circuit-ui/components/ImageInput/ImageInput.mdx
Labels: 📋 documentation, 🗂 circuit-ui

#2091 Upgrade package dependencies
  .changeset/quiet-lies-kiss.md
  .changeset/spotty-ducks-teach.md
  package-lock.json
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 eslint-plugin-circuit-ui

#2092 Version Packages
  .changeset/quiet-lies-kiss.md
  .changeset/spotty-ducks-teach.md
  .changeset/tidy-rivers-explain.md
  package-lock.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui

#2084 Fix types resolution
  .changeset/purple-papayas-bake.md
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/icons/package.json
Labels: 🐞 bug, 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🚢 ready to merge

#2071 Align Selector and Toggle props with Checkbox and RadioButton
  .changeset/great-hornets-rule.md
  .changeset/happy-peaches-train.md
  .changeset/tricky-files-hope.md
  packages/circuit-ui/components/FieldAtoms/FieldDescription.tsx
  packages/circuit-ui/components/FieldAtoms/index.ts
  packages/circuit-ui/components/RadioButton/RadioButton.mdx
  packages/circuit-ui/components/RadioButton/RadioButton.stories.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.mdx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.stories.tsx
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/Selector/Selector.mdx
  packages/circuit-ui/components/Selector/Selector.spec.tsx
  packages/circuit-ui/components/Selector/Selector.stories.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.mdx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.spec.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
  packages/circuit-ui/components/Toggle/Toggle.mdx
  packages/circuit-ui/components/Toggle/Toggle.spec.tsx
  packages/circuit-ui/components/Toggle/Toggle.stories.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
Labels: 🗂 circuit-ui

#2096 Add the MoreCircle icon
  .changeset/light-chairs-float.md
  packages/icons/manifest.json
  packages/icons/web/v2/more_circle_24.svg
Labels: 🗂 icons

#2095 Version Packages
  .changeset/great-hornets-rule.md
  .changeset/happy-peaches-train.md
  .changeset/light-chairs-float.md
  .changeset/tricky-files-hope.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge

#2099 Deprecate the AddItems icon
  .changeset/sweet-mice-swim.md
  .storybook/components/Icons.tsx
  package-lock.json
  packages/icons/CONTRIBUTING.md
  packages/icons/manifest.json
  packages/icons/package.json
  packages/icons/scripts/web.ts
Labels: 🗂 icons

#2102 Add Transit icon
  .changeset/three-clocks-live.md
  packages/icons/manifest.json
  packages/icons/web/v2/transit_16.svg
Labels: 🗂 icons

#2040 Centralize design token schema
  .changeset/good-ducks-refuse.md
  .changeset/selfish-lions-check.md
  .storybook/components/ColorsTable.tsx
  docs/features/1-theme.mdx
  package-lock.json
  packages/design-tokens/index.ts
  packages/design-tokens/themes/schema.ts
  packages/design-tokens/types/index.ts
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/index.ts
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui

#2103 Version Packages
  .changeset/sweet-mice-swim.md
  .changeset/three-clocks-live.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge

#2104 Version Packages
  .changeset/good-ducks-refuse.md
  .changeset/selfish-lions-check.md
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui

#1851 Add CheckboxGroup component
  .changeset/purple-forks-shop.md
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.spec.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.stories.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/CheckboxGroup/__snapshots__/CheckboxGroup.spec.tsx.snap
  packages/circuit-ui/components/CheckboxGroup/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#2107 Various fixes for Storybook docs
  .storybook/preview-head.html
  .storybook/preview.tsx
  packages/circuit-ui/components/Button/Button.stories.tsx
  packages/circuit-ui/components/TextArea/TextArea.mdx
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.mdx
Labels: 📋 documentation

#2113 Make Popover dividers presentational
  .changeset/fuzzy-emus-add.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
Labels: 🗂 circuit-ui

#2115 Fix styles for checked and disabled Checkbox
  .changeset/fresh-lemons-add.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/CheckboxGroup/__snapshots__/CheckboxGroup.spec.tsx.snap
Labels: 🐞 bug, ⚛️ component, 🗂 circuit-ui

#2114 Switch to font-display: optional
  .changeset/tidy-knives-tap.md
  .storybook/preview-head.html
  packages/circuit-ui/components/BaseStyles/BaseStylesService.ts
  packages/circuit-ui/components/BaseStyles/__snapshots__/BaseStylesService.spec.ts.snap
Labels: 🗂 circuit-ui

#1615 Improve type for icon prop
  .changeset/serious-hats-kick.md
  .changeset/tender-mangos-wave.md
  .changeset/yellow-lies-yell.md
  packages/circuit-ui/components/Button/Button.stories.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.tsx.snap
  packages/circuit-ui/components/Carousel/components/Buttons/__snapshots__/Buttons.spec.tsx.snap
  packages/circuit-ui/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
  packages/circuit-ui/components/Hamburger/__snapshots__/Hamburger.spec.tsx.snap
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/IconButton/__snapshots__/IconButton.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/Modal/__snapshots__/Modal.spec.tsx.snap
  packages/circuit-ui/components/Notification/constants.ts
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Select/Select.stories.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/types.ts
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanelContext.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/components/Header/__snapshots__/Header.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
  packages/circuit-ui/components/Tag/__snapshots__/Tag.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/icons/scripts/web.ts
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge

#2122 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2123 Account for scrollbar in expanded SideNavigation
  .changeset/eight-rats-look.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#2121 Fix useCollapsible content overflow
  .changeset/lazy-llamas-tap.md
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.spec.ts
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.ts
Labels: 🐞 bug, 🗂 circuit-ui, 🚢 ready to merge

#2106 Version Packages
  .changeset/big-scissors-draw.md
  .changeset/eight-rats-look.md
  .changeset/five-onions-confess.md
  .changeset/fresh-lemons-add.md
  .changeset/fuzzy-emus-add.md
  .changeset/lazy-llamas-tap.md
  .changeset/mighty-apples-do.md
  .changeset/purple-forks-shop.md
  .changeset/red-coins-fly.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2125 Mark Grid components as legacy
  .changeset/chilled-flies-dream.md
  .changeset/pretty-bananas-juggle.md
  .changeset/smart-comics-crash.md
  .storybook/components/Icons.tsx
  packages/circuit-ui/components/Grid/Col/Col.ts
  packages/circuit-ui/components/Grid/Grid.mdx
  packages/circuit-ui/components/Grid/Grid/Grid.ts
  packages/circuit-ui/components/Grid/Row/Row.ts
  packages/circuit-ui/components/InlineElements/InlineElements.tsx
  packages/circuit-ui/index.ts
  packages/circuit-ui/legacy.ts
  packages/circuit-ui/util/id.ts
Labels: 🗂 circuit-ui

#2126 Add TransferIn, TransferOut, ThumbUp and ThumbDown icons
  .changeset/lazy-ties-marry.md
  packages/icons/manifest.json
  packages/icons/web/v2/thumb_down_24.svg
  packages/icons/web/v2/thumb_up_24.svg
  packages/icons/web/v2/transfer_in_24.svg
  packages/icons/web/v2/transfer_out_24.svg
Labels: 🗂 icons

#2127 Version Packages
  .changeset/lazy-ties-marry.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2124 Clean up boolean inputs
  .changeset/bright-berries-add.md
  .changeset/chilly-dolphins-travel.md
  .changeset/cyan-trains-move.md
  .changeset/thin-lions-share.md
  .changeset/wicked-frogs-exercise.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.mdx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.mdx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.stories.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.mdx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#1415 Add indeterminate prop to the Checkbox
  .changeset/quiet-toes-joke.md
  packages/circuit-ui/components/Checkbox/Checkbox.mdx
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.stories.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/IndeterminateIcon.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.mdx
Labels: 🗂 circuit-ui

#2128 Version Packages
  .changeset/quiet-toes-joke.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2093 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons

#2141 Add new icons for the Conecs and Swile card schemes
  .changeset/stale-carrots-pull.md
  packages/icons/manifest.json
  packages/icons/web/v2/conecs_24.svg
  packages/icons/web/v2/conecs_32.svg
  packages/icons/web/v2/swile_24.svg
  packages/icons/web/v2/swile_32.svg
Labels: 🗂 icons

#2142 Version Packages
  .changeset/olive-otters-compete.md
  .changeset/stale-carrots-pull.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons
