Repository sumup-oss/circuit-ui, pull requests merged in 2023-09, with the labels that each got.

#2236 Re-export the RadioButton and Selector components
  .changeset/nice-plants-provide.md
  MIGRATION.md
  packages/circuit-ui/components/Checkbox/Checkbox.module.css
  packages/circuit-ui/components/RadioButton/RadioButton.module.css
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/legacy.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2238 Add icons to SelectorGroup options
  .changeset/rotten-starfishes-remain.md
  packages/circuit-ui/components/Selector/Selector.module.css
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.mdx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
Labels: 🗂 circuit-ui

#2227 Version Packages
  .changeset/famous-kiwis-live.md
  .changeset/few-waves-bow.md
  .changeset/nervous-flowers-joke.md
  .changeset/nice-plants-provide.md
  .changeset/rotten-starfishes-remain.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2239 Widen SelectorGroup's icon prop type
  .changeset/slimy-weeks-rescue.md
  .github/workflows/ci.yml
  packages/circuit-ui/components/Selector/Selector.tsx
Labels: 🗂 circuit-ui

#2240 Version Packages
  .changeset/slimy-weeks-rescue.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2241 Add missing prop type to CurrencyInput
  .changeset/rare-taxis-exist.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2244 Silence headline element errors in test environments
  .changeset/poor-buses-grab.md
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/Title/Title.tsx
Labels: 🗂 circuit-ui

#2242 Version Packages
  .changeset/poor-buses-grab.md
  .changeset/rare-taxis-exist.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2246 Fix style specificity in the ButtonGroup
  .changeset/breezy-starfishes-move.md
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2247 Hide Button's loading label
  .changeset/six-buttons-dream.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#2248 Version Packages
  .changeset/breezy-starfishes-move.md
  .changeset/six-buttons-dream.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2249 Fix style specificity conflicts
  .changeset/eight-ads-bake.md
  packages/circuit-ui/components/AspectRatio/AspectRatio.module.css
  packages/circuit-ui/components/Button/Button.module.css
  packages/circuit-ui/components/CalendarTag/__snapshots__/CalendarTag.spec.tsx.snap
  packages/circuit-ui/components/CalendarTagTwoStep/__snapshots__/CalendarTagTwoStep.spec.tsx.snap
  packages/circuit-ui/components/Header/Header.module.css
  packages/circuit-ui/components/ImageInput/ImageInput.module.css
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.module.css
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.module.css
  packages/circuit-ui/components/NotificationInline/NotificationInline.module.css
  packages/circuit-ui/components/NotificationModal/NotificationModal.module.css
  packages/circuit-ui/components/NotificationToast/NotificationToast.module.css
  packages/circuit-ui/components/Pagination/Pagination.module.css
  packages/circuit-ui/components/Pagination/components/PageList/PageList.module.css
  packages/circuit-ui/components/SearchInput/SearchInput.module.css
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.module.css
  packages/circuit-ui/components/Tag/Tag.module.css
  packages/circuit-ui/components/Tag/Tag.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2250 Version Packages
  .changeset/eight-ads-bake.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2251 Version Packages
  .changeset/silent-squids-smell.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2252 Added size "16" for Refresh icon
  .changeset/giant-timers-attend.md
  packages/icons/manifest.json
  packages/icons/web/v2/refresh_16.svg
Labels: 🗂 icons

#2254 Fix style SearchInput clear icon
  .changeset/cuddly-cats-begin.md
  packages/circuit-ui/components/SearchInput/SearchInput.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2253 Version Packages
  .changeset/cuddly-cats-begin.md
  .changeset/giant-timers-attend.md
  package-lock.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template

#2255 Fixes Selector component size padding
  .changeset/smooth-kiwis-drive.md
  packages/circuit-ui/components/Selector/Selector.module.css
  packages/circuit-ui/components/Selector/Selector.tsx
Labels: 🗂 circuit-ui

#2257 Fix Checkbox component custom id
  .changeset/neat-gifts-deliver.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
Labels: 🗂 circuit-ui

#2258 Version Packages
  .changeset/neat-gifts-deliver.md
  .changeset/smooth-kiwis-drive.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2259 Increase css specificity for ListItem child
  .changeset/smooth-pianos-worry.md
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.module.css
Labels: 🗂 circuit-ui

#2260 Version Packages
  .changeset/smooth-pianos-worry.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2261 Fixes missing className prop passed to the Popover component
  .changeset/popular-bobcats-learn.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🗂 circuit-ui

#2262 Version Packages
  .changeset/popular-bobcats-learn.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2264 Increase IconButton CSS specificity
  .changeset/swift-apes-rhyme.md
  package-lock.json
  packages/circuit-ui/components/IconButton/IconButton.module.css
  packages/circuit-ui/components/TopNavigation/TopNavigation.module.css
Labels: 🗂 circuit-ui

#2265 Version Packages
  .changeset/swift-apes-rhyme.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
