Repository sumup-oss/circuit-ui, pull requests merged in 2023-07, with the labels that each got.

#2171 Add ESLint rules for Circuit UI v7
  .changeset/afraid-maps-know.md
  .changeset/breezy-eagles-lick.md
  .changeset/few-cobras-unite.md
  .changeset/hip-seahorses-enjoy.md
  packages/eslint-plugin-circuit-ui/README.md
  packages/eslint-plugin-circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-components/README.md
  packages/eslint-plugin-circuit-ui/no-deprecated-components/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-components/index.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-props/README.md
  packages/eslint-plugin-circuit-ui/no-deprecated-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-props/index.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/README.md
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 eslint-plugin-circuit-ui

#2173 Be more specific about the invalid code
  .changeset/tough-clouds-listen.md
  packages/eslint-plugin-circuit-ui/no-deprecated-components/index.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-props/index.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
Labels: 🐞 bug, 🗂 eslint-plugin-circuit-ui

#2174 Version Packages
  .changeset/tough-clouds-listen.md
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 eslint-plugin-circuit-ui

#2175 Flag and fix renamed props in setToast calls
  .changeset/little-feet-sell.md
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
Labels: 🗂 eslint-plugin-circuit-ui

#2176 Version Packages
  .changeset/little-feet-sell.md
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 eslint-plugin-circuit-ui

#2181 Version Packages
  .changeset/gold-pears-raise.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge, 🗂 eslint-plugin-circuit-ui

#2155 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui

#2164 Add component-lifecycle-imports ESLint rule
  .changeset/brown-berries-impress.md
  packages/eslint-plugin-circuit-ui/README.md
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/README.md
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.spec.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
  packages/eslint-plugin-circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/index.ts
  packages/eslint-plugin-circuit-ui/prefer-custom-properties/index.ts
Labels: 🗂 eslint-plugin-circuit-ui

#2184 Change jsxImportSource to react
  .changeset/twenty-cobras-wink.md
  packages/circuit-ui/components/Calendar/RangePicker.tsx
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.tsx
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.tsx
  packages/circuit-ui/components/Grid/Col/Col.ts
  packages/circuit-ui/components/Grid/Grid/Grid.ts
  packages/circuit-ui/components/Grid/Row/Row.ts
  packages/circuit-ui/components/Grid/utils.ts
  packages/circuit-ui/components/InlineElements/InlineElements.stories.tsx
  packages/circuit-ui/components/InlineElements/InlineElements.tsx
  packages/circuit-ui/components/List/List.stories.tsx
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
  packages/circuit-ui/components/Sidebar/Sidebar.stories.tsx
  packages/circuit-ui/components/Sidebar/Sidebar.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Sidebar/components/Backdrop/Backdrop.ts
  packages/circuit-ui/components/Sidebar/components/CloseButton/CloseButton.ts
  packages/circuit-ui/components/Sidebar/components/Footer/Footer.ts
  packages/circuit-ui/components/Sidebar/components/Header/Header.ts
  packages/circuit-ui/components/Sidebar/components/NavItem/NavItem.tsx
  packages/circuit-ui/components/Sidebar/components/NavLabel/NavLabel.ts
  packages/circuit-ui/components/Sidebar/components/NavList/NavList.tsx
  packages/circuit-ui/components/Sidebar/components/Separator/Separator.tsx
  packages/circuit-ui/components/Sidebar/components/SubNavList/SubNavList.tsx
  packages/circuit-ui/components/Tooltip/Tooltip.tsx
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.stories.tsx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/tsconfig.json
  tsconfig.json
Labels: 🗂 circuit-ui

#2185 Fix tree-shaking of Circuit UI
  .changeset/afraid-plums-draw.md
  package-lock.json
  packages/circuit-ui/package.json
  packages/circuit-ui/vite.config.ts
Labels: 🐞 bug, 🗂 circuit-ui

#2186 Fix selector for root CSS variables
  .changeset/gold-ears-tickle.md
  packages/circuit-ui/components/Carousel/components/Status/__snapshots__/Status.spec.tsx.snap
  packages/design-tokens/scripts/build.spec.ts
  packages/design-tokens/scripts/build.ts
Labels: 🐞 bug, 🗂 circuit-ui, 🗂 design-tokens

#2182 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui

#2192 Externalize subpath imports of node modules
  .changeset/light-pumas-shop.md
  packages/circuit-ui/package.json
  packages/circuit-ui/vite.config.ts
Labels: 🐞 bug, 🗂 circuit-ui

#2187 Add Remix template
  .changeset/swift-bats-join.md
  .eslintrc.js
  .github/workflows/templates.yml
  package-lock.json
  packages/cna-template/template/package-lock.json
  packages/remix-template/.eslintignore
  packages/remix-template/.eslintrc.js
  packages/remix-template/.gitignore
  packages/remix-template/.huskyrc.js
  packages/remix-template/.prettierignore
  packages/remix-template/README.md
  packages/remix-template/app/components/DocCard/DocCard.module.css
  packages/remix-template/app/components/DocCard/DocCard.tsx
  packages/remix-template/app/components/DocCard/index.ts
  packages/remix-template/app/entry.client.tsx
  packages/remix-template/app/entry.server.tsx
  packages/remix-template/app/root.module.css
  packages/remix-template/app/root.tsx
  packages/remix-template/app/routes/_index/route.module.css
  packages/remix-template/app/routes/_index/route.tsx
  packages/remix-template/lint-staged.config.js
  packages/remix-template/package.json
  packages/remix-template/prettier.config.js
  packages/remix-template/remix.config.js
  packages/remix-template/remix.env.d.ts
  packages/remix-template/tsconfig.json
  scripts/verify-template.js
Labels: 🗂 cna-template, 🗂 remix-template

#2183 Migrate the Next.js template to Circuit UI v7
  .changeset/cyan-eels-explain.md
  package-lock.json
  packages/cna-template/README.md
  packages/cna-template/template/README.md
  packages/cna-template/template/components/DocCard/DocCard.module.css
  packages/cna-template/template/components/DocCard/DocCard.spec.tsx
  packages/cna-template/template/components/DocCard/DocCard.tsx
  packages/cna-template/template/components/DocCard/index.ts
  packages/cna-template/template/components/Logo/Logo.spec.tsx
  packages/cna-template/template/components/Logo/Logo.tsx
  packages/cna-template/template/components/Logo/__snapshots__/Logo.spec.tsx.snap
  packages/cna-template/template/components/Logo/index.ts
  packages/cna-template/template/components/Meta/Meta.spec.tsx
  packages/cna-template/template/components/Meta/Meta.tsx
  packages/cna-template/template/jest.config.js
  packages/cna-template/template/layouts/Root.module.css
  packages/cna-template/template/layouts/Root.tsx
  packages/cna-template/template/next.config.js
  packages/cna-template/template/package-lock.json
  packages/cna-template/template/package.json
  packages/cna-template/template/pages/404.tsx
  packages/cna-template/template/pages/500.tsx
  packages/cna-template/template/pages/_app.tsx
  packages/cna-template/template/pages/_error.tsx
  packages/cna-template/template/pages/error.module.css
  packages/cna-template/template/pages/index.module.css
  packages/cna-template/template/pages/index.tsx
  packages/cna-template/template/test-utils.tsx
  packages/cna-template/template/types/emotion.d.ts
  packages/remix-template/package.json
Labels: 🗂 cna-template, 🗂 remix-template

#2193 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 cna-template, 🗂 remix-template

#2194 Add style mixins to lifecycle imports rule
  .changeset/dry-spoons-dream.md
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🗂 eslint-plugin-circuit-ui

#2195 Throw error for missing `as` prop
  .changeset/rude-bikes-scream.md
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/Title/Title.tsx
Labels: 🗂 circuit-ui

#2196 Add type exports for subpaths
  .changeset/hip-owls-shave.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2197 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2199 Fix invalid input styles
  .changeset/clean-cars-nail.md
  packages/circuit-ui/components/Input/Input.module.css
  packages/circuit-ui/components/Select/Select.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2198 Add back default heading element
  .changeset/young-shirts-sleep.md
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/Title/Title.tsx
Labels: 🗂 circuit-ui

#2200 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2191 feat: add a helper text to radio buttons options
  .changeset/lemon-eyes-roll.md
  packages/circuit-ui/components/RadioButton/RadioButton.spec.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.stories.tsx
Labels: 🗂 circuit-ui

#2201 Add new 16 size 'ArrowSlanted' icon
  .changeset/curvy-emus-sneeze.md
  packages/icons/manifest.json
  packages/icons/web/v2/arrow_slanted_16.svg
Labels: 🗂 icons

#2202 Version Packages
  .changeset/curvy-emus-sneeze.md
  .changeset/lemon-eyes-roll.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 eslint-plugin-circuit-ui

#2203 Update Eftpos payment method icon
  .changeset/violet-dragons-grin.md
  packages/icons/web/v2/eftpos_24.svg
Labels: 🗂 icons

#2204 Version Packages
  .changeset/violet-dragons-grin.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons
