Repository sumup-oss/circuit-ui, pull requests merged in 2023-08, with the labels that each got.

#2211 Upgrade all dependencies
  lerna.json
  package-lock.json
  package.json
  packages/circuit-ui/components/Grid/utils.spec.ts
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.spec.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-components/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-components/index.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-props/index.ts
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/index.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  packages/eslint-plugin-circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/prefer-custom-properties/index.spec.ts
  packages/eslint-plugin-circuit-ui/prefer-custom-properties/index.ts
  packages/eslint-plugin-circuit-ui/vitest.config.mts
  packages/icons/package.json
  packages/stylelint-plugin-circuit-ui/package.json
  packages/stylelint-plugin-circuit-ui/vitest.config.mts
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui

#2212 Add migration guide for v7
  MIGRATION.md
Labels: 📋 documentation

#2213 Version Packages
  .changeset/bright-berries-add.md
  .changeset/brown-berries-impress.md
  .changeset/chilled-flies-dream.md
  .changeset/chilled-walls-learn.md
  .changeset/chilly-dolphins-travel.md
  .changeset/cyan-eels-explain.md
  .changeset/cyan-trains-move.md
  .changeset/dry-bugs-sniff.md
  .changeset/early-seahorses-whisper.md
  .changeset/fair-carrots-nail.md
  .changeset/flat-lamps-glow.md
  .changeset/green-singers-sneeze.md
  .changeset/grumpy-donuts-flash.md
  .changeset/khaki-baboons-deliver.md
  .changeset/late-students-own.md
  .changeset/loud-pots-act.md
  .changeset/lucky-monkeys-arrive.md
  .changeset/metal-bugs-melt.md
  .changeset/moody-doors-float.md
  .changeset/ninety-months-end.md
  .changeset/perfect-beers-fold.md
  .changeset/popular-eels-fetch.md
  .changeset/pre.json
  .changeset/pretty-bananas-juggle.md
  .changeset/real-clouds-relate.md
  .changeset/red-experts-lie.md
  .changeset/rude-bikes-scream.md
  .changeset/serious-hats-kick.md
  .changeset/serious-schools-look.md
  .changeset/smart-comics-crash.md
  .changeset/sour-masks-attend.md
  .changeset/swift-bats-join.md
  .changeset/tall-avocados-sin.md
  .changeset/tender-mangos-wave.md
  .changeset/thin-lions-share.md
  .changeset/three-radios-confess.md
  .changeset/tidy-knives-tap.md
  .changeset/tough-ants-tan.md
  .changeset/wicked-frogs-exercise.md
  .changeset/wise-zoos-do.md
  .changeset/yellow-lies-yell.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template

#2214 Add typescript-plugin-css-modules to templates
  .changeset/smart-pots-jog.md
  package-lock.json
  packages/cna-template/.gitignore
  packages/cna-template/template/package-lock.json
  packages/cna-template/template/package.json
  packages/cna-template/template/tsconfig.json
  packages/remix-template/package.json
  packages/remix-template/tsconfig.json
Labels: 🗂 cna-template, 🗂 remix-template

#2215 Version Packages
  .changeset/smart-pots-jog.md
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 cna-template, 🗂 remix-template

#2216 Improve migration guide
  .changeset/nervous-horses-smile.md
  MIGRATION.md
  packages/circuit-ui/package.json
Labels: 🐞 bug, 📋 documentation, 🗂 circuit-ui

#2217 Version Packages
  .changeset/nervous-horses-smile.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2218 Fix primary navigation width on wide viewports
  .changeset/wild-geckos-report.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2219 Version Packages
  .changeset/wild-geckos-report.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2220 Remove the Tag's icons from the accessibility tree
  .changeset/warm-ducks-bake.md
  package-lock.json
  packages/circuit-ui/components/Tag/Tag.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2221 Version Packages
  .changeset/warm-ducks-bake.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2222 Fix incorrect SearchInput padding
  .changeset/big-lamps-raise.md
  package-lock.json
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2226 Restore support for styling a TableHeader
  .changeset/unlucky-pumas-arrive.md
  packages/circuit-ui/components/Table/components/TableCell/TableCell.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.spec.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/types.ts
Labels: 🗂 circuit-ui

#2223 Version Packages
  .changeset/big-lamps-raise.md
  .changeset/unlucky-pumas-arrive.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2225 Add optional label to Checkbox
  .changeset/nervous-flowers-joke.md
  packages/circuit-ui/components/Checkbox/Checkbox.module.css
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
Labels: 🗂 circuit-ui

#2224 Extend validation for labels
  .changeset/famous-kiwis-live.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/util/errors.spec.tsx
  packages/circuit-ui/util/errors.ts
Labels: ♿ accessibility, 🗂 circuit-ui

#2228 Truncate input placeholders
  .changeset/few-waves-bow.md
  packages/circuit-ui/components/Input/Input.module.css
Labels: 🗂 circuit-ui

#2229 Add version switcher
  .storybook/addons/versions/index.tsx
  .storybook/manager.tsx
  .storybook/preview.tsx
Labels: 📋 documentation
