Repository sumup-oss/circuit-ui, pull requests merged in 2023-04, with the labels that each got.

#2023 Switch from yarn to npm
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/cna.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labels.yml
  .gitignore
  CONTRIBUTING.md
  docs/contributing/3-testing.mdx
  docs/contributing/4-release-process.mdx
  docs/contributing/7-contributing-icons.mdx
  docs/introduction/2-getting-started.mdx
  lerna.json
  package-lock.json
  package.json
  packages/circuit-ui/README.md
  packages/circuit-ui/package.json
  packages/cna-template/README.md
  packages/cna-template/template/README.md
  packages/cna-template/template/package-lock.json
  packages/cna-template/template/package.json
  packages/design-tokens/README.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/README.md
  packages/icons/README.md
  packages/icons/package.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui

#2021 Remove the title attribute from the ProgressBar component
  .changeset/strong-dodos-drive.md
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/ProgressBar/ProgressBar.mdx
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/ProgressBar/__snapshots__/ProgressBar.spec.tsx.snap
  packages/circuit-ui/components/Spinner/Spinner.mdx
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#2028 Version Packages
  .changeset/strong-dodos-drive.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#2036 Remove @storybook/preset-typescript
  .storybook/main.ts
  package-lock.json
  package.json
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/package.json
Labels: 📦 dependencies, 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 eslint-plugin-circuit-ui

#2037 Fix Popover item alignment
  .changeset/smart-ears-appear.md
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#2038 Version Packages
  .changeset/smart-ears-appear.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#2039 Make icon contributing guidelines more visible
  .gitignore
  assets/contributing-icons-export.png
  assets/contributing-icons-off-grid.png
  assets/contributing-icons-on-grid.png
  packages/icons/CONTRIBUTING.md
  scripts/copy-docs.sh
Labels: 📋 documentation, 🗂 icons

#2022 Upgrade to Foundry v6
  .eslintrc.js
  package-lock.json
  package.json
  packages/circuit-ui/components/AspectRatio/AspectRatio.spec.js
  packages/circuit-ui/components/AspectRatio/__snapshots__/AspectRatio.spec.js.snap
  packages/circuit-ui/components/Calendar/RangePicker.spec.js
  packages/circuit-ui/components/Calendar/SingleDayPicker.spec.js
  packages/circuit-ui/components/Calendar/__snapshots__/RangePicker.spec.js.snap
  packages/circuit-ui/components/Calendar/__snapshots__/SingleDayPicker.spec.js.snap
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarImportedStyles.ts
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.spec.js
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/CalendarWrapper.tsx
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/__snapshots__/CalendarWrapper.spec.js.snap
  packages/circuit-ui/components/Calendar/components/CalendarWrapper/index.ts
  packages/circuit-ui/components/CalendarTag/CalendarTag.spec.js
  packages/circuit-ui/components/CalendarTag/__snapshots__/CalendarTag.spec.js.snap
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.spec.js
  packages/circuit-ui/components/CalendarTagTwoStep/__snapshots__/CalendarTagTwoStep.spec.js.snap
  packages/circuit-ui/components/Carousel/Carousel.spec.js
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Buttons/Buttons.spec.js
  packages/circuit-ui/components/Carousel/components/Buttons/__snapshots__/Buttons.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Slide/Slide.spec.js
  packages/circuit-ui/components/Carousel/components/Slide/__snapshots__/Slide.spec.js.snap
  packages/circuit-ui/components/Carousel/components/SlideImage/SlideImage.spec.js
  packages/circuit-ui/components/Carousel/components/SlideImage/__snapshots__/SlideImage.spec.js.snap
  packages/circuit-ui/components/Carousel/components/Status/Status.spec.js
  packages/circuit-ui/components/Carousel/components/Status/__snapshots__/Status.spec.js.snap
  packages/circuit-ui/components/Grid/utils.spec.ts
  packages/circuit-ui/components/Sidebar/Sidebar.spec.js
  packages/circuit-ui/components/Sidebar/SidebarContext.spec.js
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.js.snap
  packages/circuit-ui/components/Tabs/Tabs.spec.js
  packages/circuit-ui/components/Tabs/__snapshots__/Tabs.spec.js.snap
  packages/circuit-ui/components/Tabs/components/Tab/Tab.spec.js
  packages/circuit-ui/components/Tabs/components/Tab/__snapshots__/Tab.spec.js.snap
  packages/circuit-ui/components/TextArea/useAutoExpand.spec.tsx
  packages/circuit-ui/jest.setup.js
  packages/circuit-ui/util/refs.spec.tsx
  packages/cna-template/template/package.json
Labels: 🗂 circuit-ui, 🗂 cna-template

#2048 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1995 Simplify style mixin function signature
  .changeset/tall-avocados-sin.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
  packages/circuit-ui/styles/style-mixins.ts
Labels: 🗂 circuit-ui

#1992 Raise minimum React version
  .changeset/chilled-walls-learn.md
  .changeset/popular-eels-fetch.md
  .storybook/themes.ts
  package-lock.json
  packages/circuit-ui/components/Carousel/__snapshots__/Carousel.spec.js.snap
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/CurrencyInput/__snapshots__/CurrencyInput.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/__snapshots__/Input.spec.tsx.snap
  packages/circuit-ui/components/ModalContext/createUseModal.ts
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageSelect/__snapshots__/PageSelect.spec.tsx.snap
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Popover/__snapshots__/Popover.spec.tsx.snap
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/ProgressBar/__snapshots__/ProgressBar.spec.tsx.snap
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButton/__snapshots__/RadioButton.spec.tsx.snap
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/__snapshots__/RadioButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/SearchInput/__snapshots__/SearchInput.spec.tsx.snap
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Select/__snapshots__/Select.spec.tsx.snap
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/Selector/__snapshots__/Selector.spec.tsx.snap
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SelectorGroup/__snapshots__/SelectorGroup.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/__snapshots__/MobileNavigation.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/__snapshots__/SecondaryLinks.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/SidePanel.spec.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanel.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/__snapshots__/SidePanelContext.spec.tsx.snap
  packages/circuit-ui/components/SidePanel/useSidePanel.spec.tsx
  packages/circuit-ui/components/SidePanel/useSidePanel.tsx
  packages/circuit-ui/components/TextArea/__snapshots__/TextArea.spec.tsx.snap
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/__snapshots__/TopNavigation.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.ts
  packages/circuit-ui/hooks/useFocusList/useFocusList.ts
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2051 Refactor design tokens to be fully static
  .changeset/orange-lamps-repeat.md
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/utils/media-queries.spec.ts
  packages/design-tokens/utils/media-queries.ts
Labels: 🗂 design-tokens

#2052 Version Packages
  .changeset/orange-lamps-repeat.md
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2060 Version Packages
  .changeset/great-papayas-cross.md
  .changeset/ninety-glasses-notice.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
  packages/cna-template/template/.eslintignore
  packages/cna-template/template/.eslintrc.js
  packages/cna-template/template/.huskyrc.js
  packages/cna-template/template/.prettierignore
  packages/cna-template/template/lint-staged.config.js
  packages/cna-template/template/prettier.config.js
Labels: 🗂 circuit-ui, 🗂 cna-template

#2049 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
Labels: 🗂 circuit-ui, 🗂 cna-template

#2063 Remove deprecated props
  .changeset/loud-pots-act.md
  .changeset/serious-schools-look.md
  packages/circuit-ui/components/Badge/Badge.spec.tsx
  packages/circuit-ui/components/Badge/Badge.tsx
  packages/circuit-ui/components/Badge/__snapshots__/Badge.spec.tsx.snap
  packages/circuit-ui/components/Checkbox/Checkbox.stories.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/ListItem/ListItem.spec.tsx
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/Notification/constants.ts
  packages/circuit-ui/components/NotificationInline/NotificationInline.spec.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/NotificationToast.spec.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/Table.stories.tsx
  packages/circuit-ui/util/logger.ts
Labels: 🗂 circuit-ui

#2064 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2067 Update ImageInput component prop types
  .changeset/khaki-baboons-deliver.md
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
Labels: 🗂 circuit-ui

#2069 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons
