Repository sumup-oss/circuit-ui, pull requests merged in 2023-03, with the labels that each got.

#1961 Redesign Avatar component
  .changeset/happy-beds-perform.md
  .changeset/mighty-pens-learn.md
  packages/circuit-ui/components/Avatar/Avatar.spec.tsx
  packages/circuit-ui/components/Avatar/Avatar.tsx
  packages/circuit-ui/components/Avatar/__snapshots__/Avatar.spec.tsx.snap
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.stories.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/__snapshots__/ProfileMenu.spec.tsx.snap
Labels: 🗂 circuit-ui

#1951 [DSYS-317] Mark the legacy color tokens as deprecated
  .changeset/forty-pumpkins-decide.md
  packages/design-tokens/types/index.ts
Labels: 🗂 design-tokens

#1968 Version Packages
  .changeset/eighty-carrots-double.md
  .changeset/flat-flies-push.md
  .changeset/forty-pumpkins-decide.md
  .changeset/happy-beds-perform.md
  .changeset/large-lies-film.md
  .changeset/mighty-pens-learn.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🚢 ready to merge

#1969 Fix sticky row header on narrow viewports (#1969
  .changeset/fuzzy-lions-cheer.md
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/__snapshots__/Table.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableBody/TableBody.tsx
  packages/circuit-ui/components/Table/components/TableBody/__snapshots__/TableBody.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHead/TableHead.tsx
  packages/circuit-ui/components/Table/components/TableHead/__snapshots__/TableHead.spec.tsx.snap
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.tsx
  packages/circuit-ui/components/Table/utils.spec.ts
  packages/circuit-ui/components/Table/utils.ts
Labels: 🐞 bug, 🗂 circuit-ui

#1971 Version Packages
  .changeset/fuzzy-lions-cheer.md
  .changeset/odd-wolves-deny.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1973 Remove codemods from previous Circuit UI versions (#1973
  .changeset/fluffy-weeks-kick.md
  .eslintrc.js
  packages/circuit-ui/cli/index.ts
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v5.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/component-names-v5.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/listitem-prop-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/listitem-prop-names.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-color-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-color-names.output.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-variant-names.input.js
  packages/circuit-ui/cli/migrate/__testfixtures__/semantic-variant-names.output.js
  packages/circuit-ui/cli/migrate/__tests__/migrate.spec.js
  packages/circuit-ui/cli/migrate/component-names-v5.ts
  packages/circuit-ui/cli/migrate/index.ts
  packages/circuit-ui/cli/migrate/listitem-prop-names.ts
  packages/circuit-ui/cli/migrate/semantic-color-names.ts
  packages/circuit-ui/cli/migrate/semantic-variant-names.ts
  packages/circuit-ui/cli/migrate/utils/index.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.json
  yarn.lock
Labels: 🗂 circuit-ui

#1960 Configure Chromatic's TurboSnap feature
  .github/workflows/chromatic.yml
  .storybook/main.ts
  .storybook/public/themes/blue.css
  package.json
  packages/circuit-ui/components/Calendar/calendar.mdx
  yarn.lock
Labels: 🗂 circuit-ui

#1974 Version Packages
  .changeset/fluffy-weeks-kick.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1981 Version Packages
  .changeset/wet-insects-punch.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1982 Add migration guide entry for v6.3
  MIGRATION.md
Labels: 📋 documentation, 🚢 ready to merge

#1984 Change the icon for `notify` variants
  .changeset/twenty-games-own.md
  packages/circuit-ui/components/FieldAtoms/FieldValidationHint.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
Labels: 🗂 circuit-ui

#1983 Tweak the design of the Toggle component
  .changeset/silver-vans-smash.md
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
  packages/circuit-ui/components/Toggle/components/Switch/__snapshots__/Switch.spec.tsx.snap
Labels: 🗂 circuit-ui

#1993 Remove duplicate id from the validation hint icon in form components
  .changeset/tasty-ghosts-smell.md
  packages/circuit-ui/components/Checkbox/__snapshots__/Checkbox.spec.tsx.snap
  packages/circuit-ui/components/FieldAtoms/FieldValidationHint.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1994 Version Packages
  .changeset/tasty-ghosts-smell.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#1997 Deprecate the tracking props (#1997
  .changeset/great-flowers-yell.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/CalendarTag/CalendarTag.js
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.js
  packages/circuit-ui/components/Card/components/Header/Header.tsx
  packages/circuit-ui/components/Carousel/Carousel.js
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/ModalContext/types.ts
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
  packages/circuit-ui/components/SidePanel/useSidePanel.tsx
  packages/circuit-ui/components/Sidebar/components/Aggregator/Aggregator.tsx
  packages/circuit-ui/components/Sidebar/components/NavItem/NavItem.tsx
  packages/circuit-ui/components/Step/types.ts
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/ToastContext/types.ts
  packages/circuit-ui/components/Toggle/components/Switch/Switch.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
Labels: 🗂 circuit-ui

#1998 Deprecate the `uniqueId` util
  .changeset/late-weeks-appear.md
  packages/circuit-ui/util/id.ts
Labels: 🗂 circuit-ui

#2000 Rename component variants to match semantic colors
  .changeset/tasty-maps-check.md
  packages/circuit-ui/components/Badge/Badge.spec.tsx
  packages/circuit-ui/components/Badge/Badge.stories.tsx
  packages/circuit-ui/components/Badge/Badge.tsx
  packages/circuit-ui/components/Badge/__snapshots__/Badge.spec.tsx.snap
  packages/circuit-ui/components/Notification/constants.ts
  packages/circuit-ui/components/NotificationInline/NotificationInline.mdx
  packages/circuit-ui/components/NotificationInline/NotificationInline.spec.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.stories.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationToast/NotificationToast.mdx
  packages/circuit-ui/components/NotificationToast/NotificationToast.spec.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.stories.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/NotificationToast/__snapshots__/NotificationToast.spec.tsx.snap
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
Labels: 🗂 circuit-ui

#1999 Version Packages
  .changeset/great-flowers-yell.md
  .changeset/late-weeks-appear.md
  .changeset/tasty-maps-check.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1996 Deprecate the Checkbox's `children` prop
  .changeset/olive-mugs-wait.md
  packages/circuit-ui/components/Checkbox/Checkbox.spec.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
Labels: 🗂 circuit-ui

#2007 Forward refs to notification components (#2007
  .changeset/sweet-jobs-visit.md
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.spec.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.spec.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.spec.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1991 Add ESLint plugin
  .changeset/rare-colts-agree.md
  .changeset/selfish-toes-clap.md
  .eslintignore
  .eslintrc.js
  .prettierignore
  docs/features/1-theme.mdx
  docs/introduction/2-getting-started.mdx
  jest.config.js
  package.json
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/ImageInput/__snapshots__/ImageInput.spec.tsx.snap
  packages/eslint-plugin-circuit-ui/.eslintignore
  packages/eslint-plugin-circuit-ui/LICENSE
  packages/eslint-plugin-circuit-ui/README.md
  packages/eslint-plugin-circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/jest.config.js
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/README.md
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-invalid-custom-properties/index.ts
  packages/eslint-plugin-circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/tsconfig.json
  yarn.lock
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2009 Add Payment Link icon
  .changeset/payment-link-icon.md
  packages/icons/manifest.json
  packages/icons/web/v2/payment_link_24.svg
Labels: 🗂 icons

#2011 Use Toggle explanation as description, not label
  .changeset/poor-dolphins-help.md
  packages/circuit-ui/components/Toggle/Toggle.spec.tsx
  packages/circuit-ui/components/Toggle/Toggle.stories.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
  packages/circuit-ui/components/Toggle/__snapshots__/Toggle.spec.tsx.snap
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#2012 Version Packages
  .changeset/poor-dolphins-help.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#2018 Add new icons
  .changeset/afraid-rice-peel.md
  packages/icons/manifest.json
  packages/icons/web/v2/active_16.svg
  packages/icons/web/v2/active_24.svg
  packages/icons/web/v2/basket_24.svg
  packages/icons/web/v2/briefcase_24.svg
  packages/icons/web/v2/card_reader_solo_lite_24.svg
  packages/icons/web/v2/clothing_24.svg
  packages/icons/web/v2/customize_24.svg
  packages/icons/web/v2/health_24.svg
  packages/icons/web/v2/mcc_24.svg
  packages/icons/web/v2/paused_16.svg
  packages/icons/web/v2/paused_24.svg
  packages/icons/web/v2/promote_24.svg
  packages/icons/web/v2/services_24.svg
  packages/icons/web/v2/stop_16.svg
  packages/icons/web/v2/stop_24.svg
  packages/icons/web/v2/stopped_16.svg
  packages/icons/web/v2/stopped_24.svg
  packages/icons/web/v2/tablet_24.svg
Labels: 🗂 icons

#2019 Version Packages (#2019)Co-authored-by: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
  .changeset/afraid-rice-peel.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons
