Repository sumup-oss/circuit-ui, pull requests merged in 2023-02, with the labels that each got.

#1928 Icons - add new 16 size for 'Favorite' icon
  .changeset/happy-rice-laugh.md
  packages/icons/manifest.json
  packages/icons/web/v2/favorite_16.svg
Labels: 🗂 icons

#1916 Adjust side navigation in wide screens
  .changeset/navigation-width.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/__snapshots__/DesktopNavigation.spec.tsx.snap
Labels: 🗂 circuit-ui

#1929 Version Packages (#1929)Co-authored-by: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
  .changeset/happy-rice-laugh.md
  .changeset/navigation-width.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#1938 fix: interactive styles on secondary button inside a ButtonGroup
  .changeset/shiny-otters-smash.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/__snapshots__/Button.spec.tsx.snap
  packages/circuit-ui/components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/circuit-ui/components/NotificationInline/__snapshots__/NotificationInline.spec.tsx.snap
  packages/circuit-ui/components/NotificationModal/__snapshots__/NotificationModal.spec.tsx.snap
  packages/circuit-ui/components/Pagination/__snapshots__/Pagination.spec.tsx.snap
  packages/circuit-ui/components/Pagination/components/PageList/__snapshots__/PageList.spec.tsx.snap
Labels: 🎨 design, 🗂 circuit-ui

#1939 Version Packages
  .changeset/shiny-otters-smash.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1922 Upgrade template app to Next.js 13.1
  .changeset/brave-moons-share.md
  .changeset/poor-cougars-explain.md
  .changeset/tasty-papayas-unite.md
  packages/cna-template/.gitignore
  packages/cna-template/template/.babelrc
  packages/cna-template/template/.env
  packages/cna-template/template/.nvmrc
  packages/cna-template/template/components/Link/Link.spec.tsx
  packages/cna-template/template/components/Link/Link.tsx
  packages/cna-template/template/components/Link/index.ts
  packages/cna-template/template/components/Meta/Meta.tsx
  packages/cna-template/template/jest.config.js
  packages/cna-template/template/jest.config.json
  packages/cna-template/template/jest.setup.tsx
  packages/cna-template/template/next.config.js
  packages/cna-template/template/package.json
  packages/cna-template/template/pages/_document.tsx
  packages/cna-template/template/pages/_error.tsx
  packages/cna-template/template/pages/index.tsx
  packages/cna-template/template/test-utils.tsx
Labels: 🗂 cna-template

#1940 [ECOM-2468] Add alternative payment method logos
  .changeset/tricky-teachers-refuse.md
  packages/icons/manifest.json
  packages/icons/web/v2/bancontact_24.svg
  packages/icons/web/v2/blik_24.svg
  packages/icons/web/v2/eps_24.svg
  packages/icons/web/v2/giropay_24.svg
  packages/icons/web/v2/ideal_24.svg
  packages/icons/web/v2/mybank_24.svg
  packages/icons/web/v2/przelewy24_24.svg
  packages/icons/web/v2/satispay_24.svg
Labels: 🗂 icons

#1942 Fix height of the DateInput component
  .changeset/stale-lemons-join.md
  packages/circuit-ui/components/DateInput/DateInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#1941 Version Packages (#1941)Co-authored-by: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
  .changeset/brave-moons-share.md
  .changeset/poor-cougars-explain.md
  .changeset/stale-lemons-join.md
  .changeset/tasty-papayas-unite.md
  .changeset/tricky-teachers-refuse.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 cna-template

#1959 Fix bg/danger color value
  .changeset/proud-walls-kneel.md
  .storybook/preview-head.html
  packages/circuit-ui/components/BaseStyles/BaseStylesService.ts
  packages/circuit-ui/components/BaseStyles/__snapshots__/BaseStylesService.spec.ts.snap
Labels: 🐞 bug, 🗂 circuit-ui

#1958 Version Packages
  .changeset/proud-walls-kneel.md
  .changeset/strange-bats-listen.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🚢 ready to merge
