Repository sumup-oss/circuit-ui, pull requests merged in 2023-01, with the labels that each got.

#1880 Add semantic color tokens to BaseStyles
  .changeset/itchy-buttons-tan.md
  .storybook/components/ColorsTable.tsx
  .storybook/components/index.js
  .storybook/util/theme.js
  docs/features/theme.stories.mdx
  packages/circuit-ui/components/BaseStyles/BaseStylesService.ts
  packages/circuit-ui/components/BaseStyles/__snapshots__/BaseStylesService.spec.ts.snap
Labels: 🗂 circuit-ui

#1905 Version Packages
  .changeset/itchy-buttons-tan.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🚢 ready to merge

#1906 [EXP-33] Add Faster Payments payment method icon
  .changeset/shy-rockets-collect.md
  packages/icons/manifest.json
  packages/icons/web/v2/faster_payments_24.svg
Labels: 🗂 icons

#1907 Version Packages
  .changeset/shy-rockets-collect.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons, 🚢 ready to merge

#1913 Switch to Node 18 for development
  .changeset/wise-colts-press.md
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/cna.yml
  .nvmrc
  CONTRIBUTING.md
  MIGRATION.md
  packages/cna-template/README.md
Labels: 🗂 cna-template

#1914 Version Packages
  .changeset/wise-colts-press.md
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
Labels: 🗂 cna-template
