Repository sumup-oss/circuit-ui, pull requests merged in 2023-11, with the labels that each got.

#2280 Fix/enable custom class in TopNavigation to be passed to PopOver
  .changeset/blue-buses-cough.md
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
Labels: 🗂 circuit-ui

#2279 Version Packages
  .changeset/blue-buses-cough.md
  .changeset/chatty-pears-admire.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template

#2287 Fix Button text disappearing
  .changeset/four-toes-tan.md
  packages/circuit-ui/components/Button/Button.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2288 Version Packages
  .changeset/brave-seas-speak.md
  .changeset/famous-wolves-explain.md
  .changeset/four-toes-tan.md
  .changeset/rotten-ghosts-exist.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 remix-template

#2290 Upgrade template to Next.js 14
  .changeset/odd-bobcats-report.md
  packages/cna-template/template/.env
  packages/cna-template/template/app/layout.tsx
  packages/cna-template/template/app/page.module.css
  packages/cna-template/template/app/page.tsx
  packages/cna-template/template/app/preload-resources.tsx
  packages/cna-template/template/components/Meta/Meta.spec.tsx
  packages/cna-template/template/components/Meta/Meta.tsx
  packages/cna-template/template/components/Meta/index.ts
  packages/cna-template/template/layouts/Root.module.css
  packages/cna-template/template/layouts/Root.tsx
  packages/cna-template/template/next.config.js
  packages/cna-template/template/package-lock.json
  packages/cna-template/template/package.json
  packages/cna-template/template/pages/404.tsx
  packages/cna-template/template/pages/500.tsx
  packages/cna-template/template/pages/_app.tsx
  packages/cna-template/template/pages/_document.tsx
  packages/cna-template/template/pages/error.module.css
Labels: 🗂 cna-template

#2292 Version Packages
  .changeset/odd-bobcats-report.md
  packages/cna-template/CHANGELOG.md
  packages/cna-template/package.json
Labels: 🗂 cna-template

#2230 Add an Astro template
  .changeset/five-apples-lick.md
  .changeset/old-jokes-relax.md
  .eslintignore
  .eslintrc.js
  .github/workflows/templates.yml
  docs/introduction/2-getting-started.mdx
  package-lock.json
  package.json
  packages/astro-template/.eslintignore
  packages/astro-template/.eslintrc.cjs
  packages/astro-template/.gitignore
  packages/astro-template/.huskyrc.cjs
  packages/astro-template/.prettierignore
  packages/astro-template/.vscode/extensions.json
  packages/astro-template/.vscode/launch.json
  packages/astro-template/README.md
  packages/astro-template/astro.config.ts
  packages/astro-template/lint-staged.config.cjs
  packages/astro-template/package.json
  packages/astro-template/prettier.config.cjs
  packages/astro-template/public/.gitkeep
  packages/astro-template/src/components/DocCard.astro
  packages/astro-template/src/env.d.ts
  packages/astro-template/src/layouts/Root.astro
  packages/astro-template/src/pages/index.astro
  packages/astro-template/tsconfig.json
  packages/cna-template/README.md
  packages/remix-template/README.md
  packages/remix-template/app/components/DocCard/DocCard.module.css
  packages/remix-template/app/root.module.css
  packages/remix-template/app/root.tsx
  scripts/verify-template.js
Labels: 🗂 cna-template, 🗂 remix-template, 🗂 astro-template

#2294 Version Packages
  .changeset/five-apples-lick.md
  .changeset/old-jokes-relax.md
  packages/astro-template/CHANGELOG.md
  packages/astro-template/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 remix-template, 🗂 astro-template

#2295 Add activeIcon to TopNavigation and SideNavigation links
  .changeset/young-ducks-clap.md
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: 🗂 circuit-ui

#2297 Improve accessibility of navigation components
  .changeset/poor-rice-move.md
  .changeset/tasty-guests-work.md
  .changeset/weak-toes-fly.md
  packages/circuit-ui/components/Field/Field.tsx
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.stories.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/Sidebar/components/Separator/Separator.tsx
  packages/circuit-ui/components/Sidebar/components/Separator/__snapshots__/Separator.spec.tsx.snap
  packages/circuit-ui/components/Skeleton/Skeleton.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.module.css
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#2301 Version Packages
  .changeset/smart-glasses-heal.md
  .changeset/ten-kangaroos-crash.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2302 Add subtle on-strong foreground color tokens
  .changeset/famous-masks-heal.md
  packages/design-tokens/themes/light.ts
  packages/design-tokens/themes/schema.ts
Labels: 🗂 design-tokens

#2303 Version Packages
  .changeset/famous-masks-heal.md
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2304 Fix Popover compatibility with server-side rendering
  .changeset/good-lamps-taste.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2310 Version Packages
  .changeset/dirty-rice-jump.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2307 Align Button prop names with other platforms
  .changeset/cyan-tables-act.md
  .changeset/good-tigers-swim.md
  .changeset/hot-eggs-agree.md
  .changeset/light-plums-sin.md
  .changeset/moody-berries-move.md
  .changeset/nervous-queens-return.md
  .changeset/old-dots-judge.md
  packages/circuit-ui/components/Button/Button.mdx
  packages/circuit-ui/components/Button/Button.module.css
  packages/circuit-ui/components/Button/Button.stories.tsx
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/index.ts
  packages/circuit-ui/components/CalendarTagTwoStep/CalendarTagTwoStep.tsx
  packages/circuit-ui/components/Carousel/components/Buttons/Buttons.tsx
  packages/circuit-ui/components/CloseButton/CloseButton.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.module.css
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
  packages/circuit-ui/components/Header/Header.stories.tsx
  packages/circuit-ui/components/IconButton/IconButton.module.css
  packages/circuit-ui/components/IconButton/IconButton.spec.tsx
  packages/circuit-ui/components/IconButton/IconButton.stories.tsx
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.module.css
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/Pagination/components/PageList/PageList.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
  packages/circuit-ui/components/SidePanel/components/Header/Header.tsx
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/eslint-plugin-circuit-ui/no-renamed-props/README.md
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui
