Repository sumup-oss/circuit-ui, pull requests merged in 2024-01, with the labels that each got.

#2367 Fix Anchor alignment
  .changeset/loud-rules-study.md
  packages/circuit-ui/components/Anchor/Anchor.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2368 Version Packages
  .changeset/loud-rules-study.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2369 Fix disabled ButtonGroup action
  .changeset/dull-pets-hope.md
  packages/circuit-ui/components/Button/Button.stories.tsx
  packages/circuit-ui/components/Button/base.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2370 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2372 Hoist ButtonGroup's size prop
  .changeset/perfect-pugs-exist.md
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.tsx
Labels: 🗂 circuit-ui

#2373 Fix custom Button styles
  .changeset/lazy-jokes-kick.md
  packages/circuit-ui/components/Card/components/Header/Header.module.css
  packages/circuit-ui/components/Input/Input.module.css
  packages/circuit-ui/components/Modal/Modal.module.css
  packages/circuit-ui/components/SearchInput/SearchInput.module.css
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.module.css
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SidePanel/components/Header/Header.module.css
  packages/circuit-ui/components/SidePanel/components/Header/Header.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2376 Fix Button's compatibility with Google Translate
  .changeset/brave-moles-marry.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/IconButton/IconButton.module.css
  packages/circuit-ui/components/IconButton/IconButton.tsx
  packages/circuit-ui/components/Sidebar/__snapshots__/Sidebar.spec.tsx.snap
  packages/circuit-ui/components/Sidebar/components/CloseButton/__snapshots__/CloseButton.spec.tsx.snap
Labels: 🐞 bug, 🗂 circuit-ui

#2378 Improve icon search
  .storybook/components/Icons.module.css
  .storybook/components/Icons.tsx
  packages/icons/scripts/web.ts
Labels: 🗂 icons

#2371 Add migration guide for Circuit UI v8
  MIGRATION.md
Labels: 📋 documentation

#2380 Upgrade dependencies
  package-lock.json
  package.json
  packages/astro-template/astro.config.ts
  packages/astro-template/package.json
  packages/circuit-ui/package.json
  packages/cna-template/template/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/package.json
  packages/remix-template/app/entry.server.tsx
  packages/remix-template/package.json
  packages/stylelint-plugin-circuit-ui/no-invalid-custom-properties/index.spec.ts
  packages/stylelint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2382 Fix clipped Button content
  .changeset/nervous-jokes-invite.md
  packages/circuit-ui/components/Button/base.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2384 Improve accessibility of Popover icons
  .changeset/shiny-dryers-try.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#2383 Version Packages
  .changeset/nervous-jokes-invite.md
  .changeset/shiny-dryers-try.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2385 Replace Tabs shadow with bottom border
  .changeset/grumpy-lies-promise.md
  packages/circuit-ui/components/Tabs/Tabs.stories.tsx
  packages/circuit-ui/components/Tabs/Tabs.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.module.css
  packages/circuit-ui/components/Tabs/components/TabList/TabList.module.css
Labels: 🗂 circuit-ui

#2386 Version Packages
  .changeset/grumpy-lies-promise.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2387 Fix passing custom styles to SelectorGroup options (v7)
  .changeset/seven-peaches-float.md
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2389 Version Packages
  .changeset/seven-peaches-float.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2388 Fix passing custom styles to SelectorGroup options
  .changeset/seven-peaches-float.md
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2390 Version Packages
  .changeset/seven-peaches-float.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2391 Address deprecations in the Carousel component
  .changeset/pretty-buttons-fold.md
  packages/circuit-ui/components/Carousel/Carousel.tsx
Labels: 🗂 circuit-ui

#2398 Improve modal and toast stories
  .storybook/components/FullViewport.module.css
  .storybook/components/FullViewport.tsx
  .storybook/components/index.ts
  .storybook/modes.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.stories.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.stories.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
Labels: 📋 documentation, 🗂 circuit-ui

#2399 Decrease viewport width at which the ButtonGroup wraps
  packages/circuit-ui/components/Button/base.module.css
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2402 Fix scroll-lock caused by modal (v7)
  .changeset/loud-penguins-type.md
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2404 Version Packages
  .changeset/loud-penguins-type.md
  .changeset/lovely-pillows-build.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2407 Add Loja icon
  .changeset/few-kids-appear.md
  packages/icons/manifest.json
  packages/icons/web/v2/loja_24.svg
Labels: 🗂 icons

#2408 Update the Reports icon
  .changeset/dirty-carrots-boil.md
  packages/icons/web/v2/reports_24.svg
Labels: 🗂 icons

#2409 Version Packages
  .changeset/clever-eagles-brush.md
  .changeset/cyan-cougars-smash.md
  .changeset/metal-windows-play.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2410 Fix scroll-lock caused by ModalProvider
  .changeset/clean-teachers-float.md
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2411 Version Packages
  .changeset/clean-teachers-float.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2412 Fix scroll-lock caused by ModalProvider
  .changeset/clean-teachers-float.md
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2413 Version Packages
  .changeset/clean-teachers-float.md
  .changeset/lovely-pillows-build.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2414 Add minimum height to SidePanelProvider
  .changeset/clever-ducks-play.md
  packages/circuit-ui/components/SidePanel/SidePanelContext.module.css
  packages/circuit-ui/components/SidePanel/SidePanelContext.spec.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.tsx
Labels: 🗂 circuit-ui
