Repository sumup-oss/circuit-ui, pull requests merged in 2024-04, with the labels that each got.

#2478 Fix slide display for the composed Carousel
  .changeset/wicked-bears-sneeze.md
  packages/circuit-ui/components/Carousel/components/Slide/Slide.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2483 Fix semantics of the TopNavigation's profile menu
  .changeset/slow-shrimps-smoke.md
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#2482 Version Packages
  .changeset/slow-shrimps-smoke.md
  .changeset/weak-starfishes-rule.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2480 Add migration instructions for legacy Tooltip
  package-lock.json
  package.json
  packages/circuit-ui/components/Tooltip/Tooltip.tsx
  packages/circuit-ui/components/legacy/Tooltip/Tooltip.mdx
  packages/circuit-ui/components/legacy/Tooltip/Tooltip.tsx
  patches/nwsapi+2.2.7.patch
Labels: 🗂 circuit-ui

#2472 Version Packages (canary)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2481 Add support for custom components in TopNavigation links
  .changeset/tidy-buses-sleep.md
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.module.css
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
Labels: 🗂 circuit-ui

#2485 Version Packages
  .changeset/beige-bottles-act.md
  .changeset/giant-seals-vanish.md
  .changeset/pre.json
  .changeset/tidy-buses-sleep.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2486 Use value as React key in form field group components
  .changeset/grumpy-items-trade.md
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2488 Version Packages
  .changeset/fair-beds-hammer.md
  .changeset/grumpy-items-trade.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/template/CHANGELOG.md
  packages/cna-template/template/package.json
Labels: 🗂 circuit-ui, 🗂 cna-template

#2489 Revert using the experimental Tooltip component in stable components
  .changeset/lemon-pens-shop.md
  packages/circuit-ui/components/Button/IconButton.module.css
  packages/circuit-ui/components/Button/IconButton.tsx
  packages/circuit-ui/components/Button/base.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.spec.tsx
  packages/circuit-ui/components/Pagination/Pagination.spec.tsx
  packages/circuit-ui/components/Pagination/components/PageList/PageList.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.spec.tsx
  packages/circuit-ui/components/SidePanel/components/Header/Header.spec.tsx
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.spec.tsx
  packages/circuit-ui/components/Table/components/SortArrow/SortArrow.tsx
  packages/circuit-ui/components/Tag/Tag.spec.tsx
  packages/circuit-ui/components/Tag/Tag.tsx
  packages/circuit-ui/components/Tooltip/Tooltip.stories.tsx
Labels: 🗂 circuit-ui

#2490 Version Packages
  .changeset/lemon-pens-shop.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2491 Rename Table's initialSortedRow to initialSortedColumn
  .changeset/slimy-carpets-tease.md
  packages/circuit-ui/components/Table/Table.spec.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Table/components/TableHead/TableHead.tsx
  packages/circuit-ui/components/Table/utils.spec.ts
  packages/circuit-ui/components/Table/utils.ts
Labels: 🗂 circuit-ui

#2495 Add Automatic balance transfer icon
  .changeset/brave-lamps-hammer.md
  packages/icons/manifest.json
  packages/icons/web/v2/automatic_balance_transfer_24.svg
Labels: 🗂 icons

#2501 Upgrade to React 18.3
  .storybook/decorators/withUnmountWhenHidden.tsx
  .storybook/preview.tsx
  package-lock.json
  package.json
  packages/circuit-ui/components/Button/base.tsx
  packages/circuit-ui/components/ComponentsContext/components/Link/Link.tsx
  packages/circuit-ui/package.json
Labels: 📦 dependencies, 🗂 circuit-ui
