Repository sumup-oss/circuit-ui, pull requests merged in 2024-02, with the labels that each got.

#2416 Prefer web safe fonts over system fonts
  .changeset/real-suits-relate.md
  .storybook/preview-head.html
  .storybook/themes.ts
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/legacy/light.ts
  packages/design-tokens/themes/light.ts
Labels: 🐞 bug, 🗂 design-tokens

#2417 Prefer web safe fonts over system fonts (v7)
  .changeset/real-suits-relate.md
  .storybook/preview-head.html
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/legacy/shared.ts
  packages/design-tokens/themes/light.ts
Labels: 🐞 bug, 🗂 design-tokens

#2415 Version Packages
  .changeset/clever-ducks-play.md
  .changeset/real-suits-relate.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2423 Version Packages
  .changeset/real-suits-relate.md
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2424 Add dark theme
  .changeset/lazy-dingos-look.md
  .storybook/components/DocsContainer.tsx
  .storybook/components/Image.module.css
  .storybook/components/Image.tsx
  .storybook/decorators/withThemeProvider.tsx
  .storybook/manager.tsx
  .storybook/modes.ts
  .storybook/preview.tsx
  .storybook/themes.ts
  docs/introduction/1-welcome.mdx
  packages/design-tokens/scripts/build.spec.ts
  packages/design-tokens/scripts/build.ts
  packages/design-tokens/themes/dark.ts
  packages/design-tokens/themes/light.ts
  packages/design-tokens/themes/shared.ts
Labels: 🗂 design-tokens

#2425 Version Packages (next)
  .changeset/pre.json
  package-lock.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2427 Version Packages (next)
  .changeset/pre.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2428 Add scoped versions of the dark and light themes
  .changeset/lazy-dingos-look.md
  .changeset/nasty-owls-collect.md
  packages/design-tokens/scripts/build.spec.ts
  packages/design-tokens/scripts/build.ts
Labels: 🗂 design-tokens

#2429 Version Packages (next)
  .changeset/pre.json
  package-lock.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2432 Disable dark mode snapshots for non-visual stories
  .storybook/manager-head.html
  .storybook/themes.ts
  packages/circuit-ui/components/legacy/InlineElements/InlineElements.stories.tsx
  packages/circuit-ui/hooks/useFocusList/useFocusList.stories.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
Labels: 📋 documentation, 🗂 circuit-ui

#2434 Fix display and transition of Carousel slides
  .changeset/sour-terms-tap.md
  packages/circuit-ui/components/Carousel/components/Slide/Slide.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2433 Adjust shadows and gradients for dark mode
  .changeset/stale-parrots-hear.md
  packages/circuit-ui/components/Carousel/components/Slide/Slide.module.css
  packages/circuit-ui/components/Modal/Modal.module.css
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.module.css
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.module.css
  packages/circuit-ui/components/legacy/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/styles/utility.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2437 Version Packages
  .changeset/sour-terms-tap.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2436 Version Packages
  .changeset/sour-terms-tap.md
  .changeset/stale-parrots-hear.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2431 Replace no-bundle plugin with Rollup option
  package-lock.json
  packages/circuit-ui/package.json
  packages/circuit-ui/vite.config.ts
Labels: 🗂 circuit-ui

#2438 Version Packages (next)
  .changeset/pre.json
  packages/astro-template/CHANGELOG.md
  packages/astro-template/package.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2439 Version Packages (next)
  .changeset/pre.json
  packages/astro-template/CHANGELOG.md
  packages/astro-template/package.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2440 [SA-81879] Add new icon - sparkles
  .changeset/friendly-suns-occur.md
  packages/icons/manifest.json
  packages/icons/web/v2/sparkles_16.svg
Labels: 🗂 icons

#2441 Version Packages
  .changeset/empty-insects-return.md
  .changeset/four-garlics-sleep.md
  .changeset/friendly-suns-occur.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2444 Add full dark theme
  .changeset/clever-laws-wait.md
  .changeset/fuzzy-actors-marry.md
  .changeset/swift-readers-retire.md
  packages/circuit-ui/components/CloseButton/CloseButton.module.css
  packages/circuit-ui/components/CloseButton/CloseButton.tsx
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.module.css
  packages/circuit-ui/components/Toggle/Toggle.module.css
  packages/circuit-ui/components/Toggle/Toggle.stories.tsx
  packages/circuit-ui/components/legacy/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/styles/utility.module.css
  packages/design-tokens/themes/dark.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2445 Version Packages (next)
  .changeset/pre.json
  packages/astro-template/CHANGELOG.md
  packages/astro-template/package.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2443 Add flag icons for AE, HK, JP, MY, MX, NZ, and SG
  .changeset/green-garlics-compete.md
  packages/icons/manifest.json
  packages/icons/web/v2/flag_ae_16.svg
  packages/icons/web/v2/flag_hk_16.svg
  packages/icons/web/v2/flag_ja_16.svg
  packages/icons/web/v2/flag_mx_16.svg
  packages/icons/web/v2/flag_my_16.svg
  packages/icons/web/v2/flag_nz_16.svg
  packages/icons/web/v2/flag_sg_16.svg
Labels: 🗂 icons

#2447 Sync icons with Figma
  .changeset/clean-carrots-marry.md
  .changeset/olive-mails-notice.md
  .changeset/rare-apes-hunt.md
  .storybook/components/Icons.module.css
  .storybook/components/Icons.tsx
  packages/icons/manifest.json
  packages/icons/web/v2/banco_estado_24.svg
  packages/icons/web/v2/boleto_24.svg
  packages/icons/web/v2/cookie_24.svg
  packages/icons/web/v2/driver_license_24.svg
  packages/icons/web/v2/email_24.svg
  packages/icons/web/v2/facebook_messenger_24.svg
  packages/icons/web/v2/items_24.svg
  packages/icons/web/v2/manage_24.svg
  packages/icons/web/v2/passport_24.svg
  packages/icons/web/v2/phone_24.svg
  packages/icons/web/v2/receipt_24.svg
  packages/icons/web/v2/refresh_16.svg
  packages/icons/web/v2/refresh_24.svg
  packages/icons/web/v2/residence_permit_24.svg
  packages/icons/web/v2/reward_24.svg
  packages/icons/web/v2/vr_24.svg
  svgo.config.js
Labels: 🗂 icons

#2446 Version Packages
  .changeset/clean-carrots-marry.md
  .changeset/green-garlics-compete.md
  .changeset/olive-mails-notice.md
  .changeset/rare-apes-hunt.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2448 Add missing client directives
  .changeset/stupid-cups-sell.md
  package-lock.json
  package.json
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/Toggle/Toggle.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2449 Version Packages
  .changeset/stupid-cups-sell.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2451 Enable table of contents for doc pages
  .storybook/components/Icons.tsx
  .storybook/components/Teaser.tsx
  .storybook/preview.tsx
  .storybook/slugify.ts
  docs/contributing/3-testing.mdx
  package-lock.json
  package.json
  packages/circuit-ui/components/Headline/Headline.mdx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.mdx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.mdx
  packages/circuit-ui/components/Step/Step.mdx
  packages/circuit-ui/components/SubHeadline/SubHeadline.mdx
  packages/circuit-ui/components/TopNavigation/TopNavigation.mdx
Labels: 📋 documentation, 🗂 circuit-ui

#2452 Version Packages
  .changeset/fuzzy-actors-marry.md
  .changeset/lazy-dingos-look.md
  .changeset/nasty-owls-collect.md
  .changeset/pre.json
  .changeset/shaggy-points-think.md
  .changeset/swift-readers-retire.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens
