Repository sumup-oss/circuit-ui, pull requests merged in 2024-10, with the labels that each got.

#2706 Fix continous integration issues
  .github/CODEOWNERS
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/icons/tests/index.spec.ts
  scripts/check-svg-sizes.sh
Labels: 🗂 icons

#2708 [WPS-467] Update Conecs and Swile icons (24px size)
  .changeset/eleven-masks-learn.md
  packages/icons/web/v2/conecs_24.svg
  packages/icons/web/v2/conecs_32.svg
  packages/icons/web/v2/swile_24.svg
  packages/icons/web/v2/swile_32.svg
Labels: 🗂 icons

#2709 Version Packages
  .changeset/eleven-masks-learn.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2707 chore: raise minimum node version to 20+
  .changeset/heavy-chairs-repeat.md
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/templates.yml
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.ts
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/icons/package.json
  templates/nextjs/README.md
  templates/nextjs/template/.nvmrc
  templates/nextjs/template/package.json
  templates/remix/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 remix-template

#2710 feat: optimised icons
  .changeset/hot-stingrays-grow.md
  packages/icons/web/v2/add_24.svg
  packages/icons/web/v2/add_employees_24.svg
  packages/icons/web/v2/add_items_24.svg
  packages/icons/web/v2/arrow_left_24.svg
  packages/icons/web/v2/calendar_24.svg
  packages/icons/web/v2/close_24.svg
  packages/icons/web/v2/edit_24.svg
  packages/icons/web/v2/plus_24.svg
Labels: 🗂 icons

#2712 Version Packages
  .changeset/hot-stingrays-grow.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2714 Silence TypeScript warning in dialog-polyfill
  packages/circuit-ui/vendor/dialog-polyfill/index.js
Labels: 🗂 circuit-ui

#2711 Make `temporal-polyfill` a required peer dependency
  .changeset/late-books-attack.md
  package-lock.json
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2713 Chore(circuit-ui): DSYS-817 | mark calendar component as stable
  .changeset/gold-worms-worry.md
  .changeset/shiny-geckos-hang.md
  packages/circuit-ui/components/Calendar/Calendar.mdx
  packages/circuit-ui/experimental.ts
  packages/circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/README.md
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.spec.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2687 fix(circuit-ui): ColorInput paste and change events
  .changeset/beige-planes-shave.md
  package-lock.json
  packages/circuit-ui/components/ColorInput/ColorInput.module.css
  packages/circuit-ui/components/ColorInput/ColorInput.spec.tsx
  packages/circuit-ui/components/ColorInput/ColorInput.stories.tsx
  packages/circuit-ui/components/ColorInput/ColorInput.tsx
Labels: 🗂 circuit-ui

#2716 Version Packages
  .changeset/beige-planes-shave.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2715 [WPS-467] Update Swile 24px icon fit
  .changeset/hot-tigers-retire.md
  packages/icons/web/v2/swile_24.svg
Labels: 🗂 icons

#2718 Version Packages
  .changeset/hot-tigers-retire.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2717 chore(design-tokens): DSYS-819 | update typography tokens
  .changeset/dry-melons-bake.md
  .changeset/lazy-icons-beg.md
  .changeset/shiny-pumpkins-jog.md
  .storybook/components/Theme.tsx
  docs/features/1-theme.mdx
  packages/circuit-ui/components/Badge/Badge.module.css
  packages/circuit-ui/components/Body/Body.module.css
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Button/base.module.css
  packages/circuit-ui/components/Calendar/Calendar.module.css
  packages/circuit-ui/components/Carousel/components/Status/Status.module.css
  packages/circuit-ui/components/Checkbox/Checkbox.module.css
  packages/circuit-ui/components/Checkbox/Checkbox.stories.tsx
  packages/circuit-ui/components/Compact/Compact.module.css
  packages/circuit-ui/components/Compact/Compact.tsx
  packages/circuit-ui/components/Display/Display.module.css
  packages/circuit-ui/components/Field/Field.module.css
  packages/circuit-ui/components/Headline/Headline.module.css
  packages/circuit-ui/components/Input/Input.module.css
  packages/circuit-ui/components/List/List.mdx
  packages/circuit-ui/components/List/List.module.css
  packages/circuit-ui/components/List/List.stories.tsx
  packages/circuit-ui/components/List/List.tsx
  packages/circuit-ui/components/ListItem/ListItem.module.css
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.module.css
  packages/circuit-ui/components/Numeral/Numeral.module.css
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/ProgressBar/ProgressBar.module.css
  packages/circuit-ui/components/RadioButton/RadioButton.module.css
  packages/circuit-ui/components/Select/Select.module.css
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.module.css
  packages/circuit-ui/components/Table/components/TableCell/TableCell.module.css
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.module.css
  packages/circuit-ui/components/Tabs/components/Tab/Tab.module.css
  packages/circuit-ui/components/Tag/Tag.module.css
  packages/circuit-ui/components/Toggle/Toggle.module.css
  packages/circuit-ui/components/Tooltip/Tooltip.module.css
  packages/circuit-ui/styles/base.css
  packages/design-tokens/themes/schema.ts
  packages/design-tokens/themes/shared.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-custom-properties/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  packages/stylelint-plugin-circuit-ui/no-deprecated-custom-properties/index.spec.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui

#2721 Add `hideLabel` prop to ImageInput component
  .changeset/happy-glasses-work.md
  packages/circuit-ui/components/Field/Field.module.css
  packages/circuit-ui/components/Field/Field.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.spec.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.stories.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
Labels: 🗂 circuit-ui

#2722 feat(typography): DSYS-828 | font weight semibold
  .changeset/yellow-moose-push.md
  packages/circuit-ui/components/Body/Body.mdx
  packages/circuit-ui/components/Body/Body.module.css
  packages/circuit-ui/components/Body/Body.stories.tsx
  packages/circuit-ui/components/Body/Body.tsx
  packages/circuit-ui/components/Compact/Compact.mdx
  packages/circuit-ui/components/Compact/Compact.module.css
  packages/circuit-ui/components/Compact/Compact.stories.tsx
  packages/circuit-ui/components/Compact/Compact.tsx
  packages/circuit-ui/components/Display/Display.mdx
  packages/circuit-ui/components/Display/Display.module.css
  packages/circuit-ui/components/Display/Display.stories.tsx
  packages/circuit-ui/components/Display/Display.tsx
  packages/circuit-ui/components/Numeral/Numeral.mdx
  packages/circuit-ui/components/Numeral/Numeral.module.css
  packages/circuit-ui/components/Numeral/Numeral.stories.tsx
  packages/circuit-ui/components/Numeral/Numeral.tsx
Labels: 🗂 circuit-ui

#2720 fix(circuit-ui): DSYS-826 | tooltip and toggletip positioning issue
  .changeset/fair-cows-type.md
  packages/circuit-ui/components/Toggletip/Toggletip.module.css
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
  packages/circuit-ui/components/Tooltip/Tooltip.tsx
Labels: 🗂 circuit-ui

#2586 Allow multiple countries with same country code
  .changeset/two-horses-fold.md
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.spec.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.stories.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.spec.ts
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.ts
Labels: 🗂 circuit-ui

#2691 Show all input variants under Form section
  packages/circuit-ui/components/Calendar/Calendar.mdx
  packages/circuit-ui/components/ColorInput/ColorInput.stories.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.stories.tsx
  packages/circuit-ui/components/DateInput/DateInput.stories.tsx
  packages/circuit-ui/components/PercentageInput/PercentageInput.stories.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.stories.tsx
Labels: 🗂 circuit-ui

#2725 Improve accessility of the SideNavigation's primary links
  .changeset/eight-lizards-decide.md
  .changeset/fluffy-ducks-roll.md
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.module.css
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: 🗂 circuit-ui

#2729 Fix duplicate ImageInput label
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2730 fix: DSYS-837 | composite inputs
  .changeset/chilly-gorillas-wonder.md
  packages/circuit-ui/components/ColorInput/ColorInput.module.css
  packages/circuit-ui/components/ColorInput/ColorInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.module.css
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui, 🗂 remix-template

#2676 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/stylelint-plugin-circuit-ui/CHANGELOG.md
  packages/stylelint-plugin-circuit-ui/package.json
  templates/astro/CHANGELOG.md
  templates/astro/package.json
  templates/nextjs/CHANGELOG.md
  templates/nextjs/package.json
  templates/nextjs/template/CHANGELOG.md
  templates/nextjs/template/package.json
  templates/remix/CHANGELOG.md
  templates/remix/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui

#2732 Guard against similar package names in renamed-package-scope ESLint rule
  .changeset/shaggy-tomatoes-protect.md
  .github/workflows/ci.yml
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  packages/eslint-plugin-circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/renamed-package-scope/index.spec.ts
  packages/eslint-plugin-circuit-ui/renamed-package-scope/index.ts
Labels: 🐞 bug, 🗂 eslint-plugin-circuit-ui

#2733 Version Packages (next)
  .changeset/pre.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 eslint-plugin-circuit-ui

#2735 Improve ESLint migrations for v9
  .changeset/metal-games-knock.md
  .changeset/quick-books-train.md
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  packages/eslint-plugin-circuit-ui/renamed-package-scope/index.spec.ts
  packages/eslint-plugin-circuit-ui/renamed-package-scope/index.ts
Labels: 🗂 eslint-plugin-circuit-ui

#2734 Re-add the Title component
  packages/circuit-ui/components/Title/Title.spec.tsx
  packages/circuit-ui/components/Title/Title.tsx
  packages/circuit-ui/components/Title/index.ts
  packages/circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/renamed-package-scope/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2737 Safely access environment variables
  .changeset/chilly-scissors-remember.md
  packages/circuit-ui/components/Display/Display.tsx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/util/env.spec.ts
  packages/circuit-ui/util/env.ts
Labels: 🐞 bug, 🗂 circuit-ui

#2736 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2645 New DateInput component
  .changeset/chilly-dodos-end.md
  .changeset/tiny-jars-knock.md
  .eslintrc.js
  package-lock.json
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/DateInput/DateInput.mdx
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/DateInput.stories.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/DateInput/DateInputService.spec.ts
  packages/circuit-ui/components/DateInput/DateInputService.ts
  packages/circuit-ui/components/DateInput/components/DateSegment.module.css
  packages/circuit-ui/components/DateInput/components/DateSegment.spec.tsx
  packages/circuit-ui/components/DateInput/components/DateSegment.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.module.css
  packages/circuit-ui/components/DateInput/components/Dialog.spec.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.tsx
  packages/circuit-ui/components/DateInput/hooks/usePlainDateState.ts
  packages/circuit-ui/components/DateInput/hooks/useSegmentFocus.spec.tsx
  packages/circuit-ui/components/DateInput/hooks/useSegmentFocus.ts
  packages/circuit-ui/components/Field/Field.module.css
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.spec.tsx
  packages/circuit-ui/components/SidePanel/useSidePanel.spec.tsx
  packages/circuit-ui/components/Step/Step.spec.tsx
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.spec.ts
  packages/circuit-ui/hooks/useFocusList/useFocusList.spec.tsx
  packages/circuit-ui/hooks/useFocusList/useFocusList.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/util/date.spec.ts
  packages/circuit-ui/util/date.ts
  packages/circuit-ui/util/helpers.spec.ts
  packages/circuit-ui/util/helpers.ts
  packages/circuit-ui/util/key-codes.spec.tsx
  packages/circuit-ui/util/key-codes.ts
  templates/astro/package.json
  templates/nextjs/template/package.json
  templates/remix/package.json
Labels: 🗂 circuit-ui

#2741 Change PlainDateRange to an object
  .changeset/four-geckos-complain.md
  docs/introduction/2-getting-started.mdx
  packages/circuit-ui/components/Calendar/Calendar.mdx
  packages/circuit-ui/components/Calendar/Calendar.module.css
  packages/circuit-ui/components/Calendar/Calendar.spec.tsx
  packages/circuit-ui/components/Calendar/Calendar.stories.tsx
  packages/circuit-ui/components/Calendar/CalendarService.spec.ts
  packages/circuit-ui/components/Calendar/CalendarService.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/util/date.spec.ts
  packages/circuit-ui/util/date.ts
Labels: 🗂 circuit-ui

#2677 Remove the legacy calendar components
  .changeset/large-adults-dance.md
  package-lock.json
  packages/circuit-ui/components/Calendar/Calendar.mdx
  packages/circuit-ui/components/legacy/Calendar/Calendar.mdx
  packages/circuit-ui/components/legacy/Calendar/Calendar.stories.tsx
  packages/circuit-ui/components/legacy/Calendar/RangePicker.spec.tsx
  packages/circuit-ui/components/legacy/Calendar/RangePicker.stories.tsx
  packages/circuit-ui/components/legacy/Calendar/RangePicker.tsx
  packages/circuit-ui/components/legacy/Calendar/RangePickerController.tsx
  packages/circuit-ui/components/legacy/Calendar/SingleDayPicker.spec.tsx
  packages/circuit-ui/components/legacy/Calendar/SingleDayPicker.stories.tsx
  packages/circuit-ui/components/legacy/Calendar/SingleDayPicker.tsx
  packages/circuit-ui/components/legacy/Calendar/__snapshots__/RangePicker.spec.tsx.snap
  packages/circuit-ui/components/legacy/Calendar/__snapshots__/SingleDayPicker.spec.tsx.snap
  packages/circuit-ui/components/legacy/Calendar/components/CalendarWrapper/CalendarImportedStyles.ts
  packages/circuit-ui/components/legacy/Calendar/components/CalendarWrapper/CalendarWrapper.spec.tsx
  packages/circuit-ui/components/legacy/Calendar/components/CalendarWrapper/CalendarWrapper.tsx
  packages/circuit-ui/components/legacy/Calendar/components/CalendarWrapper/index.ts
  packages/circuit-ui/components/legacy/Calendar/components/index.ts
  packages/circuit-ui/components/legacy/Calendar/constants.ts
  packages/circuit-ui/components/legacy/Calendar/index.ts
  packages/circuit-ui/components/legacy/CalendarTag/CalendarTag.spec.tsx
  packages/circuit-ui/components/legacy/CalendarTag/CalendarTag.stories.tsx
  packages/circuit-ui/components/legacy/CalendarTag/CalendarTag.tsx
  packages/circuit-ui/components/legacy/CalendarTag/__snapshots__/CalendarTag.spec.tsx.snap
  packages/circuit-ui/components/legacy/CalendarTag/index.ts
  packages/circuit-ui/components/legacy/CalendarTagTwoStep/CalendarTagTwoStep.spec.tsx
  packages/circuit-ui/components/legacy/CalendarTagTwoStep/CalendarTagTwoStep.stories.tsx
  packages/circuit-ui/components/legacy/CalendarTagTwoStep/CalendarTagTwoStep.tsx
  packages/circuit-ui/components/legacy/CalendarTagTwoStep/__snapshots__/CalendarTagTwoStep.spec.tsx.snap
  packages/circuit-ui/components/legacy/CalendarTagTwoStep/index.ts
  packages/circuit-ui/legacy.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/vite.config.ts
Labels: 🗂 circuit-ui

#2740 feat: typography updates
  .storybook/components/Icons.tsx
  .storybook/components/Statuses.tsx
  .storybook/components/Teaser.tsx
  .storybook/components/Theme.tsx
  packages/circuit-ui/components/Badge/Badge.module.css
  packages/circuit-ui/components/Button/base.module.css
  packages/circuit-ui/components/Headline/Headline.mdx
  packages/circuit-ui/components/Headline/Headline.tsx
  packages/circuit-ui/components/ListItem/ListItem.module.css
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.module.css
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.module.css
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.tsx
  packages/design-tokens/themes/shared.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  templates/astro/src/pages/index.astro
  templates/nextjs/template/app/page.tsx
  templates/remix/app/routes/_index/route.tsx
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui

#2731 chore(circuit-ui): DSYS-823 | mark phone number & color inputs as stable
  .changeset/hip-comics-agree.md
  .changeset/witty-rabbits-collect.md
  packages/circuit-ui/components/ColorInput/ColorInput.mdx
  packages/circuit-ui/components/ColorInput/ColorInput.spec.tsx
  packages/circuit-ui/components/ColorInput/ColorInput.stories.tsx
  packages/circuit-ui/components/ColorInput/ColorInput.tsx
  packages/circuit-ui/components/Input/Input.mdx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.mdx
  packages/circuit-ui/experimental.ts
  packages/circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2468 Reduce global css
  packages/circuit-ui/components/Body/Body.module.css
  packages/circuit-ui/components/ModalContext/ModalContext.module.css
  packages/circuit-ui/components/ModalContext/ModalContext.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.tsx
  packages/circuit-ui/components/SidePanel/SidePanelContext.css
  packages/circuit-ui/components/SidePanel/SidePanelContext.module.css
  packages/circuit-ui/components/SidePanel/SidePanelContext.tsx
Labels: 🗂 circuit-ui

#2743 feat(DSYS-842): mark the tooltip & toggletip components as stable
  .changeset/cuddly-worms-love.md
  .changeset/wet-avocados-speak.md
  .storybook/components/Icons.tsx
  .storybook/components/Theme.tsx
  packages/circuit-ui/components/Calendar/Calendar.mdx
  packages/circuit-ui/components/Toggletip/Toggletip.mdx
  packages/circuit-ui/components/Tooltip/Tooltip.mdx
  packages/circuit-ui/components/legacy/Tooltip/Tooltip.mdx
  packages/circuit-ui/components/legacy/Tooltip/Tooltip.tsx
  packages/circuit-ui/experimental.ts
  packages/circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui, 🗂 remix-template

#2745 Update to Biome v1.9.4
  .storybook/components/Statuses.module.css
  .storybook/components/Teaser.module.css
  biome.jsonc
  package-lock.json
  package.json
  packages/circuit-ui/components/Field/Field.tsx
  packages/circuit-ui/components/ProgressBar/ProgressBar.tsx
  templates/nextjs/template/app/page.module.css
Labels: 📦 dependencies, 🗂 circuit-ui

#2742 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2748 Version Packages (next)
  .changeset/pre.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2744 Upgrade all dependencies
  .stylelintrc.js
  package-lock.json
  package.json
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/icons/package.json
  packages/stylelint-plugin-circuit-ui/package.json
  templates/astro/package.json
  templates/nextjs/template/package.json
  templates/nextjs/template/tsconfig.json
  templates/remix/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 stylelint-plugin-circuit-ui

#2750 Migrate the Body's highlight variant to semibold
  packages/circuit-ui/components/Body/Body.module.css
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2751 Mimic native input in DateInput and PhoneNumberInput components
  .changeset/two-snakes-tease.md
  packages/circuit-ui/components/ColorInput/ColorInput.spec.tsx
  packages/circuit-ui/components/ColorInput/ColorInput.tsx
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/DateInput.stories.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/DateInput/hooks/usePlainDateState.ts
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.module.css
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.spec.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.stories.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.ts
  packages/circuit-ui/util/input-value.spec.tsx
  packages/circuit-ui/util/input-value.ts
Labels: 🗂 circuit-ui

#2739 Add migration guide for v9
  MIGRATION.md
  packages/design-tokens/README.md
  packages/eslint-plugin-circuit-ui/no-renamed-props/index.ts
  templates/nextjs/template/app/layout.tsx
  templates/nextjs/template/app/preload-resources.ts
Labels: 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui

#2755 add a fixer method to the `no-deprecated-custom-properties` ESlint rule
  .changeset/tricky-cups-wave.md
  packages/eslint-plugin-circuit-ui/no-deprecated-custom-properties/index.spec.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-custom-properties/index.ts
Labels: 🗂 eslint-plugin-circuit-ui
