Repository sumup-oss/circuit-ui, pull requests merged in 2024-11, with the labels that each got.

#2765 Fix Body's font weight
  .changeset/plenty-radios-try.md
  packages/circuit-ui/components/Body/Body.module.css
  packages/circuit-ui/components/Body/Body.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2766 Version Packages
  .changeset/plenty-radios-try.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2768 Improve accessibility of the DateInput component
  .changeset/great-seas-fetch.md
  packages/circuit-ui/components/DateInput/components/DateSegment.tsx
Labels: 🐞 bug, ♿ accessibility, 🗂 circuit-ui

#2770 Version Packages
  .changeset/great-seas-fetch.md
  .changeset/odd-insects-destroy.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2772 Prevent DateInput component from triggering form submissions
  .changeset/weak-kings-refuse.md
  packages/circuit-ui/components/Calendar/Calendar.module.css
  packages/circuit-ui/components/Calendar/Calendar.tsx
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2771 Improve focus management for the date input component
  .changeset/beige-readers-burn.md
  .changeset/fluffy-pants-sin.md
  packages/circuit-ui/components/Calendar/Calendar.module.css
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.spec.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.tsx
Labels: 🗂 circuit-ui

#2773 Version Packages
  .changeset/beige-readers-burn.md
  .changeset/fluffy-pants-sin.md
  .changeset/weak-kings-refuse.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2775 Improve placement of the DateInput dialog
  .changeset/quiet-apples-develop.md
  .changeset/silent-lobsters-peel.md
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2778 Do not warn on stable Tooltip import
  .changeset/eight-suits-talk.md
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🐞 bug, 🗂 eslint-plugin-circuit-ui

#2782 Update legacy JavaScript typography tokens
  .changeset/angry-pots-care.md
  packages/circuit-ui/styles/style-mixins.spec.tsx
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/legacy/light.ts
Labels: 🐞 bug, 🗂 circuit-ui, 🗂 design-tokens

#2781 Place calendar dialog relative to button in DateInput
  .changeset/hungry-sloths-prove.md
  packages/circuit-ui/components/DateInput/DateInput.tsx
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2783 Version Packages
  .changeset/angry-pots-care.md
  .changeset/hungry-sloths-prove.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2780 Add SkipLink component and integrate with navigation components
  .changeset/little-flies-attend.md
  .changeset/six-eggs-sneeze.md
  packages/circuit-ui/components/Body/Body.stories.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.mdx
  packages/circuit-ui/components/SideNavigation/SideNavigation.spec.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SkipLink/SkipLink.mdx
  packages/circuit-ui/components/SkipLink/SkipLink.module.css
  packages/circuit-ui/components/SkipLink/SkipLink.stories.tsx
  packages/circuit-ui/components/SkipLink/SkipLink.tsx
  packages/circuit-ui/components/SkipLink/index.ts
  packages/circuit-ui/components/TopNavigation/TopNavigation.mdx
  packages/circuit-ui/components/TopNavigation/TopNavigation.spec.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
Labels: 🗂 circuit-ui

#2237 Add reset styles to components directly
  .changeset/rude-emus-breathe.md
  packages/circuit-ui/components/Body/Body.module.css
  packages/circuit-ui/components/Checkbox/Checkbox.stories.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.module.css
  packages/circuit-ui/components/Compact/Compact.module.css
  packages/circuit-ui/components/Display/Display.module.css
  packages/circuit-ui/components/Field/Field.module.css
  packages/circuit-ui/components/Headline/Headline.module.css
  packages/circuit-ui/components/List/List.module.css
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.module.css
  packages/circuit-ui/components/Numeral/Numeral.module.css
  packages/circuit-ui/components/Pagination/components/PageList/PageList.module.css
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.module.css
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.module.css
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.module.css
  packages/circuit-ui/components/Table/Table.module.css
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.module.css
  packages/circuit-ui/components/TopNavigation/components/UtilityLinks/UtilityLinks.module.css
  packages/circuit-ui/hooks/useFocusList/useFocusList.stories.tsx
  packages/circuit-ui/index.ts
  packages/circuit-ui/styles/base.css
  packages/circuit-ui/styles/reset.css
Labels: 🗂 circuit-ui

#2787 Add useLocale hook
  .changeset/ninety-rabbits-vanish.md
  packages/circuit-ui/components/Calendar/Calendar.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/hooks/useLocale/useLocale.spec.ts
  packages/circuit-ui/hooks/useLocale/useLocale.ts
  packages/circuit-ui/util/i18n.spec.ts
  packages/circuit-ui/util/i18n.ts
Labels: 🐞 bug, 🗂 circuit-ui

#2790 Version Packages
  .changeset/quick-brooms-guess.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2791 Fix Select classname forwarding
  .changeset/metal-avocados-matter.md
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.module.css
  packages/circuit-ui/components/Select/Select.spec.tsx
  packages/circuit-ui/components/Select/Select.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2793 Update all dependencies
  package-lock.json
  package.json
  packages/circuit-ui/package.json
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/package.json
  packages/stylelint-plugin-circuit-ui/package.json
  templates/astro/package.json
  templates/nextjs/template/package.json
  templates/remix/package.json
Labels: 📦 dependencies, 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui
