Repository sumup-oss/circuit-ui, pull requests merged in 2024-06, with the labels that each got.

#2572 Improve Stylelint config for CSS Modules
  .stylelintrc.js
  package-lock.json
  package.json
  packages/circuit-ui/components/Anchor/Anchor.module.css
  packages/circuit-ui/components/Card/components/Header/Header.module.css
  packages/circuit-ui/components/Checkbox/Checkbox.module.css
  packages/circuit-ui/components/Field/Field.module.css
  packages/circuit-ui/components/Hamburger/Hamburger.module.css
  packages/circuit-ui/components/ImageInput/ImageInput.module.css
  packages/circuit-ui/components/ListItem/ListItem.module.css
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.module.css
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.module.css
  packages/circuit-ui/components/NotificationInline/NotificationInline.module.css
  packages/circuit-ui/components/NotificationToast/NotificationToast.module.css
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/RadioButton/RadioButton.module.css
  packages/circuit-ui/components/Selector/Selector.module.css
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.module.css
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.module.css
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.module.css
  packages/circuit-ui/components/SidePanel/components/DesktopSidePanel/DesktopSidePanel.module.css
  packages/circuit-ui/components/Skeleton/Skeleton.module.css
  packages/circuit-ui/components/Step/examples/CarouselSlider.module.css
  packages/circuit-ui/components/Table/components/TableHeader/TableHeader.module.css
  packages/circuit-ui/components/Table/components/TableRow/TableRow.module.css
  packages/circuit-ui/components/Tag/Tag.module.css
  packages/circuit-ui/components/ToastContext/ToastContext.module.css
  packages/circuit-ui/components/Toggle/Toggle.module.css
  packages/circuit-ui/styles/base.css
  packages/circuit-ui/styles/shared.module.css
  packages/circuit-ui/styles/utility.module.css
Labels: 📦 dependencies, 🗂 circuit-ui

#2573 Fix Calendar header in different timezone
  packages/circuit-ui/components/Calendar/Calendar.tsx
  packages/circuit-ui/components/Calendar/CalendarService.spec.ts
  packages/circuit-ui/components/Calendar/CalendarService.ts
  packages/circuit-ui/util/date.spec.ts
  packages/circuit-ui/util/date.ts
Labels: 🐞 bug, 🗂 circuit-ui

#2497 Fix compatibility of the dialog-polyfill with isomorphic environments
  .changeset/calm-cobras-run.md
  .eslintignore
  package-lock.json
  packages/circuit-ui/.eslintignore
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
  packages/circuit-ui/package.json
  packages/circuit-ui/vendor/dialog-polyfill/LICENSE
  packages/circuit-ui/vendor/dialog-polyfill/README.md
  packages/circuit-ui/vendor/dialog-polyfill/index.d.ts
  packages/circuit-ui/vendor/dialog-polyfill/index.js
Labels: 🐞 bug, 🗂 circuit-ui

#2575 Version Packages
  .changeset/calm-cobras-run.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2512 SX-2129 Edit phone number Circuit UI component
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.mdx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.module.css
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.spec.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.stories.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.spec.ts
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.ts
Labels: 🗂 circuit-ui

#2576 Version Packages
  .changeset/long-baboons-jam.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2579 Upgrade to Foundry v8.0.1
  package-lock.json
  package.json
Labels: 📦 dependencies

#2578 Improve PhoneNumberInput styles
  .changeset/lucky-gorillas-arrive.md
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.module.css
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/Select/Select.module.css
Labels: 🗂 circuit-ui

#2580 Version Packages
  .changeset/lucky-gorillas-arrive.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2577 feat: Update NotificationToast provider with position and className props
  .changeset/clever-islands-hang.md
  packages/circuit-ui/components/NotificationToast/NotificationToast.mdx
  packages/circuit-ui/components/NotificationToast/NotificationToast.stories.tsx
  packages/circuit-ui/components/ToastContext/ToastContext.module.css
  packages/circuit-ui/components/ToastContext/ToastContext.tsx
Labels: 🗂 circuit-ui

#2581 Version Packages
  .changeset/clever-islands-hang.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2584 Add Sparkles icon in size 24px
  .changeset/eighty-stingrays-explode.md
  packages/icons/manifest.json
  packages/icons/web/v2/sparkles_24.svg
Labels: 🗂 icons

#2585 Version Packages
  .changeset/eighty-stingrays-explode.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons
