Repository sumup-oss/circuit-ui, pull requests merged in 2024-07, with the labels that each got.

#2551 Tweak the updated Button styles
  .changeset/eight-taxis-itch.md
  .changeset/eighty-snakes-complain.md
  .changeset/hot-mayflies-jump.md
  packages/circuit-ui/components/Button/Button.module.css
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/base.module.css
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.tsx
  packages/design-tokens/themes/dark.ts
  packages/design-tokens/themes/light.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2604 Version Packages (canary)
  .changeset/pre.json
  package-lock.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/stylelint-plugin-circuit-ui/CHANGELOG.md
  packages/stylelint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui

#2606 Sync color tokens with Figma
  .storybook/main.ts
  packages/design-tokens/themes/dark.ts
  packages/design-tokens/themes/light.ts
Labels: 🗂 design-tokens

#2607 Update elo icons
  .changeset/nervous-roses-switch.md
  .changeset/ten-panthers-peel.md
  packages/icons/web/v2/elo_24.svg
  packages/icons/web/v2/elo_32.svg
  packages/icons/web/v2/employees_24.svg
Labels: 🗂 icons

#2610 Fix style specificity issue in the PhoneNumberInput component
  .changeset/weak-fireants-tease.md
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2611 Increase NotificationBanner content's max width
  .changeset/poor-geckos-sin.md
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.module.css
Labels: 🗂 circuit-ui

#2608 Version Packages
  .changeset/nervous-roses-switch.md
  .changeset/poor-geckos-sin.md
  .changeset/ten-panthers-peel.md
  .changeset/weak-fireants-tease.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2612 Version Packages
  .changeset/eight-taxis-itch.md
  .changeset/eighty-snakes-complain.md
  .changeset/hot-mayflies-jump.md
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2613 Match interactive color tokens to default values
  .changeset/small-pots-think.md
  .github/workflows/chromatic.yml
  .storybook/main.ts
  packages/design-tokens/themes/light.ts
Labels: 🐞 bug, 🗂 design-tokens

#2614 Version Packages
  .changeset/small-pots-think.md
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#2615 Spread default icon props
  .changeset/seven-windows-look.md
  .eslintignore
  biome.jsonc
  package-lock.json
  packages/icons/package.json
  packages/icons/scripts/build.ts
  packages/icons/vendor/babel-plugin-inline-react-svg/LICENSE
  packages/icons/vendor/babel-plugin-inline-react-svg/README.md
  packages/icons/vendor/babel-plugin-inline-react-svg/index.js
Labels: 🗂 icons

#2616 Version Packages (next)
  .changeset/pre.json
  packages/astro-template/CHANGELOG.md
  packages/astro-template/package.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/template/CHANGELOG.md
  packages/cna-template/template/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2617 feat(icons): add new icons
  package-lock.json
  packages/icons/CONTRIBUTING.md
  packages/icons/manifest.json
  packages/icons/web/v2/accessibility_24.svg
  packages/icons/web/v2/battery_16.svg
  packages/icons/web/v2/battery_alert_16.svg
  packages/icons/web/v2/battery_alert_24.svg
  packages/icons/web/v2/color_correction_24.svg
  packages/icons/web/v2/color_inversion_24.svg
  packages/icons/web/v2/language_24.svg
  packages/icons/web/v2/no_sim_24.svg
  packages/icons/web/v2/print_failed_16.svg
  packages/icons/web/v2/print_failed_24.svg
  packages/icons/web/v2/upgrade_16.svg
  packages/icons/web/v2/upgrade_24.svg
  packages/icons/web/v2/volume_24.svg
Labels: 🗂 icons
