Repository sumup-oss/circuit-ui, pull requests merged in 2024-08, with the labels that each got.

#2636 Version Packages
  .changeset/old-foxes-deliver.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2637 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 eslint-plugin-circuit-ui

#2640 Add Grid and List 24 icons
  .changeset/eleven-gorillas-learn.md
  packages/icons/manifest.json
  packages/icons/web/v2/grid_24.svg
  packages/icons/web/v2/list_24.svg
Labels: 🗂 icons

#2642 Switch ImageInput's button variant
  .changeset/thick-games-rescue.md
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
Labels: 🗂 circuit-ui

#2641 Version Packages
  .changeset/eleven-gorillas-learn.md
  .changeset/pre.json
  .changeset/seven-windows-look.md
  .changeset/thick-games-rescue.md
  package-lock.json
  packages/astro-template/CHANGELOG.md
  packages/astro-template/package.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/cna-template/template/CHANGELOG.md
  packages/cna-template/template/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/remix-template/CHANGELOG.md
  packages/remix-template/package.json
Labels: 🗂 circuit-ui, 🗂 icons, 🗂 cna-template, 🗂 remix-template, 🗂 astro-template

#2646 Remove invalid HTML attributes from Table component
  .changeset/short-scissors-behave.md
  packages/circuit-ui/components/Table/components/TableHead/TableHead.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2647 Version Packages
  .changeset/short-scissors-behave.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2649 add expenses icons
  .changeset/blue-parrots-pay.md
  packages/icons/manifest.json
  packages/icons/web/v2/expenses_24.svg
  packages/icons/web/v2/receipt_attached_24.svg
  packages/icons/web/v2/receipt_missing_24.svg
  packages/icons/web/v2/receipt_smart_24.svg
  packages/icons/web/v2/receipt_unreviewed_24.svg
Labels: 🗂 icons

#2650 Version Packages
  .changeset/blue-parrots-pay.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2306 Simplify the Input element type
  .changeset/flat-steaks-itch.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.spec.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/Input/Input.spec.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/Input/index.ts
  packages/circuit-ui/components/PercentageInput/PercentageInput.spec.tsx
  packages/circuit-ui/components/PercentageInput/PercentageInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.spec.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.spec.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.stories.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
  packages/circuit-ui/components/TextArea/TextArea.tsx
  packages/circuit-ui/components/TextArea/types.ts
  packages/circuit-ui/components/TextArea/useAutoExpand.spec.tsx
  packages/circuit-ui/components/TextArea/useAutoExpand.ts
Labels: 🗂 circuit-ui

#2651 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/stylelint-plugin-circuit-ui/CHANGELOG.md
  packages/stylelint-plugin-circuit-ui/package.json
  templates/astro/CHANGELOG.md
  templates/astro/package.json
  templates/nextjs/template/CHANGELOG.md
  templates/nextjs/template/package.json
  templates/remix/CHANGELOG.md
  templates/remix/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 cna-template, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui, 🗂 remix-template, 🗂 astro-template

#2654 Switch from Aktiv Grotesk to Inter
  .changeset/hot-toys-compare.md
  .changeset/itchy-geckos-protect.md
  .storybook/preview-head.html
  .storybook/preview.tsx
  .storybook/themes.ts
  docs/introduction/2-getting-started.mdx
  packages/circuit-ui/styles/base.css
  packages/design-tokens/README.md
  packages/design-tokens/scripts/build.spec.ts
  packages/design-tokens/scripts/build.ts
  packages/design-tokens/tests/__snapshots__/index.spec.ts.snap
  packages/design-tokens/themes/fonts.ts
  packages/design-tokens/themes/legacy/light.ts
  packages/design-tokens/themes/shared.ts
  packages/design-tokens/types/index.ts
  templates/astro/src/layouts/Root.astro
  templates/nextjs/template/app/layout.tsx
  templates/nextjs/template/app/preload-resources.tsx
  templates/remix/app/root.tsx
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2657 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/stylelint-plugin-circuit-ui/CHANGELOG.md
  packages/stylelint-plugin-circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui
