Repository sumup-oss/circuit-ui, pull requests merged in 2025-02, with the labels that each got.

#2938 Upgrade vulnerable dependencies
  package-lock.json
Labels: 📦 dependencies

#2937 Motorbike icon added
  .changeset/mean-lizards-listen.md
  packages/icons/manifest.json
  packages/icons/web/v2/motorbike_24.svg
Labels: 🗂 icons

#2943 Version Packages
  .changeset/mean-lizards-listen.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2922 Remove the global style reset
  .changeset/nine-wolves-prove.md
  packages/circuit-ui/index.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/styles/reset.css
Labels: 🗂 circuit-ui

#2947 Enforce primary navigation badge label
  .changeset/silent-pots-rule.md
  packages/circuit-ui/components/SideNavigation/SideNavigation.spec.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: ♿ accessibility, 🗂 circuit-ui

#2951 Fix Tag color on iOS
  .changeset/tidy-eels-end.md
  .storybook/components/Icons.module.css
  .storybook/manager.tsx
  .storybook/themes.ts
  package-lock.json
  packages/circuit-ui/components/Tag/Tag.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2948 Remove color prop from Anchor component
  .changeset/cyan-buckets-draw.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2952 Version Packages
  .changeset/cyan-buckets-draw.md
  .changeset/tidy-eels-end.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2954 Version Packages
  .changeset/kind-gifts-kneel.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2955 Version Packages
  .changeset/stale-carrots-pull.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons
