Repository sumup-oss/circuit-ui, pull requests merged in 2025-07, with the labels that each got.

#3166 Upgrade to Storybook v9 (stable)
  package-lock.json
  package.json
Labels: dependencies

#3188 remove max-height rule for immersive modal content
  .changeset/early-wings-brush.md
  packages/circuit-ui/components/Modal/Modal.module.css
Labels: 🗂 circuit-ui

#3157 Version Packages
  .changeset/dirty-snakes-behave.md
  .changeset/early-wings-brush.md
  .changeset/kind-squids-own.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3138 Add support for React 19
  .changeset/dry-garlics-brake.md
  package-lock.json
  package.json
  packages/circuit-ui/components/AspectRatio/AspectRatio.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/Dialog/Dialog.tsx
  packages/circuit-ui/components/Notification/NotificationService.ts
  packages/circuit-ui/components/PercentageInput/PercentageInput.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/SidePanel/useSidePanel.spec.tsx
  packages/circuit-ui/components/SidePanel/useSidePanel.tsx
  packages/circuit-ui/components/Skeleton/Skeleton.tsx
  packages/circuit-ui/components/TextArea/useAutoExpand.ts
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.mdx
  packages/circuit-ui/hooks/useClickOutside/useClickOutside.ts
  packages/circuit-ui/hooks/useCollapsible/useCollapsible.ts
  packages/circuit-ui/hooks/useComponentSize/useComponentSize.ts
  packages/circuit-ui/hooks/usePrevious/usePrevious.ts
  packages/circuit-ui/package.json
  packages/circuit-ui/util/errors.spec.tsx
  packages/circuit-ui/util/errors.ts
  packages/circuit-ui/vendor/react-number-format/LICENSE
  packages/circuit-ui/vendor/react-number-format/README.md
  packages/circuit-ui/vendor/react-number-format/index.d.ts
  packages/circuit-ui/vendor/react-number-format/index.js
  packages/circuit-ui/vendor/react-number-format/number_format_base.d.ts
  packages/circuit-ui/vendor/react-number-format/numeric_format.d.ts
  packages/circuit-ui/vendor/react-number-format/pattern_format.d.ts
  packages/circuit-ui/vendor/react-number-format/types.d.ts
  packages/circuit-ui/vendor/react-number-format/utils.d.ts
  packages/icons/package.json
  templates/astro/package.json
  templates/nextjs/template/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3191 Fix vendored react-number-format type resolution
  .changeset/shiny-kings-beam.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/PercentageInput/PercentageInput.tsx
  packages/circuit-ui/tsconfig.json
  packages/circuit-ui/vendor/react-number-format/types.ts
Labels: 🐞 bug, 🗂 circuit-ui

#3192 Version Packages
  .changeset/shiny-kings-beam.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3194 Version Packages
  .changeset/mighty-ravens-kiss.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#3193 Fix lingering hover state on SideNavigation on touch devices
  .changeset/brave-oranges-search.md
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.module.css
Labels: 🗂 circuit-ui

#3198 Update the Toggle knob background color
  .changeset/yellow-kings-fold.md
  packages/circuit-ui/components/Toggle/Toggle.module.css
Labels: 🗂 circuit-ui

#3199 improve component behaviour on mobile devices
  .changeset/orange-times-read.md
  packages/circuit-ui/components/AutocompleteInput/AutocompleteInput.module.css
  packages/circuit-ui/components/AutocompleteInput/AutocompleteInput.tsx
Labels: 🗂 circuit-ui

#3203 Add Move icon in size 16 and 24
  .changeset/thirty-monkeys-yell.md
  packages/icons/manifest.json
  packages/icons/web/v2/move_16.svg
  packages/icons/web/v2/move_24.svg
Labels: 🗂 icons

#3204 Explain Input placeholder contrast issue decision
  packages/circuit-ui/components/Input/Input.mdx
Labels: 🗂 circuit-ui

#3209 fix DateInput's text color contrast issue when readonly
  .changeset/smooth-plants-pick.md
  packages/circuit-ui/components/DateInput/components/DateSegment.module.css
Labels: 🗂 circuit-ui

#3210 Replace header/footer elements with divs in CardHeader and CardFooter
  .changeset/fast-mugs-help.md
  packages/circuit-ui/components/Card/components/Footer/Footer.tsx
  packages/circuit-ui/components/Card/components/Header/Header.tsx
Labels: 🗂 circuit-ui

#3205 Version Packages
  .changeset/fast-mugs-help.md
  .changeset/five-guests-hide.md
  .changeset/smooth-plants-pick.md
  .changeset/thirty-monkeys-yell.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3215 Omit isModal and animationDuration props from ToggletipProps
  .changeset/large-pumas-nail.md
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
Labels: 🗂 circuit-ui

#3217 Render desktop navigation on the server
  .changeset/yellow-beds-start.md
  packages/circuit-ui/components/Button/Button.mdx
  packages/circuit-ui/components/SideNavigation/SideNavigation.mdx
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.tsx
Labels: 🗂 circuit-ui
