Repository sumup-oss/circuit-ui, pull requests merged in 2025-05, with the labels that each got.

#3072 refactor optional contentClassName prop
  .changeset/big-crews-deny.md
  .changeset/chatty-knives-push.md
  .changeset/cuddly-days-dress.md
  .changeset/puny-zebras-peel.md
  .changeset/shiny-tires-taste.md
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/Dialog/Dialog.module.css
  packages/circuit-ui/components/Dialog/Dialog.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.module.css
  packages/circuit-ui/components/SidePanel/components/Header/Header.module.css
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
  packages/design-tokens/themes/schema.ts
  packages/design-tokens/themes/shared.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#3074 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens

#3076 Work around broken gradients caused by CSS minification
  .changeset/kind-monkeys-join.md
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.module.css
  packages/circuit-ui/components/Modal/Modal.module.css
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/SideNavigation/components/MobileNavigation/MobileNavigation.module.css
Labels: 🗂 circuit-ui

#3077 Version Packages
  .changeset/kind-monkeys-join.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3079 increase the Dialog component's close button z-index value.
  .changeset/fresh-trains-applaud.md
  packages/circuit-ui/components/Dialog/Dialog.module.css
Labels: 🗂 circuit-ui

#3080 increase the Modal component's close button z-index value.
  .changeset/light-buttons-relate.md
  packages/circuit-ui/components/Modal/Modal.module.css
Labels: 🗂 circuit-ui

#3083 remove relative position from modal content class
  .changeset/gentle-avocados-tie.md
  packages/circuit-ui/components/Modal/Modal.module.css
Labels: 🗂 circuit-ui

#3082 Version Packages
  .changeset/large-ligers-clean.md
  .changeset/light-buttons-relate.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3081 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3085 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3111 Upgrade to Storybook v9
  .storybook/addons/versions/index.tsx
  .storybook/components/DocsContainer.tsx
  .storybook/components/Icons.tsx
  .storybook/components/Statuses.tsx
  .storybook/components/Story.tsx
  .storybook/components/Theme.tsx
  .storybook/components/index.ts
  .storybook/decorators/withThemeProvider.tsx
  .storybook/main.ts
  .storybook/manager.tsx
  .storybook/preview.tsx
  .storybook/themes.ts
  package-lock.json
  package.json
  packages/circuit-ui/components/ActionMenu/ActionMenu.stories.tsx
  packages/circuit-ui/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/circuit-ui/components/Card/Card.stories.tsx
  packages/circuit-ui/components/Carousel/components/Buttons/Buttons.stories.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.stories.tsx
  packages/circuit-ui/components/DateInput/DateInput.stories.tsx
  packages/circuit-ui/components/Dialog/Dialog.stories.tsx
  packages/circuit-ui/components/ListItem/ListItem.stories.tsx
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.stories.tsx
  packages/circuit-ui/components/NotificationFullscreen/NotificationFullscreen.stories.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.stories.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.stories.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.stories.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.stories.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.stories.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.stories.tsx
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.stories.tsx
  packages/circuit-ui/components/SkipLink/SkipLink.stories.tsx
  packages/circuit-ui/components/Step/Step.stories.tsx
  packages/circuit-ui/components/Table/Table.stories.tsx
  packages/circuit-ui/components/Tag/Tag.stories.tsx
  packages/circuit-ui/components/Toggletip/Toggletip.stories.tsx
  packages/circuit-ui/components/Tooltip/Tooltip.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/hooks/useFocusList/useFocusList.stories.tsx
  packages/circuit-ui/styles/style-mixins.stories.tsx
Labels: 🗂 circuit-ui

#3112 Refactor DateInput with Popover
  .changeset/lazy-mangos-push.md
  .changeset/sad-cooks-refuse.md
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🗂 circuit-ui

#3115 Fix custom class name when Anchor renders as span
  .changeset/gentle-snakes-allow.md
  packages/circuit-ui/components/Anchor/Anchor.spec.tsx
  packages/circuit-ui/components/Anchor/Anchor.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3116 Fix support for the required attribute for radio button groups
  .changeset/blue-comics-float.md
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3117 [EPE-1415] Add Interac card scheme icon
  .changeset/funny-kiwis-tan.md
  packages/icons/manifest.json
  packages/icons/web/v2/interac_24.svg
  packages/icons/web/v2/interac_32.svg
Labels: 🗂 icons

#3118 Version Packages
  .changeset/funny-kiwis-tan.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#3119 Clean up unused code with Knip
  .github/workflows/ci.yml
  knip.json
  package-lock.json
  package.json
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Button/base.tsx
  packages/circuit-ui/components/Calendar/CalendarService.ts
  packages/circuit-ui/components/Carousel/components/SlideImage/SlideImage.tsx
  packages/circuit-ui/components/CarouselPagination/CarouselPagination.tsx
  packages/circuit-ui/components/CarouselPagination/examples/Carousel.tsx
  packages/circuit-ui/components/ComparisonTable/components/TableCell/TableCell.tsx
  packages/circuit-ui/components/ComparisonTable/fixtures.tsx
  packages/circuit-ui/components/DateInput/hooks/usePlainDateState.ts
  packages/circuit-ui/components/Field/Field.tsx
  packages/circuit-ui/components/Field/FieldService.ts
  packages/circuit-ui/components/Hr/index.ts
  packages/circuit-ui/components/ListItem/ListItem.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
  packages/circuit-ui/components/Modal/ModalContext.tsx
  packages/circuit-ui/components/Notification/NotificationService.ts
  packages/circuit-ui/components/Notification/constants.ts
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
  packages/circuit-ui/components/NotificationInline/NotificationInline.tsx
  packages/circuit-ui/components/NotificationToast/NotificationToast.tsx
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/Portal/Portal.spec.tsx
  packages/circuit-ui/components/Portal/Portal.ts
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Selector/index.ts
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/index.ts
  packages/circuit-ui/components/SidePanel/SidePanelContext.tsx
  packages/circuit-ui/components/SidePanel/useSidePanel.tsx
  packages/circuit-ui/components/Skeleton/index.ts
  packages/circuit-ui/components/StackContext/StackContext.tsx
  packages/circuit-ui/components/StackContext/index.ts
  packages/circuit-ui/components/Step/types.ts
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.tsx
  packages/circuit-ui/components/Tabs/components/TabPanels/TabPanels.tsx
  packages/circuit-ui/components/Tabs/components/TabPanels/index.ts
  packages/circuit-ui/components/Timestamp/TimestampService.ts
  packages/circuit-ui/components/ToastContext/index.ts
  packages/circuit-ui/components/Toggletip/Toggletip.module.css
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
  packages/circuit-ui/components/TopNavigation/constants.ts
  packages/circuit-ui/components/TopNavigation/types.ts
  packages/circuit-ui/components/legacy/Grid/utils.ts
  packages/circuit-ui/components/legacy/Tooltip/TooltipContainer.tsx
  packages/circuit-ui/hooks/useStack/useStack.ts
  packages/circuit-ui/hooks/useSwipe/useSwipe.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/styles/style-mixins.ts
  packages/circuit-ui/types/util.ts
  packages/circuit-ui/util/i18n.ts
  packages/design-tokens/types/index.ts
  packages/stylelint-plugin-circuit-ui/no-deprecated-custom-properties/index.ts
  packages/stylelint-plugin-circuit-ui/no-invalid-custom-properties/index.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 stylelint-plugin-circuit-ui

#3120 Remove special handling of onBlur event handler in input groups
  .changeset/ten-radios-teach.md
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.spec.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.spec.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.spec.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
Labels: 🗂 circuit-ui
