Repository sumup-oss/circuit-ui, pull requests merged in 2025-01, with the labels that each got.

#2833 Version Packages
  .changeset/lazy-squids-cry.md
  .changeset/shaggy-coins-enjoy.md
  .changeset/sour-llamas-check.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2856 Update Calendar icon to latest design
  .changeset/tricky-bottles-camp.md
  packages/icons/web/v2/calendar_24.svg
Labels: 🗂 icons

#2860 Fix useScrollLock instances issue
  .changeset/poor-ads-hunt.md
  packages/circuit-ui/hooks/useScrollLock/useScrollLock.ts
Labels: 🗂 circuit-ui

#2861 Dialog component
  packages/circuit-ui/components/Dialog/Dialog.mdx
  packages/circuit-ui/components/Dialog/Dialog.spec.tsx
  packages/circuit-ui/components/Dialog/Dialog.stories.tsx
  packages/circuit-ui/components/Dialog/Dialog.tsx
  packages/circuit-ui/components/Dialog/dialog.module.css
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/ModalService.spec.tsx
  packages/circuit-ui/components/Modal/ModalService.ts
Labels: 🗂 circuit-ui

#2857 Version Packages
  .changeset/tricky-bottles-camp.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#2863 Refactor Modal component using Dialog component
  packages/circuit-ui/components/Dialog/Dialog.tsx
  packages/circuit-ui/components/Dialog/DialogService.spec.tsx
  packages/circuit-ui/components/Dialog/DialogService.ts
  packages/circuit-ui/components/Modal/Modal.mdx
  packages/circuit-ui/components/Modal/Modal.module.css
  packages/circuit-ui/components/Modal/Modal.spec.tsx
  packages/circuit-ui/components/Modal/Modal.tsx
  packages/circuit-ui/components/Modal/ModalContext.tsx
  packages/circuit-ui/components/NotificationModal/NotificationModal.module.css
  packages/circuit-ui/styles/shared.module.css
  packages/circuit-ui/styles/shared.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2865 Refactor the DateInput component
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/DateInput/DateInput.spec.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.module.css
  packages/circuit-ui/components/DateInput/components/Dialog.spec.tsx
  packages/circuit-ui/components/DateInput/components/Dialog.tsx
  packages/circuit-ui/components/Dialog/Dialog.tsx
  packages/circuit-ui/components/Dialog/dialog.module.css
Labels: 🗂 circuit-ui

#2866 Refactor the Toggletip component using Dialog
  packages/circuit-ui/components/Toggletip/Toggletip.module.css
  packages/circuit-ui/components/Toggletip/Toggletip.spec.tsx
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
Labels: 🗂 circuit-ui

#2870 feat(icons): add code icon
  .changeset/calm-planes-lick.md
  packages/icons/manifest.json
  packages/icons/web/v2/code_24.svg
Labels: 🗂 icons

#2867 Version Packages
  .changeset/calm-planes-lick.md
  .changeset/poor-wombats-return.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2873 Update fg-placeholder color tokens
  .changeset/red-berries-beam.md
  package-lock.json
  packages/design-tokens/themes/dark.ts
  packages/design-tokens/themes/light.ts
Labels: 🐞 bug, ♿ accessibility, 🗂 design-tokens

#2902 Remove the Calendar's deprecated calendar prop
  .changeset/lucky-cheetahs-flow.md
  packages/circuit-ui/components/Calendar/Calendar.tsx
Labels: 🗂 circuit-ui

#2906 Remove profile menu
  .changeset/angry-ears-train.md
  packages/circuit-ui/components/TopNavigation/TopNavigation.spec.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.stories.tsx
  packages/circuit-ui/components/TopNavigation/TopNavigation.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.module.css
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.spec.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/ProfileMenu.tsx
  packages/circuit-ui/components/TopNavigation/components/ProfileMenu/index.ts
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons

#2908 Use the regular color for placeholder text
  .changeset/cuddly-lemons-rhyme.md
  packages/circuit-ui/components/Input/Input.module.css
Labels: 🐞 bug, 🗂 circuit-ui

#2911 Address unit test warnings
  packages/circuit-ui/components/DateInput/components/DateSegment.spec.tsx
  packages/circuit-ui/components/Table/Table.tsx
  packages/circuit-ui/components/Tabs/Tabs.tsx
  packages/circuit-ui/setupTests.ts
  packages/circuit-ui/vendor/dialog-polyfill/index.js
Labels: 🐞 bug, 🗂 circuit-ui

#2912 Version Packages
  .changeset/early-gifts-bow.md
  .changeset/gold-monkeys-juggle.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens

#2913 Export component styles without global reset
  .changeset/ninety-scissors-share.md
  packages/circuit-ui/package.json
  packages/circuit-ui/styles/base.css
  packages/circuit-ui/styles/reset.css
Labels: 🗂 circuit-ui

#2681 Add CarouselPagination component
  .changeset/short-adults-know.md
  .eslintrc.js
  .storybook/fixtures.ts
  .storybook/public/images/illustration-waves-2.jpg
  .storybook/public/images/illustration-waves-3.jpg
  .storybook/public/images/illustration-waves.jpg
  .storybook/public/images/sumup-coffee-transaction.jpg
  .storybook/public/images/sumup-product-catalog.jpg
  .storybook/public/images/sumup-solo-cradle.jpg
  .storybook/public/images/sumup-solo-printer.jpg
  .storybook/public/images/sumup-tablet-insights.jpg
  packages/circuit-ui/components/Carousel/Carousel.spec.tsx
  packages/circuit-ui/components/Carousel/Carousel.stories.tsx
  packages/circuit-ui/components/Carousel/components/Slide/Slide.stories.tsx
  packages/circuit-ui/components/Carousel/components/SlideImage/SlideImage.spec.tsx
  packages/circuit-ui/components/CarouselPagination/CarouselPagination.mdx
  packages/circuit-ui/components/CarouselPagination/CarouselPagination.module.css
  packages/circuit-ui/components/CarouselPagination/CarouselPagination.spec.tsx
  packages/circuit-ui/components/CarouselPagination/CarouselPagination.stories.tsx
  packages/circuit-ui/components/CarouselPagination/CarouselPagination.tsx
  packages/circuit-ui/components/CarouselPagination/examples/Carousel.module.css
  packages/circuit-ui/components/CarouselPagination/examples/Carousel.tsx
  packages/circuit-ui/components/CarouselPagination/index.ts
  packages/circuit-ui/components/Image/Image.stories.tsx
  packages/circuit-ui/components/Modal/Modal.stories.tsx
  packages/circuit-ui/components/Step/Step.stories.tsx
  packages/circuit-ui/components/Step/examples/CarouselSlider.tsx
  packages/circuit-ui/components/Step/examples/YesOrNoSlider.tsx
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#2918 Version Packages
  .changeset/ninety-scissors-share.md
  .changeset/real-dryers-carry.md
  .changeset/short-adults-know.md
  .changeset/strong-cobras-hear.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2919 Version Packages
  .changeset/mighty-lamps-tell.md
  .changeset/perfect-nails-obey.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2920 Version Packages
  .changeset/wicked-pianos-wait.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2921 Version Packages
  .changeset/chatty-starfishes-march.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
