Repository sumup-oss/circuit-ui, pull requests merged in 2025-08, with the labels that each got.

#3240 Version Packages
  .changeset/green-llamas-know.md
  .changeset/mean-peas-lay.md
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 icons

#3243 Add button to copy icon React name
  .storybook/components/Icons.module.css
  .storybook/components/Icons.tsx
  .storybook/main.ts
  .storybook/public/images/react.svg
  package-lock.json
  package.json
  vitest.workspace.ts
Labels: 🗂 icons

#3241 Add a Flag component
  .changeset/plenty-moose-beg.md
  .changeset/rotten-geese-win.md
  .changeset/ten-papayas-dance.md
  .changeset/tidy-doors-accept.md
  package-lock.json
  packages/circuit-ui/components/Flag/Flag.mdx
  packages/circuit-ui/components/Flag/Flag.module.css
  packages/circuit-ui/components/Flag/Flag.spec.tsx
  packages/circuit-ui/components/Flag/Flag.stories.tsx
  packages/circuit-ui/components/Flag/Flag.tsx
  packages/circuit-ui/components/Flag/FlagStory.module.css
  packages/circuit-ui/components/Flag/constants.ts
  packages/circuit-ui/components/Input/Input.module.css
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.mdx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.spec.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.stories.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInputService.ts
  packages/circuit-ui/components/Select/Select.module.css
  packages/circuit-ui/index.ts
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3247 Version Packages
  .changeset/breezy-jeans-sit.md
  .changeset/plenty-moose-beg.md
  .changeset/rotten-geese-win.md
  .changeset/ten-papayas-dance.md
  .changeset/tidy-doors-accept.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3248 Mark React components of brand icons as deprecated
  .changeset/forty-weeks-walk.md
  .storybook/components/Icons.tsx
  packages/icons/scripts/build.ts
Labels: 🗂 icons

#3244 Deprecate country flag icons
  .changeset/seven-pugs-throw.md
  packages/icons/manifest.json
Labels: 🗂 circuit-ui, 🗂 icons

#3250 Remove value attribute from input prefix elements
  .changeset/metal-games-jog.md
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3251 Version Packages
  .changeset/metal-games-jog.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
