Repository sumup-oss/circuit-ui, pull requests merged in 2025-09, with the labels that each got.

#3275 Version Packages
  .changeset/whole-eagles-kneel.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3280 add Profile icon in size 16
  .changeset/hip-months-shout.md
  packages/icons/manifest.json
  packages/icons/web/v2/profile_16.svg
Labels: 🗂 icons

#3274 Tabs redesign
  .changeset/hip-phones-sleep.md
  packages/circuit-ui/components/Tabs/Tabs.mdx
  packages/circuit-ui/components/Tabs/Tabs.spec.tsx
  packages/circuit-ui/components/Tabs/Tabs.stories.tsx
  packages/circuit-ui/components/Tabs/Tabs.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.module.css
  packages/circuit-ui/components/Tabs/components/Tab/Tab.stories.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.tsx
  packages/circuit-ui/components/Tabs/components/Tab/index.ts
  packages/circuit-ui/components/Tabs/components/TabList/TabList.module.css
  packages/circuit-ui/components/Tabs/components/TabList/TabList.stories.tsx
  packages/circuit-ui/components/Tabs/components/TabList/TabList.tsx
  packages/circuit-ui/components/Tabs/components/TabList/index.ts
  packages/circuit-ui/components/Tabs/components/TabPanel/TabPanel.stories.tsx
  packages/circuit-ui/components/Tabs/components/TabPanel/index.ts
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#3282 Version Packages
  .changeset/hip-phones-sleep.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3287 Add GeneralPreferences icon in size 24
  .changeset/stupid-friends-nail.md
  packages/icons/manifest.json
  packages/icons/web/v2/general_preferences_24.svg
Labels: 🗂 icons

#3291 Fix(ProgessBar): Inifinite loop always true even when loop prop set to false
  .changeset/yellow-moose-jog.md
  packages/circuit-ui/components/ProgressBar/ProgressBar.module.css
Labels: 🗂 circuit-ui

#3292 Version Packages
  .changeset/nine-fans-chew.md
  .changeset/yellow-moose-jog.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3294 Add type declarations to lint plugins
  .changeset/fair-friends-scream.md
  eslint.config.mjs
  package-lock.json
  packages/eslint-plugin-circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/package.json
  packages/eslint-plugin-circuit-ui/tsconfig.json
  packages/stylelint-plugin-circuit-ui/package.json
  packages/stylelint-plugin-circuit-ui/tsconfig.json
Labels: 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui

#3296 CRMIOP-3371 more and remove icons 16px versions
  .changeset/slick-actors-check.md
  packages/icons/manifest.json
  packages/icons/web/v2/more_16.svg
  packages/icons/web/v2/more_circle_16.svg
  packages/icons/web/v2/remove_16.svg
Labels: 🗂 icons

#3297 Fix DateInput width when rendered inside Dialog
  .changeset/witty-adults-fall.md
  packages/circuit-ui/components/DateInput/components/DateSegment.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3299 fix Popover's --popover-max-height property
  .changeset/every-kings-send.md
  .changeset/funny-foxes-enjoy.md
  packages/circuit-ui/components/AutocompleteInput/AutocompleteInput.tsx
  packages/circuit-ui/components/AutocompleteInput/components/ComboboxInput/ComboboxInput.module.css
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🗂 circuit-ui

#3298 Version Packages
  .changeset/every-kings-send.md
  .changeset/funny-foxes-enjoy.md
  .changeset/witty-adults-fall.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3301 Version Packages
  .changeset/early-knives-reply.md
  .changeset/legal-lemons-worry.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
