Repository sumup-oss/circuit-ui, pull requests merged in 2025-04, with the labels that each got.

#3015 Add Sumup pay icon
  .changeset/odd-houses-stick.md
  packages/icons/manifest.json
  packages/icons/web/v2/sumup_pay_32.svg
Labels: 🗂 icons

#3019 Declare support for temporal-polyfill v0.3.0
  .changeset/short-snails-attack.md
  package-lock.json
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.json
  templates/astro/package.json
  templates/nextjs/template/package.json
  templates/remix/package.json
Labels: 📦 dependencies, 🗂 circuit-ui

#3018 fix broken aria references
  .changeset/old-keys-walk.md
  .changeset/silly-crabs-agree.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/ColorInput/ColorInput.tsx
  packages/circuit-ui/components/CurrencyInput/CurrencyInput.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/PercentageInput/PercentageInput.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.spec.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/RadioButtonGroup/RadioButtonGroup.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/index.ts
  packages/circuit-ui/util/idx.spec.ts
  packages/circuit-ui/util/idx.ts
Labels: 🗂 circuit-ui

#3020 Fix: Hide button when hidden attribute is passed
  .changeset/tidy-bananas-warn.md
  packages/circuit-ui/components/Button/base.module.css
  packages/circuit-ui/components/Button/base.spec.tsx
Labels: 🗂 circuit-ui

#3031 Remove empty aria attribute from DateInput
  .changeset/thirty-pugs-crash.md
  packages/circuit-ui/components/DateInput/hooks/usePlainDateState.ts
Labels: 🐞 bug, 🗂 circuit-ui

#3032 Version Packages
  .changeset/thirty-pugs-crash.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2958 Migration guide for Circuit UI v10
  MIGRATION.md
Labels: 🗂 circuit-ui

#3034 Improve sticky behaviour of ComparisonTable headers
  .changeset/chilled-buttons-care.md
  packages/circuit-ui/components/ComparisonTable/ComparisonTable.mdx
  packages/circuit-ui/components/ComparisonTable/ComparisonTable.module.css
  packages/circuit-ui/components/ComparisonTable/ComparisonTable.stories.tsx
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.module.css
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.spec.tsx
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.tsx
  packages/circuit-ui/components/ComparisonTable/fixtures.tsx
Labels: 🗂 circuit-ui

#3035 Add new strategy prop to Toggltip and set its value to fixed
  .changeset/silent-ducks-occur.md
  packages/circuit-ui/components/Toggletip/Toggletip.tsx
Labels: 🗂 circuit-ui

#3036 Version Packages
  .changeset/chilled-buttons-care.md
  .changeset/silent-ducks-occur.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3037 Add a custom StackingContext for Toggletips inside the ComparisonTable
  .changeset/grumpy-moons-report.md
  packages/circuit-ui/components/ComparisonTable/components/RowHeader/RowHeader.tsx
Labels: 🗂 circuit-ui

#3038 Fix dialog overflow
  .changeset/slimy-cars-clean.md
  packages/circuit-ui/components/Modal/Modal.module.css
Labels: 🗂 circuit-ui

#3045 Improve the sticky behavior of headers with ResizeObserver
  .changeset/gold-bananas-eat.md
  packages/circuit-ui/components/ComparisonTable/ComparisonTable.spec.tsx
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.spec.tsx
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.tsx
Labels: 🗂 circuit-ui

#3042 Version Packages
  .changeset/gold-bananas-eat.md
  .changeset/grumpy-moons-report.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3046 Align SidePanel z-index value with Dialog
  .changeset/clean-pears-complain.md
  packages/circuit-ui/components/SidePanel/SidePanel.module.css
Labels: 🗂 circuit-ui

#3043 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3049 Version Packages (next)
  .changeset/pre.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
Labels: 🗂 design-tokens

#3051 Version Packages
  .changeset/cold-eyes-kiss.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3053 Add official support for passing a ref to Modal
  .changeset/big-olives-lie.md
  packages/circuit-ui/components/Modal/Modal.tsx
Labels: 🗂 circuit-ui

#3054 fix modal context state updates when closing modals
  .changeset/dirty-places-give.md
  packages/circuit-ui/components/Modal/ModalContext.tsx
Labels: 🗂 circuit-ui

#3057 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3052 [AC-3395] Support aria attributes as alternative to label in ListItemGroup
  .changeset/clever-icons-change.md
  package-lock.json
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.spec.tsx
  packages/circuit-ui/components/ListItemGroup/ListItemGroup.tsx
Labels: ♿ accessibility, 🗂 circuit-ui

#3059 Display actions in TH of Comparison Table on mobile screens
  .changeset/shy-dingos-double.md
  packages/circuit-ui/components/ComparisonTable/components/TableHeader/TableHeader.module.css
Labels: 🗂 circuit-ui

#3060 Version Packages
  .changeset/clever-icons-change.md
  .changeset/shy-dingos-double.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3061 Fix sidepanel overflow
  .changeset/clean-maps-dream.md
  packages/circuit-ui/components/SidePanel/SidePanel.module.css
Labels: 🗂 circuit-ui

#3062 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui
