Repository sumup-oss/circuit-ui, pull requests merged in 2025-03, with the labels that each got.

#2974 mark the Timestamp component as stable
  .changeset/breezy-suns-impress.md
  .changeset/large-shirts-peel.md
  packages/circuit-ui/components/Timestamp/Timestamp.mdx
  packages/circuit-ui/experimental.ts
  packages/circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/component-lifecycle-imports/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2956 Add a TierIndicator component
  .changeset/moody-eyes-draw.md
  .changeset/smart-planets-repeat.md
  packages/circuit-ui/components/TierIndicator/TierIndicator.mdx
  packages/circuit-ui/components/TierIndicator/TierIndicator.module.css
  packages/circuit-ui/components/TierIndicator/TierIndicator.spec.tsx
  packages/circuit-ui/components/TierIndicator/TierIndicator.stories.tsx
  packages/circuit-ui/components/TierIndicator/TierIndicator.tsx
  packages/icons/manifest.json
  packages/icons/web/v2/plus_tier_16.svg
  packages/icons/web/v2/plus_tier_24.svg
  packages/icons/web/v2/plus_tier_32.svg
Labels: 🗂 circuit-ui, 🗂 icons

#2916 Popover
  .changeset/smart-pumas-design.md
  packages/circuit-ui/components/DateInput/DateInput.module.css
  packages/circuit-ui/components/Popover/Popover.mdx
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#2957 Optional Tier indicator in side navigation
  .changeset/shy-tips-roll.md
  packages/circuit-ui/components/SideNavigation/SideNavigation.stories.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: 🗂 circuit-ui, 🗂 icons

#2975 Version Packages
  .changeset/moody-eyes-draw.md
  .changeset/shy-tips-roll.md
  .changeset/smart-planets-repeat.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2979 export TierIndicator
  .changeset/forty-carrots-grow.md
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#2980 Version Packages
  .changeset/forty-carrots-grow.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2982 Fix Button and IconButton RSC compatibility
  .changeset/happy-singers-judge.md
  packages/circuit-ui/components/Button/Button.tsx
  packages/circuit-ui/components/Button/IconButton.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#2983 Version Packages
  .changeset/happy-singers-judge.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2985 fix keyboard interaction bug for the rows of the Table component
  .changeset/poor-peas-hunt.md
  packages/circuit-ui/components/Table/components/TableRow/TableRow.spec.tsx
  packages/circuit-ui/components/Table/components/TableRow/TableRow.tsx
Labels: 🗂 circuit-ui

#2990 Removed the irrelevant aria-pressed attribute from Hamburger
  .changeset/early-cows-hide.md
  packages/circuit-ui/components/Hamburger/Hamburger.spec.tsx
  packages/circuit-ui/components/Hamburger/Hamburger.tsx
Labels: 🗂 circuit-ui

#2989 remove superfluous aria-haspopup attribute from Popover component
  .changeset/five-schools-sit.md
  packages/circuit-ui/components/Popover/Popover.tsx
Labels: 🗂 circuit-ui

#2995 Add letter-spacing to theme docs
  .storybook/components/Theme.tsx
  .storybook/components/index.ts
  docs/features/1-theme.mdx
Labels: 📋 documentation

#2988 Improve accessibility of the Anchor component for external links
  .changeset/gentle-seahorses-press.md
  packages/circuit-ui/components/Anchor/Anchor.spec.tsx
  packages/circuit-ui/components/Anchor/Anchor.tsx
Labels: 🗂 circuit-ui

#2993 Refactor Tabs component
  packages/circuit-ui/components/Table/components/TableRow/TableRow.spec.tsx
  packages/circuit-ui/components/Tabs/Tabs.spec.tsx
  packages/circuit-ui/components/Tabs/Tabs.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.spec.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.tsx
  packages/circuit-ui/components/Tabs/components/TabList/TabList.tsx
Labels: 🗂 circuit-ui

#2987 fix issue with keyboard navigation of the tabs of the Tabs component
  .changeset/soft-jokes-chew.md
  packages/circuit-ui/components/Table/components/TableRow/TableRow.spec.tsx
  packages/circuit-ui/components/Tabs/Tabs.spec.tsx
  packages/circuit-ui/components/Tabs/Tabs.stories.tsx
  packages/circuit-ui/components/Tabs/Tabs.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.spec.tsx
  packages/circuit-ui/components/Tabs/components/Tab/Tab.tsx
  packages/circuit-ui/components/Tabs/components/TabList/TabList.tsx
  packages/circuit-ui/components/Tabs/components/TabPanel/TabPanel.tsx
Labels: 🗂 circuit-ui

#2986 Version Packages
  .changeset/early-cows-hide.md
  .changeset/five-schools-sit.md
  .changeset/gentle-seahorses-press.md
  .changeset/hungry-walls-destroy.md
  .changeset/poor-peas-hunt.md
  .changeset/soft-jokes-chew.md
  .changeset/stale-carrots-pull.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#2997 fix styling issue in ComparisonTable top left empty cell
  .changeset/lemon-mayflies-check.md
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.module.css
Labels: 🗂 circuit-ui

#2998 Version Packages
  .changeset/lemon-mayflies-check.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2999 Fix DateSegment width
  .changeset/odd-points-agree.md
  packages/circuit-ui/components/DateInput/components/DateSegment.spec.tsx
  packages/circuit-ui/components/DateInput/components/DateSegment.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3001 chore(docs): change freemium references to generic payment plans
  packages/circuit-ui/components/ComparisonTable/ComparisonTable.spec.tsx
  packages/circuit-ui/components/ComparisonTable/ComparisonTable.stories.tsx
  packages/circuit-ui/components/ComparisonTable/components/PlanTable/PlanTable.spec.tsx
  packages/circuit-ui/components/ComparisonTable/components/TableHeader/TableHeader.spec.tsx
  packages/circuit-ui/components/ComparisonTable/fixtures.tsx
Labels: 🗂 circuit-ui

#3003 Fix types for internal components
  .changeset/itchy-swans-shout.md
  packages/circuit-ui/tsconfig.json
Labels: 🐞 bug, 🗂 circuit-ui

#3000 Version Packages
  .changeset/itchy-swans-shout.md
  .changeset/odd-points-agree.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3004 Remove empty aria-describedby from Anchor
  .changeset/sour-tomatoes-beg.md
  package-lock.json
  packages/circuit-ui/components/Anchor/Anchor.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3005 Version Packages
  .changeset/sour-tomatoes-beg.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3006 Remove empty aria-describedby from all components
  .changeset/lemon-keys-cover.md
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/Checkbox/Checkbox.tsx
  packages/circuit-ui/components/CheckboxGroup/CheckboxGroup.tsx
  packages/circuit-ui/components/ImageInput/ImageInput.tsx
  packages/circuit-ui/components/Input/Input.tsx
  packages/circuit-ui/components/PhoneNumberInput/PhoneNumberInput.tsx
  packages/circuit-ui/components/Select/Select.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3007 Version Packages
  .changeset/lemon-keys-cover.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#2977 Refactor Dialog and Popover
  .github/workflows/cr.yml
  packages/circuit-ui/components/ActionMenu/ActionMenu.tsx
  packages/circuit-ui/components/DateInput/DateInput.tsx
  packages/circuit-ui/components/Dialog/Dialog.module.css
  packages/circuit-ui/components/Dialog/Dialog.spec.tsx
  packages/circuit-ui/components/Dialog/Dialog.tsx
  packages/circuit-ui/components/Popover/Popover.module.css
  packages/circuit-ui/components/Popover/Popover.spec.tsx
  packages/circuit-ui/components/Popover/Popover.stories.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/components/SidePanel/SidePanel.module.css
  packages/circuit-ui/components/SidePanel/components/Header/Header.module.css
  packages/circuit-ui/components/SidePanel/useSidePanel.tsx
  packages/circuit-ui/hooks/useScrollLock/useScrollLock.spec.ts
  packages/circuit-ui/hooks/useScrollLock/useScrollLock.ts
  packages/eslint-plugin-circuit-ui/README.md
  packages/eslint-plugin-circuit-ui/index.ts
  packages/eslint-plugin-circuit-ui/no-renamed-components/index.spec.tsx
  packages/eslint-plugin-circuit-ui/no-renamed-components/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#2978 Clean up design token dependencies
  .changeset/rich-monkeys-sneeze.md
  package-lock.json
  packages/design-tokens/README.md
  packages/design-tokens/index.ts
  packages/design-tokens/package.json
  packages/design-tokens/scripts/build.ts
  packages/design-tokens/utils/theme-prop-type.ts
Labels: 🗂 design-tokens

#3009 add aria-label to the IconButton component
  .changeset/wet-avocados-draw.md
  packages/circuit-ui/components/Button/IconButton.spec.tsx
  packages/circuit-ui/components/Button/IconButton.tsx
Labels: 🗂 circuit-ui

#3008 Upgrade all dependencies
  package-lock.json
  package.json
  packages/circuit-ui/package.json
  packages/circuit-ui/tsconfig.json
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/package.json
  packages/icons/package.json
  packages/stylelint-plugin-circuit-ui/package.json
  templates/astro/package.json
  templates/nextjs/template/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui

#3011 remove isExternal prop from SideNavigation
  .changeset/happy-carrots-vanish.md
  .changeset/thick-pianos-fly.md
  packages/circuit-ui/components/Anchor/Anchor.spec.tsx
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: 🗂 circuit-ui

#3002 Remove deprecated components
  .changeset/angry-comics-invent.md
  .changeset/dry-peaches-sin.md
  .changeset/shaggy-glasses-grin.md
  .changeset/spicy-pandas-glow.md
  packages/circuit-ui/components/RadioButton/RadioButton.tsx
  packages/circuit-ui/components/Selector/Selector.tsx
  packages/circuit-ui/components/SelectorGroup/SelectorGroup.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.mdx
  packages/circuit-ui/components/SubHeadline/SubHeadline.spec.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.stories.tsx
  packages/circuit-ui/components/SubHeadline/SubHeadline.tsx
  packages/circuit-ui/components/SubHeadline/index.ts
  packages/circuit-ui/components/Title/Title.spec.tsx
  packages/circuit-ui/components/Title/Title.tsx
  packages/circuit-ui/components/Title/index.ts
  packages/circuit-ui/index.ts
  packages/circuit-ui/legacy.ts
  packages/eslint-plugin-circuit-ui/no-deprecated-components/index.ts
Labels: 🗂 circuit-ui, 🗂 eslint-plugin-circuit-ui

#3013 Revert #3011
  .changeset/happy-carrots-vanish.md
  .changeset/thick-pianos-fly.md
  packages/circuit-ui/components/Anchor/Anchor.spec.tsx
  packages/circuit-ui/components/Anchor/Anchor.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.spec.tsx
  packages/circuit-ui/components/SideNavigation/components/PrimaryLink/PrimaryLink.tsx
  packages/circuit-ui/components/SideNavigation/types.ts
Labels: 🗂 circuit-ui

#3012 Add Bulk transfer icon
  .changeset/little-camels-call.md
  packages/icons/manifest.json
  packages/icons/web/v2/bulk_transfer_24.svg
Labels: 🗂 icons

#3016 Export the Dialog as an Internal component
  .changeset/true-adults-end.md
  packages/circuit-ui/components/Dialog/Dialog.mdx
  packages/circuit-ui/components/Dialog/Dialog.stories.tsx
  packages/circuit-ui/internal.ts
Labels: 🗂 circuit-ui

#3014 Refactor action menu with popover
  packages/circuit-ui/components/ActionMenu/ActionMenu.module.css
  packages/circuit-ui/components/ActionMenu/ActionMenu.spec.tsx
  packages/circuit-ui/components/ActionMenu/ActionMenu.tsx
  packages/circuit-ui/components/Popover/Popover.tsx
  packages/circuit-ui/index.ts
Labels: 🗂 circuit-ui

#3017 remove redundant element roles
  packages/circuit-ui/components/Pagination/Pagination.tsx
  packages/circuit-ui/components/Pagination/components/PageList/PageList.tsx
  packages/circuit-ui/components/SideNavigation/components/DesktopNavigation/DesktopNavigation.tsx
  packages/circuit-ui/components/SideNavigation/components/SecondaryLinks/SecondaryLinks.tsx
  packages/circuit-ui/hooks/useFocusList/useFocusList.stories.tsx
Labels: 🗂 circuit-ui

#2854 Version Packages (next)
  .changeset/pre.json
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/design-tokens/CHANGELOG.md
  packages/design-tokens/package.json
  packages/eslint-plugin-circuit-ui/CHANGELOG.md
  packages/eslint-plugin-circuit-ui/package.json
  packages/stylelint-plugin-circuit-ui/CHANGELOG.md
  packages/stylelint-plugin-circuit-ui/package.json
  templates/astro/CHANGELOG.md
  templates/astro/package.json
  templates/nextjs/template/CHANGELOG.md
  templates/nextjs/template/package.json
Labels: 🗂 circuit-ui, 🗂 design-tokens, 🗂 icons, 🗂 eslint-plugin-circuit-ui, 🗂 stylelint-plugin-circuit-ui
