Repository sumup-oss/circuit-ui, pull requests merged in 2025-06, with the labels that each got.

#3121 Version Packages
  .changeset/tangy-singers-notice.md
  .changeset/ten-radios-teach.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3141 Add comment for specific chrome behaviour for the Dialog's preventEsc…
  packages/circuit-ui/components/Dialog/Dialog.tsx
Labels: 🗂 circuit-ui

#3148 Update Toggle component styles for improved accessibility
  .changeset/famous-candles-occur.md
  packages/circuit-ui/components/Toggle/Toggle.module.css
Labels: 🗂 circuit-ui

#3140 Version Packages
  .changeset/beige-pianos-happen.md
  .changeset/famous-candles-occur.md
  .changeset/public-schools-beg.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3149 Filter locale attribute from SearchInput
  .changeset/ripe-dodos-beg.md
  packages/circuit-ui/components/SearchInput/SearchInput.tsx
Labels: 🐞 bug, 🗂 circuit-ui

#3142 Add swipe down to close support to modal Dialog
  .changeset/true-trees-bathe.md
  packages/circuit-ui/components/Dialog/Dialog.spec.tsx
  packages/circuit-ui/components/Dialog/Dialog.tsx
Labels: 🗂 circuit-ui

#3151 Version Packages
  .changeset/cuddly-heads-cover.md
  .changeset/true-trees-bathe.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: 🗂 circuit-ui, 🗂 icons

#3153 Version Packages
  .changeset/seven-squids-yell.md
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/package.json
Labels: 🗂 circuit-ui

#3154 Use container query to adapt NotificationBanner layout
  .changeset/eighty-trees-hide.md
  .storybook/public/images/illustration-update.svg
  packages/circuit-ui/CHANGELOG.md
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.module.css
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.stories.tsx
  packages/circuit-ui/components/NotificationBanner/NotificationBanner.tsx
Labels: 🗂 circuit-ui
